Repository CoronaTeamMOD/CoronaInvestigation, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, tests

removed comma from yaml
  .github/pr-labeler.yml
Labels: none

removeing test files
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
Labels: client, tests

Fix
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

first commit
  .github/auto-comment.yml
  .github/workflows/test_prs.yml
Labels: none

Fix (#1348)
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

added -
  .github/workflows/test_prs.yml
Labels: none

trying w/o @
  .github/workflows/test_prs.yml
Labels: none

remoing yaml
  .github/workflows/test_prs.yml
Labels: none

remvoed autocomment yaml
  .github/auto-comment.yml
Labels: none

adding comment-on-pr-action
  .github/workflows/test_prs.yml
Labels: none

.github/labeler.yml:

client:
  - 'client/**/*'

server:
  - 'server/**/*'

tests:
  - 'client/**/*.test.tsx'
  - 'client/**/*.test.ts'
  - 'client/**/*.test.jsx'
  - 'client/**/*.test.js'
