Repository CoronaTeamMOD/CoronaInvestigation, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server

.github/labeler.yml:

client:
  - any: ['client/**/*', '!client/.gitignore', '!client/README.md']

server:
  - any: ['server/**/*', '!server/.gitignore', '!server/README.md']

fix(Yml) fix syntx
  .github/workflows/test_prs.yml
Labels: none

test(actions) test pr action
  client/src/App.tsx
Labels: client

fix(actions) final fix to pr action yml
  .github/workflows/test_prs.yml
Labels: none

test(pr actions)
  client/src/index.css
Labels: client

debug(pr actions)
  .github/workflows/test_prs.yml
Labels: none

test actions
  client/src/hi.js
Labels: client

fix(debug(actions))
  .github/workflows/test_prs.yml
Labels: none

test pr actions 50
  client/src/index.css
Labels: client

fix(pr actions)
  .github/workflows/test_prs.yml
Labels: none

test actions again
  server/src/index.ts
Labels: server

test pr action on client changes
  client/src/index.css
Labels: client

fix(actions) added node setup to actions
  .github/workflows/test_prs.yml
Labels: none

test actions after npm setup
  client/src/App.tsx
Labels: client
