Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2020-09, with the labels that each got.

#47 feat(): added graphql request
  client/package-lock.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/GraphqlHTTPRequest.ts
  server/src/HTTPRequest.ts
  server/src/server.ts
Labels: client, server

#43 fix(static info bar)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
Labels: client

#48 Feat(new interaction event): Created the top fields on the new interaction card
  client/package-lock.json
  client/package.json
  client/src/commons/Buttons/PrimaryButton/PrimaryButton.tsx
  client/src/commons/Buttons/PrimaryButton/PrimaryButtonStyles.ts
  client/src/commons/Checkbox/CustomCheckbox.tsx
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/DatePick/DatePickStyles.ts
  client/src/commons/Toggle/Toggle.tsx
  client/src/commons/Toggle/ToggleStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InfoItemWithIcon/InfoItemWithIcon.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InfoItemWithIcon/InfoItemWithIconStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTabStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  client/src/components/App/Content/LandingPage/LandingPage.tsx
  client/src/models/InteractionEventVariables.ts
  client/src/styles/formStyles.ts
  server/package-lock.json
Labels: client, server

#49 feat(new contact additon):
  client/src/commons/CircleTextField/CircleTextField.tsx
  client/src/commons/CircleTextField/CircleTextFieldStyles.ts
  client/src/commons/Toggle/Toggle.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/StartInvestigationDateVariables/StartInvestigationDateVariables.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialogStyles.ts
  client/src/models/Contact.ts
  server/package-lock.json
Labels: client, server

#54 Feat(isolation tab): created isolation tab
  client/package.json
  client/src/commons/CircleSelect/CircleSelect.tsx
  client/src/commons/CircleSelect/CircleSelectStyles.ts
  client/src/commons/CircleTextField/CircleTextField.tsx
  client/src/commons/CircleTextField/CircleTextFieldStyles.ts
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/DatePick/DatePickStyles.ts
  client/src/commons/Toggle/ToggleStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/StartInvestiationDateVariables/StartInvestigationDateVariables.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/models/Check.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/InteractionEventVariables.ts
  client/src/models/StartInvestigationDateVariables.ts
  client/src/models/enums/ClinicalDetailsFields.ts
Labels: client

#53 feat(ci/cd): added ci with deployment of image to container registry per branch
  client/Dockerfile
  client/azure-client-pipeline.yml
  client/package.json
  server/Dockerfile
  server/azure-server-pipeline.yml
Labels: client, server

#56 feat(DB Connection): add db connection for landing page
  .gitignore
  client/src/Utils/axios.ts
  client/src/commons/LoadingSpinner/LoadingSpinner.tsx
  client/src/commons/LoadingSpinner/LoadingSpinnerStyles.ts
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/LandingPage.tsx
  client/src/components/App/Content/LandingPage/LandingPageStyles.ts
  client/src/models/User.ts
  client/src/redux/IsLoading/isLoadingActionCreators.ts
  client/src/redux/IsLoading/isLoadingActionTypes.ts
  client/src/redux/IsLoading/isLoadingReducer.ts
  client/src/redux/User/userReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#60 fix(ci/cd): added conditional change to process.env db route for each branch in pipeline
  client/.env-sample
  client/.gitignore
  client/azure-client-pipeline.yml
  client/src/Utils/axios.ts
Labels: client

#57 feat(Personal info tab): finished personalInfooTab ui with state management without db or validatiions :(
  client/package-lock.json
  client/src/commons/CheckBox/CustomCheckbox.tsx
  client/src/commons/CircleSelect/CircleSelect.tsx
  client/src/commons/CircleTextField/CircleTextFieldStyles.ts
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/commons/FormInput/FormInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/models/Address.ts
  client/src/models/Contexts/personalInfoContextData.ts
  client/src/models/enums/Gender.ts
  client/src/models/enums/IdentificationTypes.ts
  client/src/models/enums/PersonalInfoDataContextFields.ts
  client/src/models/enums/relevantOccupations.ts
  client/src/styles/formStyles.ts
  db scripts/CoronaDbDDL.sql
Labels: client

#51 Feat(new event dialog): added the form that are rendered by location type
  client/src/commons/AddressForm/AddressForm.tsx
  client/src/commons/CheckBox/CustomCheckbox.tsx
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/FormInput/FormInput.tsx
  client/src/commons/Toggle/Toggle.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/InteractionsEventDialogContext/InteractionsEventDialogContext.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialogInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/DefaultPlaceEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/OfficeEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/PrivateHouseEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/TransportationEventForm/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/TransportationEventForm/TransportationAdditionalForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/TransportationEventForm/TransportationAdditionalForms/OrganizedTransportEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/TransportationEventForm/TransportationAdditionalForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/TransportationEventForm/TransportationEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/models/Address.ts
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/StartInvestigationDateVariables.ts
  client/src/styles/formStyles.ts
Labels: client

#64 WIP: feat(InteractionsTab): add the Interactions display (ONLY UI)
  client/package-lock.json
  client/package.json
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCardStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCardStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/Interaction.ts
  client/src/redux/User/userReducer.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/config.ts
Labels: client, server

#65 fix(new-contact-bug): now can filling few of the form field
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#66 fix(personalInfoTab): changed labels to placeholders
  client/src/Utils/axios.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/TransportationEventForm/TransportationAdditionalForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  server/package-lock.json
Labels: client, server

#67 fix(ClinicalDetails): initialize dates with null
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/Contexts/ClinicalDetailsContextData.ts
Labels: client

#61 feat(static info): static info from db
  client/src/Utils/axios.ts
  client/src/Utils/displayUtils.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/models/InvestigationInfo.ts
  client/src/models/Person.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#68 Fix(db connections to status buttons): added the db connection to all status' change buttons
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/InvestigationTableRow.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/redux/IsLoading/isLoadingReducer.ts
  client/src/redux/User/userReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, server

#71 feat(ClinicalDetails): created connection to db and queries
  client/src/commons/CircleTextField/CircleTextFieldStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/PlacesAdditionalForms/HospitalEventForm.tsx
  client/src/models/Check.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Query.ts
Labels: client, server

#73 feat(ClinicalDetails): added is pregnant field
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
Labels: client

#72 feat(): add authentication only in prod
  client/.env-sample
  client/package-lock.json
  client/package.json
  client/src/TestHooks.tsx
  client/src/Utils/axios.ts
  client/src/components/App/App.tsx
  client/src/index.tsx
  client/src/models/User.ts
  client/src/models/enums/Environments.ts
  client/src/redux/User/userReducer.ts
  server/package.json
Labels: client, server

#58 feat(): clinical details db acsses
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/DbScripts.sql
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/Models/ClinicalDetails/CreateAddress.ts
Labels: server

#74 fix(cicd): pushing image to MOH for auth test
  client/azure-client-pipeline.yml
Labels: client

#75 fix(App.tsx): change to auth in dev and also change the URL
  client/.env-sample
  client/src/components/App/App.tsx
Labels: client

#76 logging(Auth) - added cookie-loggin auth middleware to debug stuff
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/middlewares/Authentication.ts
Labels: server

#78 debug(): add console.log for debug
  client/src/components/App/App.tsx
Labels: client

#81 fix(server/Dockerfile): fix the server image
  server/Dockerfile
Labels: server

#83 Feat(location autcomplete)
  client/.env-sample
  client/src/Contexts/ExposuresAndFlights.ts
  client/src/Utils/vendor/underscoreReplacement.ts
  client/src/commons/AutoCompletedField/AutoCompletedFieldStyles.ts
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/CircleTextField/CircleTextField.tsx
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/commons/FormRowWithInput/FormRowWithInput.tsx
  client/src/commons/LocationInputField/LocationInput.tsx
  client/src/commons/LocationInputField/OptionItem/LocationOptionItem.tsx
  client/src/commons/LocationInputField/useGoogleApiAutocomplete.ts
  client/src/commons/LocationInputField/useGoogleScriptInjector.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsEventDialogContext/InteractionEventAddressFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/models/Address.ts
  client/src/models/ExposureData.ts
  client/src/styles/formStyles.ts
Labels: client

#88 fix(otherBackgroundIllness): other background illness checkbox was added
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
Labels: client

#85 feat(generic location types component): created the generic types component and inserted it to the form component
  client/src/commons/Forms/LocationsTypesAndSubTypes/LocationsTypesAndSubTypes.tsx
  client/src/commons/Forms/LocationsTypesAndSubTypes/useLocationsTypesAndSubTypes.ts
  client/src/commons/Forms/LocationsTypesAndSubTypes/useLocationsTypesAndSubTypesInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/PrivateHouseEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TransportationEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/LocationsSubTypesByTypes.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetLocationSubTypesByTypes.ts
Labels: client, server

#89 feat(ClinicalDetails): show is pregnant toggle only if the investigat…
  client/src/Utils/axios.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/models/InvestigationRedux.ts
  client/src/redux/Gender/GenderActionCreators.ts
  client/src/redux/Gender/GenderActionTypes.ts
  client/src/redux/Gender/GenderReducer.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
Labels: client

#93 fix(googleAPI): google API key was added by env variable
  client/azure-client-pipeline.yml
Labels: client

#94 fix(env-quotes): fix cicd build
  client/azure-client-pipeline.yml
Labels: client

#95 fix(google-api):check google api value
  client/src/components/App/App.tsx
Labels: client

#97 fix(server.ts): testing cors
  server/src/server.ts
Labels: server

#91 fix(static info): fixes according to new db
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/models/InvestigatedPatientByInvestigatedPatientId.ts
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationMetadata.ts
  client/src/models/StaticUser.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#98 fix(auth): checking the Authentication only in prod
  server/src/middlewares/Authentication.ts
Labels: server

#99 fix(sync request): sync request was added to db query
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: server

#96 feat(Cities redux): Added cities to redux
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/City.ts
  client/src/redux/City/cityActionCreators.ts
  client/src/redux/City/cityActionTypes.ts
  client/src/redux/City/cityReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/Address/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/Address/Query.ts
  server/src/Models/Address/City.ts
  server/src/Models/Address/Street.ts
Labels: client, server

#100 fix(catch): return error when request failed
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: server

#103 fix(): remove the async await
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: server

#102 fix(landing page): added redux support
  client/src/Utils/axios.ts
  client/src/components/App/App.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/redux/Investigation/investigationReducer.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#104 fix(): add the next to the auth middleware
  server/src/middlewares/Authentication.ts
Labels: server

#105 feat(): set loading to false
  client/src/Utils/axios.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#106 fix(landing page): update investigation status
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#108 fix(cors): printing cors value for debug
  server/src/server.ts
Labels: server

#109 fix(allow cors): removing console.log and allow cors for now
  server/src/server.ts
Labels: server

#110 fix(server.js): add server for the client
  client/.gitignore
  client/Dockerfile
  client/server/package-lock.json
  client/server/package.json
  client/server/server.js
Labels: client

#112 feat(ClinicalDetails): clinical details added address
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  client/src/models/enums/DBAddress.ts
  client/src/models/enums/Street.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/Address.ts
  server/src/Models/Address/CreateAddress.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
  server/src/Models/ClinicalDetails/Investigation.ts
Labels: client, server

#117 fix(redux): set gender and investigated patient id in redux
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/redux/Gender/GenderReducer.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client

#118 fix(): remove manifest.json file
  client/public/manifest.json
  client/src/components/App/App.tsx
Labels: client

#114 feat(Personal info): finished personalInfoTab with all queries and mutations to db
  client/src/commons/AutoCompletedField/AutoCompletedFieldStyles.ts
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/commons/LocationInputField/LocationInput.tsx
  client/src/commons/LocationInputField/LocationInputFieldStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInputStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/PrivateHouseEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Address.ts
  client/src/models/Contexts/personalInfoContextData.ts
  client/src/models/Street.ts
  client/src/models/SubOccupationAndStreet.ts
  client/src/models/enums/PersonalInfoDataContextFields.ts
  client/src/models/enums/SubOccupationsSelectOccupations.ts
  client/src/models/enums/relevantOccupations.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/PersonalDetails/Mutation.ts
  server/src/DBService/PersonalDetails/Query.ts
  server/src/DBService/config.ts
Labels: client, server

#119 fix(contactEvent): synced create event with db
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/PrivateHouseEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
Labels: client, server

#115 feat/update time and updator
  client/src/components/App/App.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/Address/mainRoute.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/InvestigationMetadata.ts
  server/src/GraphqlHTTPRequest.ts
  server/src/server.ts
Labels: client, server

#90 Feat(automation locators)
  client/src/commons/CheckBox/CustomCheckbox.tsx
  client/src/commons/FormRowWithInput/FormRowWithInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InfoItem.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InfoItemWithIcon/InfoItemWithIcon.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#120 fix(clinicalDetails): symptoms and background diseases checked on load
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
Labels: client

#122 Fix/automation locators
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InfoItemWithIcon/InfoItemWithIcon.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
Labels: client

#123 fix/InvestigatedPersoninfo testId error
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#124 Fix/exposure db conection
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/DBService/Exposure/Mutation.ts
  server/src/DBService/Exposure/Query.ts
Labels: server

#125 fix(): fixed redirect swal font
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
Labels: client

#116 feat/events-and-contacts-loading
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetContactEvent.ts
  server/src/Models/ContactEvent/GetPlacesSubTypesByTypes.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
  server/src/Models/Person/Person.ts
Labels: client, server

#127 fix(): fixed swal font to assistent, and fixed loading spinner to be on full screen
  client/src/commons/LoadingSpinner/LoadingSpinner.tsx
  client/src/commons/LoadingSpinner/LoadingSpinnerStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBarStyles.tsx
Labels: client

#128 parse request body to json to avoid sending id seperatly
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/Models/Exposure/Exposure.ts
Labels: server

#130 fix(): occupation query
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
Labels: client

#129 fix(TabManagement): add handle tab save on tab click
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
Labels: client

#132 fix(landing page): show only relevant investigations
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/redux/User/userReducer.ts
Labels: client

#131 fix(save-form-flow): fixed the bugs
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/components/App/App.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/PersonalDetails/Mutation.ts
  server/src/DBService/PersonalDetails/Query.ts
  server/src/Models/ClinicalDetails/Investigation.ts
Labels: client, server

#136 fix(): city name
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#137 fix(clinical details): reseting the form after toggle no
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
Labels: client, server

#134 Fix/contact-events-mutations
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialogInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/useEditInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialogInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetContactEvent.ts
Labels: client, server

#142 fix(contact event)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
Labels: client

#146 fix(clinicalDetails): changed db value to correct one
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Contact.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
Labels: client, server

#143 fix(update-contact-event):
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/useEditInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#141 fix(auth)
  client/src/Utils/axios.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/Address/mainRoute.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/GraphqlHTTPRequest.ts
  server/src/middlewares/Authentication.ts
  server/src/server.ts
Labels: client, server

#133 Feat(phone number validations): added validations for all phone numbers in project
  client/src/Utils/Validations/Validator.test.ts
  client/src/Utils/Validations/Validator.ts
  client/src/commons/CircleTextField/CircleTextField.tsx
  client/src/commons/PhoneNumberTextField/PhoneNumberTextField.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, server

#150 fix(auth): case sensitive linux
  server/src/middlewares/Authentication.ts
Labels: server

#151 debug(auth env)
  server/src/middlewares/Authentication.ts
Labels: server

#154 fix(reqHeaders): now the req header epNumber is saved correctly
  server/src/middlewares/Authentication.ts
Labels: server

#156 fix(auth): adding stub token
  server/src/middlewares/Authentication.ts
Labels: server

#155 fix(investigations by last updator)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InteractionEventVariables.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#158 fix(): add no auth env var
  client/.env-sample
  client/azure-client-pipeline.yml
  client/src/components/App/App.tsx
Labels: client

#139 feat(InvestigationForm): add save on exit
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#160 fix(InteractionsTab.tsx): investigation dates are now loaded
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
Labels: client

#157 fix(contactEvent): synced address fields ux
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/DefaultPlaceEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OtherPublicLocationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/SchoolEventForm.tsx
Labels: client

#152 feat(More automation locators)
  client/src/commons/CheckBox/CustomCheckbox.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#162 fix(clinicalDetails): now always fetch the streets
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
Labels: client

#164 fix(auth)
  client/src/Utils/axios.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/package-lock.json
  server/package.json
  server/src/middlewares/Authentication.ts
  server/src/server.ts
Labels: client, server

#166 fix(): keep only the id part before @
  client/src/components/App/App.tsx
Labels: client

#163 Feat/call center integration
  client/src/components/App/App.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  server/src/ClientToDBAPI/CallRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
Labels: client, server

#165 fix(exposuresAndFlights) : exposures and flights dates are now loaded #223
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/models/ExposureData.ts
  client/src/models/FlightData.ts
Labels: client

#169 fix(db): stubuser name
  client/src/components/App/App.tsx
  server/src/middlewares/Authentication.ts
Labels: client, server

#167 fix(interactions tab): NOW user can save contact events
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  server/src/DBService/ContactEvent/Mutation.ts
Labels: client, server

#168 fix(clinical details): init street by city
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: client, server

#172 fix(endTime): end time timestamp was added when investigation completed
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, server

#171 fix(update_investigation_data): updated the query and add the environment variables to CICD
  client/azure-client-pipeline.yml
  client/src/components/App/App.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/enums/InvestigationStatus.ts
  server/package-lock.json
  server/package.json
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/DBService/config.ts
  server/src/DBService/postgraphile.ts
Labels: client, server

#149 fix(): preparing to nullable id
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
Labels: client, server

#175 fix(investigation): fixed status mutation and disabled a select when …
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, server

#177 fix(Personal Info): occupation extra info default value
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
Labels: server

#176 Add custom title font for swal phone call error
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#178 fix(exposuresAndFlights) : nullify initial values
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/models/ExposureData.ts
  client/src/models/FlightData.ts
Labels: client

#179 feat(System Name): new name
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
Labels: client

#180 fix(ClinicalDetails): unknown symptoms start time checked save
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  server/src/DBService/InvestigationMetadata.ts
Labels: client, server

#170 Feat(validations prevent save): phone number validations now prevent writing to db, also created basis for future validations
  client/azure-client-pipeline.yml
  client/src/Utils/Validations/Validator.ts
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/commons/PhoneNumberTextField/PhoneNumberTextField.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialogInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/useEditInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsEventDialogContext/InteractionsEventDialogContext.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialogInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Contact.ts
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/Contexts/personalInfoContextData.ts
  client/src/models/PhoneNumberControl.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
Labels: client, server

#181 fix(contactDetails): getting the epidemiologynumber from the request
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
Labels: client, server

#184 Feat/new call api
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  server/src/ClientToDBAPI/CallRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
Labels: client, server

#187 fix(InteractionTab): id and phone bug fixes
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/useEditInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: client, server

#186 Fix/interrogation status
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#182 feat(): add deployment for the dev-auth environment
  client/azure-client-pipeline.yml
  client/src/components/App/App.tsx
  client/src/models/enums/Environments.ts
Labels: client

#188 fix( personalInfoTab streets): fixed streets on load info from db
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#189 fix(BusEventForm): fix event dialog events
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TrainEventForm.tsx
Labels: client

#190 fix(axios): change content-type to text
  client/src/Utils/axios.ts
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
  client/src/components/App/AppToolbar/TopToolbar/TopToolbarStyles.ts
  server/src/middlewares/ConvertToObject.ts
  server/src/server.ts
Labels: client, server

#193 fix(personal info): save contact phone number to db
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
Labels: client

#195 fix(PlacesTypesAndSubTypes): fixed set of default sub placetype
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
Labels: client

#198 fix(): add cors header
  client/src/Utils/axios.ts
Labels: client

#192 fix:(add required indication on required fields bug #240)
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/CircleSelect/CircleSelect.tsx
  client/src/commons/CircleSelect/CircleSelectStyles.ts
  client/src/commons/CircleTextField/CircleTextField.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/commons/PhoneNumberTextField/PhoneNumberTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#199 fix(): add empty body
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#202 fix(): add logs to server
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/middlewares/Authentication.ts
  server/src/middlewares/ConvertToObject.ts
Labels: server

#205 fix(Authentication.ts): add split to the user decode
  client/src/components/App/App.tsx
  server/src/middlewares/Authentication.ts
Labels: client, server

#204 Fix/google maps integration
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/Utils/vendor/useDBParsing.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/LocationInputField/LocationInput.tsx
  client/src/commons/LocationInputField/OptionItem/LocationOptionItem.tsx
  client/src/commons/LocationInputField/useGoogleApiAutocomplete.ts
  client/src/commons/LocationInputField/useGoogleScriptInjector.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/useEditInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/ExposureData.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
Labels: client, server

#206 fix(contactEvent): prevent duplicate contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#207 fix(contactEvent): reset-when-valid
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: server

#208 fix(): change server url
  client/azure-client-pipeline.yml
Labels: client

#209 fix(investigations): change from name to id
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: server

#210 fix(token) - fetch different claim as id
  server/src/middlewares/Authentication.ts
Labels: server

#194 fix(datePick) : fixed - changing date data
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#200 fix(contact event): displaying contact events differently
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/BusinessContactGrid/BusinessContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCardStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/DefaultPlaceEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/HospitalEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/MedicalLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OfficeEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OtherPublicLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/PrivateHouseEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/SchoolEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/BusEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/FlightEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/OrganizedTransportEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/TrainEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/TransportationEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/Models/ContactEvent/GetContactEvent.ts
Labels: client, server

#201 fix(ClinicalDetails): save and show other symptom/background disease more info from db
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
  server/src/Models/ClinicalDetails/Investigation.ts
Labels: client, server

#213 fix(investigation dates):
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/ClinicalDetails/CoronaTestDateQueryResult.ts
Labels: client, server

#215 fix(investigation date): the last investigated date is when the inves…
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/ClinicalDetails/CoronaTestDateQueryResult.ts
Labels: client, server

#216 fix(personal info tab): the streets by city axios isnt commited when …
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#217 fix(client/cicd): change dev no auth server
  client/azure-client-pipeline.yml
Labels: client

#214 Feat/remove wrappers
  client/src/commons/AutoCompletedField/AutoCompletedFieldStyles.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/CircleSelect/CircleSelect.tsx
  client/src/commons/CircleSelect/CircleSelectStyles.ts
  client/src/commons/CircleTextField/CircleTextField.tsx
  client/src/commons/CircleTextField/CircleTextFieldStyles.ts
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/FormInput/FormInput.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/commons/PhoneNumberTextField/PhoneNumberTextField.tsx
  client/src/commons/RoundedSelect/RoundedSelect.tsx
  client/src/commons/RoundedSelect/RoundedSelectStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/DefaultPlaceEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OfficeEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OtherPublicLocationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/styles/formStyles.ts
  client/src/styles/theme.ts
Labels: client

#218 fix(Query): use mho code instead of id
  server/src/DBService/Address/Query.ts
Labels: server

#219 feat(ContactDateCard): added day of week
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/models/enums/DayOfWeek.ts
Labels: client

#191 fix(client/cicd): dismiss one build
  client/azure-client-pipeline.yml
Labels: client

#212 fix(clinicalDetails): reset address also after backspacing
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/PrivateHouseEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#223 feat(cicd): add testers environments and mabar-dev for a new server
  client/azure-client-pipeline.yml
  server/azure-server-pipeline.yml
Labels: client, server

#225 fix(city streets): now query the id and not mho code
  server/src/DBService/Address/Query.ts
Labels: server

#224 fix(contact date): now there isnt a button whenever no events
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCardStyles.ts
Labels: client

#227 fix(Authentication.ts): change middleware id key to env variable
  server/.env-sample
  server/src/middlewares/Authentication.ts
Labels: server

#228 fix - address grid
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
Labels: client

#230 fix(fix(contacts)) fixed address grid
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
Labels: client

#229 fix(clinical and personal details): changed personal info address and clinical details other checks
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/Address.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/PersonalDetails/Mutation.ts
Labels: client, server

#231 feat(PersonalInfo): added patient contact info field
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/models/Contexts/personalInfoContextData.ts
  client/src/models/enums/PersonalInfoDataContextFields.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/PersonalDetails/Mutation.ts
  server/src/DBService/PersonalDetails/Query.ts
Labels: client, server

#233 feat(contact event): implement the delete of contact event
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTabStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
  server/src/Models/ContactEvent/Mutation.ts
Labels: client, server

#235 feat(buisnessContactForm automation locators)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
Labels: client

#232 fix(contact event) location types
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/DefaultPlaceEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/HospitalEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OtherPublicLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/SchoolEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/useEditInteractionEventDialog.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/DefaultPlaceEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OtherPublicLocationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsEventDialogContext/InteractionEventAddressFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/useNewInteractionEventDialog.ts
  client/src/models/Address.ts
Labels: client

#238 fix(time-picker)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#239 feat(forms) Create alphanumeric text field
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextFieldTypes.ts
Labels: client

#243 Fix/yup missing package
  client/package-lock.json
  client/package.json
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
Labels: client

#241 fix(contact events): fixed bugs regarding to the contact event flow
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/FlightEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/models/Address.ts
  db scripts/Contact_functions/delete_contact_event_function.sql
  db scripts/Contact_functions/update_contact_event_function.sql
  db scripts/Contact_functions/update_contact_person.sql
Labels: client

#242 fix(InvestigationTable): reverse order of epidemiology number
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client
