Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2020-11, with the labels that each got.

#640 fix(validations and toggles):fixed first time validations and contacts questioning toggles
  client/src/commons/AlphabetTextField/AlphabetTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#634 fix(clinicalDetails): remove clinical details context
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
Labels: client

#641 fix(user) change user's investigation count to be by creator
  server/src/DBService/Users/Query.ts
Labels: server

#642 fix(user) change user's investigation count to be by creator
  server/src/DBService/Users/Query.ts
Labels: server

#644 fix(): fix db writing
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
Labels: client

#645 feat(reopen investigation): allowing to reopen investigation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumnStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/commentDisplay/commentDisplay.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
Labels: client, server

#649 fix(): phonenumber - send null instead of empty srting
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
Labels: client

#646 fix(InteractionEventForm): make externalization invisible when placetype is 'private home'
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#651 fix(privatePlaceValue): changing value without onChange function
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#650 fix(InteractionEventForm):make externalization invisible when placety…
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#647 feat(disable-fields-when-reopen): disabling fields when reopening investigation
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/Toggle/Toggle.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationRedux.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#654 feat(reset-deskId) - changing investigation county will nullify deskId
  server/src/DBService/Users/Mutation.ts
Labels: server

#653 feat(useTabManagement.ts): prevent going to contacts if some of the first three tabs are invalid/unvisited
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
  client/src/models/enums/TabId.ts
Labels: client

#652 feat(investigation table): now investigator can click a done investigation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumnStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#655 feat(ContactQuestioning): added contact status
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/useContactExcel.ts
  client/src/models/ContactStatus.ts
  client/src/models/InteractedContact.ts
  client/src/models/enums/InteractedContact.ts
  client/src/models/enums/contactQuestioningExcelFields.ts
  db scripts/update_contact_person.sql
  db scripts/update_contact_persons.sql
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactedPeople/Query.ts
Labels: client, server

#659 feat(Excel/upload interactions): change from cant reach to status
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
Labels: client, server

#660 fix(send investigation to integration): sending the investigation to integration when done status
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/.env-sample
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
  server/src/Utils/InterfacesIntegration.ts
Labels: client, server

#658 Feat(contact questioning) disable fields on complete
  client/src/Utils/vendor/useContactFields.ts
  client/src/commons/AlphanumericTextField/AlphanumericTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/models/Contact.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: client, server

#657 feat(desk): display desks by county in investigations table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/Desk.ts
  server/src/ClientToDBAPI/DesksRoute/mainRoute.ts
  server/src/DBService/Desk/Query.ts
  server/src/Models/Desk/GetAllDesks.ts
Labels: client, server

#662 fix(Menu Router): Use NavLink insteaf of href attr on button
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
Labels: client

#661 fix(Query): removed cant reach contact field
  server/src/DBService/ContactedPeople/Query.ts
Labels: server

#664 fix(ContactQuestioningInfo): disabled autocomplete if status is complete
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
Labels: client

#666 feat(change-investigation-desk) - Changing desk in investigation table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Mutation.ts
Labels: client, server

#663 Feat/isolation source
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/IsolationSource.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
  server/src/Models/ClinicalDetails/GetInvestigatedPatientClinicalDetailsFields.ts
  server/src/Models/ClinicalDetails/Investigation.ts
Labels: client, server

#667 fix(investigaitonTable): display desks autoComplete to admin and super admin and add admin middleware
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: client, server

#665 fix(interactions)
  client/src/Utils/vendor/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
Labels: client

#668 fix(ContactQuestioningInfo.tsx): fix accordion select on changing option
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
Labels: client

#669 fix(): removed unused variables and imports
  client/src/commons/FormInput/FormInput.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/commons/LoadingSpinner/LoadingSpinnerStyles.ts
  client/src/commons/Map/Map.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#671 feat(ExcelFormatDownloader.tsx): add contacts excel format download
  client/public/assets/contactFormat.xlsx
  client/public/assets/img/downloadExcel.png
  client/public/assets/img/uploadExcel.png
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelFormatDownloader/ExcelFormatDownloader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelFormatDownloader/ExcelFormatDownloaderStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ExcelUploaderStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCardStyles.ts
Labels: client

#670 feat(id-validations):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/ContactedPeople/Mutation.ts
Labels: client, server

#672 fix(contact questioning): disabling save button and adding warning to status change
  client/src/Utils/vendor/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
Labels: client

#675 feat(InterfacesIntegration.ts): add dev with integration API condition
  server/src/Utils/InterfacesIntegration.ts
Labels: server

#673 Feat/user desk filter
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/FilterTableOption.ts
  client/src/models/User.ts
  server/src/DBService/Users/Query.ts
Labels: client, server

#676 fix(DownloadedExcel): drop down list for all rows
  client/public/assets/contactFormat.xlsx
Labels: client

#674 fix(investigationTable): add title for desk that were not assigned to investigation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#677 feat(InterfacesIntegration.ts): add logs
  server/src/Utils/InterfacesIntegration.ts
Labels: server

#679 fix(InterfacesIntegration.ts): fix the sent json structure
  server/src/Utils/InterfacesIntegration.ts
Labels: server

#681 fix(contacts) fix issue with undefined contacts instead of empty array
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#682 fix(SymptomsFields.tsx): exclude other
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
Labels: client

#683 fix(useTabManagement): fix validation work properly
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
Labels: client

#680 fix(InterfacesIntegration.ts): fix integration json structure and add…
  server/src/Utils/InterfacesIntegration.ts
Labels: server

#684 fix(Autocomplete): add on input change condition
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#685 fix(InvestigationTable): handle bug of disappeared desk value
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#687 fix(eventType): checking null before comparing types
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#686 fix(id-validations):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/ContactedPeople/Mutation.ts
Labels: client, server

#689 feat(ContactQuestioningInfo.tsx): add save contact on status change
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
Labels: client

#690 fix(institution name): the instution name is now displayed when entering tab
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#691 fix(PersonalInfoTab.tsx): fix the grade change bug
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#693 change both /symptoms and /backgroundDiseases routes to get
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: client, server

#694 change both /symptoms and /backgroundDiseases routes to get
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: client, server

#692 fix(duplicate id validations):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  db scripts/check_duplicates_ids.sql
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactedPeople/Mutation.ts
Labels: client, server

#695 fix(contact save): saving contact when completed as well
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
Labels: client

#697 Feat/improve user loading
  client/src/components/App/App.tsx
Labels: client

#696 fix(duplicate ids error handling):
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  db scripts/check_duplicates_ids.sql
  db scripts/update_contact_person.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: client, server

#698 fix(intergation api): now there isnt a request to api whenever finishing investigation
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
Labels: server

#699 fix(end investigation id validations):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#700 fix(save contact validations):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#702 fix(): check for duplicate id's
  client/public/assets/contactFormat.xlsx
Labels: client

#703 fix(id validations in contact status):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#704 fix(symptoms) remove duplicate controllers for same field
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
Labels: client

#701 fix(investigation status)
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#705 fix(id validations on status change):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#706 fix(ContactQuestioningInfo.tsx): save completed contact if valid
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
Labels: client

#708 fix(null ids): allowing null ids to be saved.
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#710 fix(excel): checking the excel for duplicate ids and fixing duplicates check
  client/src/Utils/vendor/useDuplicateContactId.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  db scripts/update_contact_persons.sql
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: client, server

#711 fix(duplicateIdsErrorMsg): fix imports
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#712 fix(investigationTable-filter-desks) - Show all users when desks filter is empty
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#713 fix(investigation status)
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/InvestigationStatus.ts
Labels: client

#715 fix(investigation) desk is not set to null when changing investigator
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
Labels: server

#714 fix (userManagement)
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementTableHeaders.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/models/enums/SignUpFields.ts
Labels: client

#717 fix(build)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#709 fix(default place type): now there isnt default place type anymore
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
Labels: client

#718 Feat(contact questioning) quarantine validations
  client/src/Utils/vendor/useContactFields.ts
  client/src/commons/CustomSwal/CustomSwalStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/useContactExcel.ts
  client/src/models/enums/ContactType.ts
  client/src/models/enums/InteractedContact.ts
  client/src/models/enums/contactQuestioningExcelFields.ts
Labels: client

#721 feat(InvestigationStatusColumn): added status information icon
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumnStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
Labels: client

#720 feat(admin status):
  client/src/components/App/App.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client

#724 fix(ClinicalDetails): initialize street value when changing city
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
Labels: client

#723 feat(contact): disable if investigation was reopened
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
Labels: client

#722 feat(useInvestigationTable): update sub status on desk and county change
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#727 move onClick function to IconButton
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilter.tsx
Labels: client

#729 fix(id-validation on ContactQuestioning):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#731 fix(interactions): filtering interacted contact idNumber
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
Labels: client

#728 feat(InvestigationTable): add counter message
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#730 fix(id-validation on ContactQuestioning):
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#732 fix(contacts validations): the ids validations now ignores empty strings
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
Labels: client

#733 feat(Associated user): Assign investigation to admin.groupXX user on county change
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#734 feat(logout) add logout icon button
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
Labels: client

#735 fix(ClinicalDetails): fix city change
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
Labels: client

#736 feat(InvestigationTableStyles.ts): fix the filter card positioning
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#725 Fix(investigation status) update on investigation enter
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#737 Feat(sub status status reason)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationStatus.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/redux/Status/statusesActionCreators.ts
  client/src/redux/Status/statusesActionTypes.ts
  client/src/redux/Status/statusesReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#738 Feat/axios loading
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/index.tsx
Labels: client

#740 fix(ids): prevent duplicate ids
  client/public/assets/contactFormat.xlsx
  client/src/Utils/vendor/useDuplicateContactId.ts
  client/src/commons/CustomSwal/CustomSwalStyles.ts
  client/src/commons/CustomSwal/useCustomSwal.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
  client/src/models/InteractedContact.ts
Labels: client

#741 fix(save-vontact-duplicate-id): fix save contact
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#742 fix(finish-investigation): change useEffect location to rerender fini…
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
Labels: client

#744 fix(Utils/axios.ts): reduce setIsLoading calls
  client/src/Utils/axios.ts
Labels: client

#746 fix(Utils/axios.ts): reduce setIsLoading calls
  client/src/Utils/axios.ts
Labels: client

#748 fix(ui and logs): fixed swal scroll, fonts, logs and disabling event delete
  client/src/commons/CustomSwal/CustomSwalStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#749 fix(status reason regex)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#750 feat(InvestigationTable): added transfered investigation indication
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationNumberColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationStatusNumberStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumnStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, server

#751 fix(InvestigatedPersonInfo): removed duplicate reason autocomplete
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#752 fix(contacts validations): fixed disabling contacts after completed conditinally and added isolation validations
  client/src/Utils/StatusUtils/useStatusUtils.ts
  client/src/Utils/vendor/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/Contact.ts
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/InteractedContact.ts
  db scripts/update_contact_event_function.sql
  db scripts/update_contact_person.sql
  db scripts/update_contact_persons.sql
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/Models/ContactEvent/GetContactEvent.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
Labels: client, server

#757 fix(InvestigationStatusColumn): remove unnecessary status indication
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#758 fix(status change): disable new instead of not display it
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#759 feat(logger) add option to setup logger with initial params
  client/src/logger/logger.ts
  client/src/models/Logger.ts
  server/src/Logger/Logger.ts
  server/src/Models/Logger/types.ts
Labels: client, server

#753 fix(ids): duplicate ids dev
  client/public/assets/contactFormat.xlsx
  client/src/Utils/vendor/useContactFields.ts
  client/src/Utils/vendor/useDuplicateContactId.ts
  client/src/commons/CustomSwal/CustomSwalStyles.ts
  client/src/commons/CustomSwal/useCustomSwal.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/InteractedContact.ts
Labels: client

#755 feat(InvestigationTableFooter): add footer and multiple investigation transfer
  client/src/Utils/UsersUtils/useUsersUtils.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/FooterAction/FooterAction.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/FooterAction/FooterActionStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferDialogsStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDesk.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDeskInputsNames.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDeskSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigator.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigatorInputNames.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigatorSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/InvestigatorOption.ts
  client/src/models/Logger.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/LandingPage/Mutation.ts
  server/src/DBService/Users/Mutation.ts
  server/src/GraphqlHTTPRequest.ts
Labels: client, server

#761 feat(ExposuresAndFlights): added resort location
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/models/ExposureData.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/Exposure/Query.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#754 fix(interactions)
  client/src/Utils/placeTypesCodesHierarchy.ts
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/FormInput/FormInput.tsx
  client/src/commons/FormRowWithInput/FormRowWithInput.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/commons/LocationInputField/LocationInput.tsx
  client/src/commons/Map/Map.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/BusinessContactGrid/BusinessContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/DefaultPlaceEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/HospitalEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/MedicalLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OfficeEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OtherPublicLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/SchoolEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/BusEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/FlightEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/TrainEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/TransportationEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlaceNameForm/DefaultPlaceEventFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlaceNameForm/PlaceNameForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlaceTypeForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/DefaultPlaceEventForm/DefaultPlaceEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/MedicalLocationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OfficeEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OtherPublicLocationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/PrivateHouseEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/OrganizedTransportEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TransportationEventForm.tsx
  client/src/components/App/Content/SignUp/SignUpForm/SignUpForm.tsx
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilter.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  client/src/styles/formStyles.ts
  db scripts/update_contact_event_function.sql
  server/src/DBService/ContactEvent/Query.ts
Labels: client, server

#762 fix(): removed geriatrics from work options
  client/public/assets/contactFormat.xlsx
Labels: client

#763 fix(headers-erros): bug 956
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: server

#765 fix(InvestigationStatusColumn): icon shouldn't display If no reason was written
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
Labels: client

#766 fix(finish-without-contacts): bug fix from test branch
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
Labels: client

#764 change logs to the new method that naaman wrote
  client/src/Utils/vendor/useDuplicateContactId.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#769 fix(filter by desk) - closes when clicking the icon button and not only the close icon
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#770 fix(personalInfoTab): display error message in defense forces
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#767 fix(excel duplicate keys): added dates to error message
  client/src/Utils/vendor/useDuplicateContactId.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/models/Contact.ts
Labels: client

#772 fix(investigation table)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#775 fix(InteractionEventForm): cancel displaying error when placeType and placeSubType are correct
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#776 fix(cancel-finish-investigation)
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#777 fix(toggle default value):
  client/src/commons/Toggle/Toggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
Labels: client

#778 fix(contact questioning): when clicking cancel on completeing contact, it changes back
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
Labels: client

#779 fix(usersManagement): present and sort by username instead of fullName
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementTableHeaders.ts
Labels: client

#781 fix(toggle): change if value is not null
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#780 fix(logut): redirecting the logout to base route
  client/src/Utils/Routes/Routes.ts
  client/src/components/App/Content/Content.tsx
Labels: client

#782 fix(end time validation in contact event):
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
Labels: client

#783 feat(InteractionEventForm): add validations for externalization of places
  client/src/commons/DatePick/TimePick.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: client, server

#785 fix(sub status): add to opened investigation the sub status of in process
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/enums/InvestigationSubStatus.ts
Labels: client

#784 fix(interactions tab): now not calculating the dates after axios requests are done
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  client/src/logger/logger.ts
Labels: client

#786 fix(end-time): remove duplicate-id db check
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/ContactedPeople/Mutation.ts
Labels: server

#787 fix(externalization-toggle)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#788 fix(InteractionEventForm): fixed Interaction event form UI
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlaceNameForm/PlaceNameForm.tsx
Labels: client

#789 fix(extetnalization approval): add error indication if extetnalization approval was not selected
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#790 fix(investigation table)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/commentDisplay/commentDisplay.tsx
Labels: client

#794 fix(interactionForm): create interaction even if externalization approval was not selected
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
Labels: client

#796 Fix/investigation status text size
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumnStyles.ts
Labels: client

#797 fix(): changed the Autocomplete props , removed onInputchange
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigator.tsx
Labels: client

#795 fix(transfer-reason): transfer reason now works as it should
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationNumberColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationStatusNumberStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  db scripts/groupInvestigationsSort.sql
  db scripts/userInvestigationsSort.sql
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/LandingPage/Mutation.ts
  server/src/DBService/Users/Mutation.ts
Labels: client, server

#793 fix(contact event name):
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
Labels: client

#792 fix(reverse dates after event creation):
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
Labels: client

#798 fix(resort-load): solve bug 984 resorts weren't loaded correctly
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/models/ResortData.ts
Labels: client

#791 feat(InvestigatedPersonInfo): added no reason option on status in proccess
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/enums/InvestigationSubStatus.ts
Labels: client

#799 fix(InteractionEventForm.tsx): convert externalization approval to false
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#800 fix(reason) hide tooltip when transfer reason is null
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationNumberColumn.tsx
Labels: client

#801 fix(InteractionEventForm.tsx): change interaction data start time
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#802 fix(id-validation):
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
Labels: client

#803 fix(id-validation): (#802)
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
Labels: client

#805 fix(styles)
  client/src/index.css
Labels: client

#806 fix(PersonalInfoTab): initialize subOccupation on occupation change
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
Labels: client

#810 fix(interactionSchema): undisabling externalization input when placeType is transportation and make it required
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
Labels: client

#812 fix(interactionSchema): undisabling externalization input when placeType is transportation and make it required
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
Labels: client
