Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2020-12, with the labels that each got.

#856 fix(Irrelevant contact events deletion):
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/useSymptomsFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#857 feat(education display): indication education contacts and showing all relevant fields
  client/src/commons/Icons/EducationContactIcon.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/models/InvolvedContact.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
Labels: client, server

#861 Feat(grouped investigations on investigations table)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#860 fix(get dates to investigate error handling):
  client/src/Utils/DateUtils/useDateUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#859 Fix(InvestigationTable): Close dropdown out of cell bug #1082
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#862 fix(events): moved the tab form from being the dialog's form parent
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
Labels: client

#844 feat(vertical tabs)
  client/src/Utils/placeTypesCodesHierarchy.ts
  client/src/commons/FormInput/FormInput.tsx
  client/src/commons/FormInput/FormInputStyles.ts
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCardStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCardStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactTypeKeys.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ManualContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionDetailsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/HospitalEventForm/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/PlaceNameForm/DefaultPlaceEventFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/PlaceNameForm/PlaceNameForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/SchoolEventForm/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/TransportationFormsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/styles/formStyles.ts
Labels: client

#863 fix(contact id): save empty id as null in contact questioning
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#864 feat(flight seats): add the option to add flight seats
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/FlightEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/FlightEventForm.tsx
  client/src/styles/formStyles.ts
Labels: client

#865 fix(main table) added 'normal' wrap to comment styles
  client/src/components/App/Content/LandingPage/InvestigationTable/commentDisplay/commentDisplayStyles.ts
Labels: client

#866 feat/disband grouped investigations
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/FooterAction/FooterAction.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/FooterAction/FooterActionStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/useGroupedInvestigations.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  db scripts/disband_group_ids.sql
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
  server/src/DBService/GroupedInvestigations/Mutation.ts
Labels: client, server

#870 fix(delete events): now the events are deleted properly
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
Labels: client, server

#871 fix(event form): changed the color of the change sub form button
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialogStyles.ts
Labels: client

#869 feat(education contacts): added the education contacts display on interactions tab
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EducationContactsDialog/EducationContact/EducationContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EducationContactsDialog/EducationContactsDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EducationContactsDialog/EducationContactsDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTabStyles.ts
  client/src/models/InvolvedContact.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
Labels: client, server

#867 fix(group-reason)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/utils.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#872 Feat/group inv color
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#886 fix(unnecessary-is-loading): infinity spinner after changing county
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#887 Revert "build(deps): bump react-hook-form from 6.8.4 to 6.12.2 in /client"
  client/package-lock.json
  client/package.json
Labels: client

#873 feat(investigations searchBar):
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
Labels: client

#892 fix(investigations): fetching investigations when sorting and filtering
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#893 fix(): changed the parameter name according to the mutation
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: server

#894 fix(Contact): changed creationTime and involvedContact to optional fields
  client/src/Utils/vendor/useInvolvedContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionDetailsForm.tsx
  client/src/models/Contact.ts
Labels: client

#897 fix(): use the current epidemiologyNumber on logs
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#896 fix(error message when saving personal details):
  client/package-lock.json
  client/package.json
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
Labels: client

#898 Feat/group investigator change
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/Users/Mutation.ts
Labels: client, server

#899 fix(search bar clear):
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#889 feat/exclude investigation from group
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigations.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/useGroupedInvestigations.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  db scripts/exclude_investigation_from_group.sql
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
  server/src/DBService/GroupedInvestigations/Mutation.ts
Labels: client, server

#904 fix(ClinicalDetails):fix form margin
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
Labels: client

#903 fix(tooltip): display tooltip on hover
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/FooterAction/FooterAction.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigations.tsx
Labels: client

#902 fix(multiple investigations): cleares checked checkboxes when action completed
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
Labels: client

#900 Feat/group field change
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/LandingPage/Mutation.ts
Labels: client, server

#901 Fix(investigation main status): made structure changes
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationMainStatus.ts
  client/src/models/InvestigationStatus.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/enums/InvestigationMainStatus.ts
  client/src/models/enums/InvestigationMainStatusCodes.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/redux/Status/statusesActionCreators.ts
  client/src/redux/Status/statusesActionTypes.ts
  client/src/redux/Status/statusesReducer.ts
  client/src/redux/storeStateType.ts
  db scripts/investigations.sql
  db scripts/ordered_investigations.sql
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/utils.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/DBService/Users/Query.ts
  server/src/Models/InvestigationMainStatus.ts
  server/src/Models/InvestigationStatus/GetAllInvestigationStatuses.ts
  server/src/Models/InvestigationStatus/InvestigationMainStatus.ts
  server/src/Models/InvestigationStatus/InvestigationMainStatusCodes.ts
Labels: client, server

#905 Fix clinicals margin
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
Labels: client

#907 fix(contacts sort): sorting the contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  server/src/DBService/ContactedPeople/Query.ts
Labels: client, server

#906 feat(main table) save filter values on refresh
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#909 fix(unknown time): indication to when event's time is unknown
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
Labels: client

#912 fix(add-reason-group-change): add reason for changing group desk and investigator
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/LandingPage/Mutation.ts
  server/src/DBService/Users/Mutation.ts
Labels: server

#888 Fix(update-grouped-investigations) - Add update option in order to add non grouped investigations to an existing group
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigations.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigationsForm/GroupedInvestigationsForm.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/useGroupedInvestigations.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/utils.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/GroupedInvestigations/Mutation.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#910 feat(investigationTable): add reason tooltip
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigations.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/useGroupedInvestigations.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#913 Feat/multi investigation actions
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#914 fix(InvestigationTableUnderline): add underline only to grouped investigations
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#915 fix(group-reason-tooltip) - show other reason if resaon is other
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#908 fix(interaction contacts) fixed styling
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabsStyles.ts
Labels: client

#917 fix(grouped-investigations) - fix group investigations colors and update group title
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigations.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#918 fix(): add ? to nullable parameters
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
Labels: client

#919 fix(): add ? to nullable parameters
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
Labels: client

#911 fix(InvestigatedPersonInfo):
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#920 fix(InvestigationTable):fix pagination on Investigator's display bug #1138
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: server

#923 fix condition for not overriding existing group colors
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#924 chnage app bar color
  client/src/styles/theme.ts
Labels: client

#925 fix(userManagement-pagination) : set rowsPerPage to 100
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
Labels: client

#922 Fix/multiple axios calls
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#927 fix(): always disable isoaltaion end date
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#928 fix() change was investigation transferred for groups
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
Labels: server

#929 fix(): map involvedContacts with isolationCity attr
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#930 fix(groupedInvestigations): display all grouped investigations in table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigations.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigationsTable/GroupedInvestigationsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/useGroupedInvestigations.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
Labels: client

#931 fix(contact-form-style)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactFormStyles.ts
  client/src/styles/formStyles.ts
Labels: client

#932 fix(): bring back the underline to all the rows in the table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#934 fix() : tooltips will be placed on top with an arrow
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationNumberColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#936 fix(PersonalInfoTab): fixed city field visibility
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#937 fix: now the family relationship is saved on family members
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionDetailsForm.tsx
  client/src/models/Contact.ts
  client/src/models/InvolvedContact.ts
  db scripts/update_contact_person.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
Labels: client, server

#938 fix search bar
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/models/enums/InvestigationsFilterByFields.ts
Labels: client

#940 fix(isolation sources): now the other option is last
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
Labels: client

#941 fix(UI): ui fixes
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInputStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabsStyles.ts
Labels: client

#942 fix(searchBar-includes) - primaryPhone identityNumber and fullName search by includes
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
Labels: client

#943 fix() change broadcast channel to re-listen on re-render
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#944 fix(InvestigationTable): counter fixed
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#945 feat(ContactQuestioning): contact questioning phone edit field
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#946 fix(exposure date): changed ui and max date
  client/src/commons/DatePick/DatePick.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
Labels: client

#947 Fix/horizontal scroll
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationNumberColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
Labels: client

#948 feat(CommentInput): allow 500 characters in comment
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
Labels: client

#949 fix(): disband group on exclude action when two investigations were left
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
Labels: client

#950 fix(table filtering) - get current filter from history
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#951 fix(usetbale)- fixed deconstruction of undefined
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#952 feat(popover-groupWithOneInvestigation):open a popover when group contains only one element on arrow click
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#953 fix(CommentInput): fixed comment length limit validation
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
Labels: client

#954 fix(): fix error comment indication and remove spinner in case of investigation fetch error
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#957 Feat(close isloated contact): On investigation finish close all isolated contacts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: server

#958 feat(finish-investigation-message)
  client/src/Utils/DateUtils/useDateUtils.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#858 feat(logger) simplify setup and add setupVerbose to the client logger
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/Utils/StatusUtils/useStatusUtils.ts
  client/src/Utils/vendor/useDuplicateContactId.ts
  client/src/commons/Forms/PlacesTypesAndSubTypes/usePlacesTypesAndSubTypes.ts
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigationsForm/useGroupedInvestigationsForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/useGroupedInvestigations.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/SignUp/SignUpForm/useSignUpForm.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/logger/logger.ts
Labels: client

#968 feat(counties): remove the counties that dont need to be displayed
  db scripts/add_is_displayed_column.sql
  server/src/DBService/Counties/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: server

#959 Fix/color shows only after refresh
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#967 feat(reopen button): moving reopen investigation button
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
Labels: client

#969 Fix(delete contacts): deleting family contacts and mini refactor
  client/src/Utils/vendor/useInvolvedContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  db scripts/check_duplicates_ids.sql
  db scripts/deleteContactEventsByDateFunction.sql
  db scripts/delete_contact_event_function.sql
  db scripts/delete_contact_events_before_date.sql
  db scripts/delete_contacted_person_function.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
Labels: client, server

#970 Feat/no desk filter
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/styles/theme.ts
Labels: client

#971 Feat(InvestigationTable): Modify columns
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#964 Feat/contact questioning validations
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/commons/Contexts/OccupationsContext.ts
  client/src/commons/TypingPreventionTextField/TypingPreventionTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/ContactQuestioningPersonal/IdentificationTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/ContactQuestioningSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningCheck.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/redux/Occupations/occupationsActionCreators.ts
  client/src/redux/Occupations/occupationsActionTypes.ts
  client/src/redux/Occupations/occupationsReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
Labels: client

#962 Fix/grouped rows borders
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#974 removed unnecessary function from useInvestigationTableOutcome
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
Labels: client

#976 feat(update-is-user-active)
  client/src/commons/IsActiveToggle/IsActiveToggle.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#979 Feat(InvestigationTable): change phone column
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/clickableTooltip/clickableTooltip.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/clickableTooltip/clickableTooltipStyles.ts
Labels: client

#980 feat/investigator allocation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCellStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialogStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTableHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/User.ts
  client/src/redux/User/userReducer.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Query.ts
Labels: client, server

#982 fixed save-all function
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#972 feat(investigation table)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumnStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationNumberColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationNumberColumn/InvestigationStatusNumberStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#983 Fix/group actions for county
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/LandingPage/Mutation.ts
  server/src/DBService/Users/Mutation.ts
Labels: server

#984 feat(table filters): added two more table filters
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: client, server

#995 feat(Class number Validation): class number value max is 50
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
Labels: client

#997 feat(transfer reason): remove required reason
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigatorSchema.ts
Labels: client

#994 feat(contact identification): added to interaction event the identification type toggle
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/Contacts/useContactFields.ts
  client/src/Utils/Contacts/useDuplicateContactId.ts
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/commons/IdentificationTextField/IdentificationTextField.tsx
  client/src/commons/Toggle/Toggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ManualContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionDetailsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/models/Contact.ts
  client/src/models/enums/ContactFieldName.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventContactFields.ts
  db scripts/update_contact_person.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/Contact.ts
  server/src/Models/ContactEvent/GetPlacesSubTypesByTypes.ts
Labels: client, server

#1000 fix(investigations overall): cosmetics changes of investigation changes
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#973 feat(table row) - added info tooltip to landing page table row
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InfoItem.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1001 feat(notes): adding message note for transfer action dialog
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCounty.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDesk.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDialogNote.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigator.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
Labels: client

#1002 feat(change-user-source-organization)
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
Labels: client, server

#1005 feat(Alphabet-With-Dash-Text-Field): Create alphabet text field that accepts '-'
  client/src/commons/AlphabetWithDashTextField/AlphabetWithDashTextField.tsx
  client/src/commons/AlphabetWithDashTextField/AlphabetWithDashTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client

#1003 fix(date tooltip)
  server/src/DBService/LandingPage/Query.ts
Labels: server

#1004 feat/change allocate investigator to investigation footer actions
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigator.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigatorInputNames.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigatorSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
Labels: client, server

#1007 Fix(display-all-rows-interactions-tab): Changed Styles to see all items in InteractionsTab when there is error in Tabs
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client

#996 Feat(InvestigationTable): set inactive investigator red and bold
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCellStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/Investigator.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1010 Feat (change font)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabs.tsx
  client/src/styles/theme.ts
Labels: client

#1011 fix(personal-info-role): Occupation change will reset roleObj
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#1008 Feat(grade codes): added the grade codes to db and synced code
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Contexts/PersonalInfoContextData.ts
  client/src/models/EducationGrade.ts
  client/src/redux/EducationGrade/educationGradeActionCreators.ts
  client/src/redux/EducationGrade/educationGradeActionTypes.ts
  client/src/redux/EducationGrade/educationGradeReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/EducationRoute/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/DBService/Education/Query.ts
  server/src/DBService/PersonalDetails/Mutation.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
  server/src/Models/Education/EducationGrade.ts
Labels: client, server

#1013 Fix(settings-actions-disabled-action): A click on a settings action would not trigger investigation open
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
Labels: client

#998 Fix/validation errors contact questioning
  client/src/commons/Icons/InvalidFormIcon.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/ContactQuestioningSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningCheck.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
Labels: client

#1014 fix(InvestigationTable): set subOccupation(מוסד) when is in institute…
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1015 fix(investigator investigations): fixed the filter on the query
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: server

#1016 feat(usersManagement): add option for admins to update user desk
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
  server/src/DBService/Users/Query.ts
Labels: client, server

#1012 feat(patient address): changed the address to be patient's on subPlace is his house
  client/src/Utils/ContactEvent/placeTypesCodesHierarchy.ts
  client/src/Utils/ContactEvent/useContactEvent.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/MedicalLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OtherPublicLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/TransportationEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/PatientAddress.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/SchoolEventForm/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/DBAddress.ts
Labels: client

#1018 display UnassignedWarning properly
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCell.tsx
Labels: client

#1020 feat(connected to county): Changed from office to county
  client/src/components/App/AppToolbar/AppToolbar.tsx
Labels: client

#1021 fix(): display deskName on the user info dialog
  client/src/components/App/Content/SignUp/SignUpForm/SignUpForm.tsx
Labels: client

#1026 fix(transfer-investigations-success): Add success alert when investigation transfer is successful
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCounty.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDesk.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabs.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabsDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
Labels: client

#1024 Fix(update-investigators-list): Added fetch call every time allocating investigator to get updated list according to active/unactive state of Admin
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1009 feat(admin landing page): created landing page for admin
  client/package-lock.json
  client/package.json
  client/src/Utils/Routes/Routes.ts
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeCard/timeRangeCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeCard/timeRangeCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnassignedCard/UnassignedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnassignedCard/UnassignedCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UpdateButton/UpdateButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UpdateButton/UpdateButtonStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPageStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/InvestigationBarChart/InvestigationBarChart.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/InvestigationBarChart/InvestigationBarChartStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/InvestigationBarChart/InvestigationChartData.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButtonStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfoStyles.ts
  client/src/components/App/Content/LandingPage/defaultLandingPage/LandingPage.tsx
  client/src/components/App/Content/LandingPage/defaultLandingPage/LandingPageStyles.ts
  client/src/models/InvestigationChart.ts
  client/src/models/User.ts
  client/src/models/enums/UserType.ts
  client/src/redux/User/userReducer.ts
Labels: client

#1027 Adding a Hebrew text field
  client/src/commons/HebrewTextField/HebrewTextField.tsx
  client/src/commons/HebrewTextField/HebrewTextFieldTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#1028 Feat/Move investigation row to component
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRowStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1030 Feat/disable table row
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRowStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/clickableTooltip/clickableTooltip.tsx
Labels: client

#1023 Feat(InteractionDialog): disable button by form's validation
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionDetailsForm.tsx
Labels: client

#1029 Fix/check authorization before investigation info
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/middlewares/HandleInvestigationRequest.ts
Labels: client, server

#1034 feat() organize and remove dependencies
  client/package-lock.json
  client/package.json
Labels: client

#1017 Feat/exposure source validations
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BackFromAbroad.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/EilatOrDeadSea.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSourceOption.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/useExposureForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInputStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightFormStyles.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightFormTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposureValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useFlightsInvestigation.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/styles/formStyles.ts
Labels: client

#1040 fix() reduce desk filter padding and tag limit
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
Labels: client

#1031 Fix/set other value to last
  client/src/commons/Forms/PlacesTypesAndSubTypes/usePlacesTypesAndSubTypes.ts
Labels: client

#1041 Fix(update-investigation-address): When addressId exists now updates instead of creating new
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/models/DBAddress.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/Address/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/DBService/PersonalDetails/Query.ts
  server/src/Models/Exposure/CovidPatientDBOutput.ts
Labels: client, server

#1042 feat/users management search bar
  client/src/components/App/Content/UsersManagement/UsersFilter/FilterCreators.ts
  client/src/components/App/Content/UsersManagement/UsersFilter/SearchBar.tsx
  client/src/components/App/Content/UsersManagement/UsersFilter/SearchBarStyles.ts
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilter.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
Labels: client

#1032 fix(server): server logs, errors and small fixtures
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/Address/mainRoute.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/DesksRoute/mainRoute.ts
  server/src/ClientToDBAPI/EducationRoute/mainRoute.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/DBService/Counties/Query.ts
  server/src/DBService/Desk/Query.ts
  server/src/GraphqlHTTPRequest.ts
  server/src/Logger/Logger.ts
  server/src/Models/Address/Address.ts
  server/src/Models/ClinicalDetails/GetInvestigatedPatientClinicalDetailsFields.ts
  server/src/Utils/InvestigationComplexity/InvestigationComplexity.ts
  server/src/Utils/addressUtils.ts
  server/src/Utils/patientUtils.ts
  server/src/middlewares/Authentication.ts
  server/src/middlewares/HandleInvestigationRequest.ts
Labels: client, server

#1043 Fix(PlacesTypesAndSubTypes): post default placeSubType
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
Labels: client

#1048 Fix(PlacesTypesAndSubTypes): FOR TEST- set default PlacessubType when not selected
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
Labels: client

#1046 fix(DeskFilter): fixed checkbox color in desk filter
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
Labels: client

#1045 fix(InvestigationIndicatorsColumn): aligned the investigation transfer icons
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumnStyles.ts
Labels: client

#1049 fix(InvestigationTableStyles): fix search bar size
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#1025 Feat/possible exposure search
  client/src/commons/TypingPreventionTextField/TypingPreventionTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSearchTextField/ExposureSearchTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSearchTextField/ExposureSearchTextFieldStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/useExposureForm.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/DBService/Exposure/Query.ts
Labels: client, server

#1053 fix(investigations logs): changed logs to be more informative
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1052 feat(admin landing page)
  client/src/commons/statusToFilterConvertor.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/LoadingCard/LoadingCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/LoadingCard/LoadingCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnassignedCard/UnassignedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/useDesksFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/InvestigationBarChart/InvestigationBarChart.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/InvestigationBarChart/InvestigationChartData.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfoStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/models/FilterRulesVariables.ts
  client/src/models/InvestigationChart.ts
  client/src/models/InvestigationStatistics.ts
  client/src/models/enums/FilterRulesDescription.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1055 fix(contact-questioning): fixed bugs of contact questioning tab
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
  client/src/components/App/Content/SignUp/SignUpForm/SignUpSchema.ts
Labels: client

#1054 Fix/connect desks
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/AdminLandingPageFilters.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UpdateButton/UpdateButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/useDesksFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: client, server

#1059 fix(UnallocatedCard): design fixes
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCardStyles.ts
Labels: client

#1062 fix(ContactQuestioningClinical): fixed isolation city grid
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#1061 fix(InvestigationInfoButtonStyles): fixed text not fitting in button
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButtonStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
Labels: client

#1050 feat(contact questioning) added full address form in contact questioning
  client/src/Utils/Address/AddressUtils.ts
  client/src/Utils/Contacts/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/PatientAddress.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/Contexts/PersonalInfoContextData.ts
  client/src/models/DBAddress.ts
  client/src/models/InteractedContact.ts
  client/src/models/enums/InteractedContact.ts
  client/src/models/enums/contactQuestioningExcelFields.ts
  client/src/redux/Address/AddressActionCreators.ts
  client/src/redux/Address/AddressActionTypes.ts
  client/src/redux/Address/AddressReducer.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactedPeople/Query.ts
Labels: client, server

#1063 fix(yup): change the yup version to the previous version
  client/package.json
Labels: client
