Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2020-08, with the labels that each got.

#15 documentation(server) added README!
  README.md
  client/README.md
  server/README.md
Labels: client, server

#17 feat(App): created toolbar, tabs, logo, app skeleton and confirmation button
  client/package-lock.json
  client/package.json
  client/public/assets/img/logo.png
  client/public/assets/img/logo2.png
  client/public/assets/img/logo3.png
  client/public/index.html
  client/src/App.tsx
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
  client/src/components/App/AppToolbar/TopToolbar/TopToolbarStyles.ts
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/ContentStyles.ts
  client/src/components/App/Content/TabManagement/TabManagement.tsx
  client/src/components/App/Content/TabManagement/TabManagementStyles.ts
  client/src/index.tsx
  client/src/models/TabObj.ts
  client/src/styles/theme.ts
  client/tsconfig.json
Labels: client

#19 feat(Validator): added phone number validations
  client/src/Utils/Validations/Validator.test.ts
  client/src/Utils/Validations/Validator.ts
Labels: client

#22 feat(investigation button): finished creating investigation button
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
  client/src/components/App/Content/ContentStyles.ts
Labels: client

#24 fix(): fix btn
  client/src/components/App/Content/ContentStyles.ts
Labels: client

#25 feat(finish investigation button): added alerts on button click
  client/package-lock.json
  client/package.json
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#27 Add routing
  client/src/Utils/Routes/Routes.ts
  client/src/Utils/Timeout/Timeout.ts
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/LandingPage.tsx
  client/src/index.tsx
Labels: client

#28 Feat/static info
  client/public/index.html
  client/src/components/App/App.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InfoItem.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InfoItemStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InfoItemWithIcon.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InfoItemWithIconStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadataStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/index.css
  client/src/index.tsx
  client/src/setupTests.ts
  client/src/styles/Assistant-Bold.woff
  client/src/styles/Assistant-ExtraBold.woff
  client/src/styles/Assistant-SemiBold.woff
  client/src/styles/fonts.css
  client/src/styles/theme.ts
Labels: client

#29 feat(Investigation button): added tests and testhooks
  client/package-lock.json
  client/package.json
  client/src/TestHooks.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/setupTests.ts
Labels: client

#32 fix(InvestigationFormTests): fix tests
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#31 fix(styling) - fit all items in screen without scrolling
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client

#26 feat(): add DB connections
  server/.env-sample
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/src/DBService/config.ts
  server/src/DBService/postgraphile.ts
  server/src/index.ts
  server/src/server.ts
Labels: server

#34 feat(Add Redux): added redux
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
  client/src/components/App/Content/LandingPage/LandingPage.tsx
  client/src/index.tsx
  client/src/models/User.ts
  client/src/redux/User/userActionCreatores.ts
  client/src/redux/User/userActionTypes.ts
  client/src/redux/User/userReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/store.ts
  client/src/redux/storeStateType.ts
  package-lock.json
  package.json
Labels: client

#36 fix(): moved redux to client package.json
  client/package-lock.json
  client/package.json
  package.json
Labels: client

#30 feat(Change Tabs):
  client/package-lock.json
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementInterfaces.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Tab.ts
  client/src/models/TabObj.ts
Labels: client

#37 feat(InvestigatedPersonInfo): added no response button
  client/package.json
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
Labels: client

#38 fix(InvestigationFormStyles): fix button css
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
Labels: client

#39 feat(TabManagement.tsx): add display components for tabs
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/models/Tab.ts
Labels: client

#40 Landing page table
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/LandingPage.tsx
  client/src/components/App/Content/LandingPage/LandingPageStyles.ts
  client/src/index.tsx
  client/src/models/InvestigationTableRow.ts
  client/src/styles/theme.ts
  package.json
Labels: client

#41 feat(server.ts): add rest api for external moh api and db api
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/MOHAPI/mainRoute.ts
  server/src/server.ts
Labels: server

#42 feat(server.ts): add cors
  server/.env-sample
  server/package-lock.json
  server/package.json
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/server.ts
Labels: server

#44 feat(axios.ts): add axios create file
  client/src/Utils/axios.ts
Labels: client
