Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2020-10, with the labels that each got.

#283 fix(fligh event form): fixed styling and added all fields
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/FlightEventForm.tsx
Labels: client

#285 fix(address): now floor and houseNum are string and not int
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/PersonalDetails/Mutation.ts
Labels: client, server

#288 fix(clinical details): now checking unknown symptoms date works properly
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
Labels: client

#284 fix(clinical details automation locators)
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#286 fix(landingPage): changed the investigation's order to be correct
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#290 fix(tabs): now the tab is changed only after db save ends properly
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#274 feat(nginx): switch from express server to nginx
  client/Dockerfile
  client/mime.types
  client/nginx.conf
  client/nginxDockerfile.txt
  client/server/package-lock.json
  client/server/package.json
  client/server/server.js
Labels: client

#292 fix(nginx.conf): add resolver
  client/nginx.conf
  client/package-lock.json
Labels: client

#293 fix(mainRoute): changed to capital letter
  server/src/ClientToDBAPI/mainRoute.ts
Labels: server

#296 fix(ui): fixed ui issues
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInputStyles.ts
  client/src/index.css
  client/src/styles/theme.ts
Labels: client

#297 fix(ContactQuestioningPersonal): fixed default birth date and allowed erasing
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#298 fix(birth date calender):
  client/src/commons/DatePick/DatePick.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#294 fix(grid-start-date):
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: client, server

#295 feat(ContactQuestioningClinical): added isolation field with swal on toggle click
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/models/InteractedContact.ts
  client/src/models/enums/InteractedContact.ts
  server/src/DBService/ContactedPeople/Query.ts
Labels: client, server

#302 fix(ContactQuestioning): fix direction to rtl
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
Labels: client

#304 fix(future-date-validation) - add validation on hospitalization
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
Labels: client

#303 Fix/multiple error tooltips
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlaceTypeForm.tsx
Labels: client

#307 fix(future-date-isolation-validation) - add validation on isolation
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
Labels: client

#291 fix(address save): now uses the db function for whenever saving address
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/commons/Contexts/PersonalInfoStateContext.ts
  client/src/models/Address.ts
  client/src/models/PhoneNumberControl.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/Address/Mutation.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/PersonalDetails/Mutation.ts
Labels: client, server

#289 fix(exposures): fixed the way the exposures are deleted
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#305 fix(finish-investigation-without-contacts): fixed
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
Labels: client

#287 fix(school event form): now the grade form functions properly
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlaceTypeForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/SchoolEventForm.tsx
Labels: client

#310 Fix(fix date validation error) - revalidates date validation when changing its complementary date field
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/HospitalFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
Labels: client

#306 fix(contact questioning tab): fixed bugs 382 & 387
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#312 fix(InteractionEventForm): fixed invalid time saved when creating an event
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
Labels: client

#299 fix(contact event): dealing deleting contacts
  client/package-lock.json
  db scripts/Contact_functions/update_contact_event_function.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/Models/ContactEvent/Contact.ts
Labels: client, server

#313 fix(new transportation event): fix UI
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TransportationFormsStyles.ts
Labels: client

#314 fix(client/server): node rp instead of nginx
  client/Dockerfile
  client/nginxDockerfile.txt
  client/server/package-lock.json
  client/server/package.json
  client/server/server.js
Labels: client

#317 fix(client/server.js): change server port
  client/server/server.js
Labels: client

#315 fix(ExposureForm): future dates are now invalid
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
Labels: client

#319 Fix/contacts saved twice
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsEventDialogContext/InteractionEventContactFields.ts
  client/src/models/Contact.ts
Labels: client

#308 fix(unknown symptoms start date):
  client/src/commons/Contexts/ClinicalDetailsContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
Labels: client

#320 fix(future symptoms start date crash):
  client/src/commons/DatePick/DatePick.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#321 fix(ContactQuestioningClinical): map family relationships only if defined
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#324 Fix(person ID validation)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
Labels: client

#322 Fix(trigger validation) - When entering a non-valid tab the problematic fields will be marked
  client/src/commons/TypingPreventionTextField/TypingPreventionTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#323 fix(clinical details tab): fixed UI responsiveness
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/HospitalFields.tsx
Labels: client

#325 fix(interactionsForm): change phone number to be
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
  client/src/models/Contact.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: client, server

#326 Added important automation locators
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#327 fix(clinical) change future date validation to be start of tomorrow
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
Labels: client

#328 show error when date is invalid
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#331 fix(clinical) fix issue with displaying errors in english
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
Labels: client

#332 Fix(interactions contact info) - fix contact info UI
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactFormStyles.ts
Labels: client

#333 fix(missing date pick automation locator)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#336 Fix(clinical details isPregnant) - is pregnant will only show for a female
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
Labels: client

#330 Fix(contacted people loading)
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  server/src/DBService/ClinicalDetails/Query.ts
Labels: client, server

#337 fix(other-diseases): delete other diseases on uncheck other field
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
Labels: client

#334 fix/error showing twice
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
Labels: client

#340 fix(clinical) change isPregnant field to be hidden when not female
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
Labels: client

#341 fix(contacted questioning loading)
  client/src/commons/Contexts/InteractedContactsContext.ts
  client/src/components/App/Content/InvestigationForm/InvestigationFormInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#343 fix(exposuresAndFlightsDatepicker): fixed
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
Labels: client

#335 feat(PersonalInfoTab && PlaceTypesAndSubTypes): changed select fields to autocomplete
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/DefaultPlaceEventForm/DefaultPlaceEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OfficeEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/OtherPublicLocationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventContactFields.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
Labels: client

#346 fix(validation): updated must insert fields
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
Labels: client

#348 fix(contact-phone-validation): changed regex
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
Labels: client

#350 fix(finish-without-save): now the button save to DB
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#354 fix(clinical details): fixed ui bugs
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client

#349 feat(ContactQuestioning): added phone dial option
  client/src/commons/PhoneDial/PhoneDial.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
Labels: client

#351 fix(useContactQuestioning): removed automatic close of accordion on no response button click
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#357 fix(contacts questening): now functions properly
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#347 fix(validations): fixed validation fields
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
Labels: client

#355 fix(contacts days): fixed comparing dates to be by day
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#359 fix(contacts days): fixed comparing dates to be by day
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#360 fix(clinical details): fixed ui bugs
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client

#363 fix(ClinicalDetails.tsx): remove the collapse that destroyed the css
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
Labels: client

#365 fix(contact questioning)
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
Labels: client

#364 fix(contact questioning)
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
Labels: client

#352 feat(investigation table): investigations prioritising - default order
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  db scripts/InvestigationsSorting/groupInvestigationsSort.sql
  db scripts/InvestigationsSorting/userInvestigationsSort.sql
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#358 fix(contacts questioning): now functions properly
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#368 fix(tab management): now when all tabs are switched the switch is aft…
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#361 fix(ClinicalDetails.tsx): remove collapse conditioning that screwd css
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
Labels: client

#371 Feat(sort investigation table) - Add sort options to investigation table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#372 fix(db script): Add changes and reorder files
  db scripts/delete_contact_event_function.sql
  db scripts/groupInvestigationsSort.sql
  db scripts/update_contact_event_function.sql
  db scripts/update_contact_person.sql
  db scripts/update_contact_persons.sql
  db scripts/update_exposures_function.sql
  db scripts/userInvestigationsSort.sql
Labels: database

#339 fix(interactions-map) - fixes pinning a location
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#345 Feat(contacted people) import data from excel
  client/package-lock.json
  client/package.json
  client/public/assets/img/ExcelLogo.png
  client/src/Utils/vendor/underscoreReplacement.ts
  client/src/Utils/vendor/useExcel.ts
  client/src/commons/CustomSwal/CustomSwalStyles.ts
  client/src/commons/CustomSwal/useCustomSwal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ExcelUploaderStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/useContactExcel.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/models/InteractedContact.ts
  client/src/models/enums/contactQuestioningExcelFields.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/FlightsApi/mainRoute.ts
  server/src/DBService/ContactedPeople/Mutation.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
Labels: client, server

#375 feat(investigation table): default sort button
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#376 Fixed missing test Ids in AlphanumericTextField
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/HospitalFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationProblemFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#377 fix(dates questioning): now shows only what it supposed to
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#378 fix(flights country label) - add label and placeholder for country in airport input
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/AirportInput/AirportInput.tsx
Labels: client

#366 fix(useInteractionsTab): don't show contact questioning tab after deleting all interacted contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
Labels: client

#373 fix(DatePick): disabled all future dates
  client/package-lock.json
  client/package.json
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/HospitalFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
Labels: client

#379 fix(exposure source): fixed address string parsing
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
Labels: server

#370 feat(logs): add infrastructure for logs and initial work on them
  client/.env-sample
  client/package-lock.json
  client/package.json
  client/src/components/App/App.tsx
  client/src/logger/logger.ts
  client/src/models/Logger.ts
  server/.env-sample
  server/package-lock.json
  server/package.json
  server/src/DBService/config.ts
  server/src/Logger/Logger.ts
  server/src/Models/Logger/types.ts
  server/src/middlewares/Authentication.ts
  server/src/server.ts
Labels: client, server

#380 fix(client/cicd): add env vars to client pipeline
  client/azure-client-pipeline.yml
Labels: client

#381 fix(server/logger): server logger path fix
  server/src/server.ts
Labels: server

#374 fix(google api autocomplete)
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/LocationInputField/LocationInput.tsx
  client/src/commons/LocationInputField/useGoogleApiAutocomplete.ts
  client/src/commons/Map/Map.tsx
Labels: client

#383 fix(contact clinical): now works properly
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#382 Feat/phone text field
  client/src/commons/NumericTextField/NumericTextField.tsx
  client/src/commons/NumericTextField/NumericTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#384 fix(save clinical details): added check if undefined
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: server

#385 fix(investigationTable-sort-indication) - Add color indication when sort is active
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#388 fix(investigationTable-sorts-indication) - Add color indication when sort is active (without using !important)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#387 fix(PlacesTypesAndSubTypes): fixed interactions title and autocomplete fields
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#396 fix(missing-automation-locators)
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#395 fix(bugs): fixed refresh, place holder and hmo bug
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  server/src/DBService/PersonalDetails/Mutation.ts
Labels: client, server

#394 fix(axios interceptor): now the interceptor is different for every in…
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationRedux.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client

#397 fix(gender redux): now gender saved correctly on redux
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
Labels: client

#391 fix(PersonalInfoValidationSchema): added relevant required error message
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
Labels: client

#390 fix(HospitalFields): allow future hospitalization end date
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/HospitalFields.tsx
Labels: client

#393 fix(ExposureForm): filtered investigated patient from covid patient list
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
Labels: client

#398 feat(Personal Details Tab): add logging for personal details tab
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/logger/logger.ts
  server/src/ClientToDBAPI/Address/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/middlewares/ConvertToObject.ts
Labels: client, server

#400 Feat/user desk
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
  client/src/components/App/AppToolbar/IsActiveToggle/IsActiveToggle.tsx
  client/src/components/App/AppToolbar/IsActiveToggle/IsActiveToggleStyles.ts
  client/src/components/App/AppToolbar/TopToolbar/IsActiveToggle/IsActiveToggleStyles.ts
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
  client/src/components/App/AppToolbar/TopToolbar/TopToolbarStyles.ts
  client/src/components/App/AppToolbar/TopToolbar/useTopToolbar.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/Counties/Query.ts
Labels: client, server

#401 fix(ContactQuestioningPersonal): show age when birth date is from current year
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#402 fix(ExposureFormStyles): fixed exposure form patients not fitting in screen
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureFormStyles.ts
Labels: client

#403 feat(clinical-details-logs) - add logs to clinical details
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
Labels: client, server

#405 fix(city-sorting): add filter options for city and streets autocomplete
  client/src/Utils/Address/AddressOptionsFilters.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/TransportationAdditionalForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#408 fix(text-length-limit): limit textField to 50 Characters
  client/src/commons/AlphabetTextField/AlphabetTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/commons/NumericTextField/NumericTextField.tsx
Labels: client

#409 fix(active): remove active toggle from UI for now
  client/src/components/App/AppToolbar/TopToolbar/TopToolbar.tsx
Labels: client

#410 fix(text-length-limit): limit text length to 50 on alphanumeric text …
  client/src/commons/AlphabetTextField/AlphabetTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
Labels: client

#407 feat(Exposures And Flights Logs) - add exposures and flights logs
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
Labels: client, server

#271 Feat(new browser tab investigations): choosing investigation in landing tab now opens new tab in browser for investigation
  client/package-lock.json
  client/package.json
  client/src/Utils/consts.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationRedux.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/redux/IsLoading/isLoadingReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/store.ts
Labels: client

#411 Feat/initial sign up
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/commons/AlphabetTextField/AlphabetTextFieldTypes.ts
  client/src/commons/NumericTextField/NumericTextFieldTypes.ts
  client/src/commons/TypingPreventionTextField/TypingPreventionTextField.tsx
  client/src/commons/TypingPreventionTextField/TypingPreventionTextFieldTypes.ts
  client/src/components/App/App.tsx
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/SignUp/SignUp.tsx
  client/src/components/App/Content/SignUp/SignUpForm/SignUpForm.tsx
  client/src/components/App/Content/SignUp/SignUpForm/SignUpFormStyles.ts
  client/src/components/App/Content/SignUp/SignUpForm/SignUpSchema.ts
  client/src/components/App/Content/SignUp/SignUpForm/useSignUpForm.ts
  client/src/components/App/Content/SignUp/SignUpStyles.ts
  client/src/models/Language.ts
  client/src/models/SignUpUser.ts
  client/src/models/SourceOrganization.ts
  client/src/models/enums/SignUpFields.ts
  db scripts/create_new_user.sql
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Counties/Query.ts
  server/src/DBService/Users/Mutation.ts
  server/src/DBService/Users/Query.ts
  server/src/Models/ResultError.ts
  server/src/Models/User/CreateUserResponse.ts
  server/src/Models/User/GetAllCountiesResponse.ts
  server/src/Models/User/GetAllLanguagesResponse.ts
  server/src/Models/User/GetAllSourceOrganizations.ts
  server/src/Models/User/User.ts
Labels: client, server

#414 fix(Query): add district to County
  server/src/DBService/Counties/Query.ts
Labels: server

#406 feat(LandingPage): added logs to the landing page
  client/src/components/App/App.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/middlewares/Authentication.ts
Labels: client, server

#415 fix(phone validations and isActive button): now regex and isActive button works properly
  client/src/components/App/AppToolbar/IsActiveToggle/IsActiveToggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
Labels: client

#417 fix(county) remove admin middleware from route
  client/package-lock.json
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/middlewares/Authentication.ts
Labels: client, server

#419 fix(useInvestigationForm): show contact questioning tab on form open
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#412 feat(investigation status): added support for sub status
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/InvestigationStatus.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/enums/InvestigationMainStatus.ts
  client/src/models/enums/InvestigationStatus.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/redux/IsInInvestigations/isInInvestigationActionCreators.ts
  client/src/redux/IsInInvestigations/isInInvestigationActionTypes.ts
  client/src/redux/IsInInvestigations/isInInvestigationReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/store.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#416 fix(double click on county):
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#420 fix(import): fixing logger type import path
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
Labels: server

#421 feat(desk name):
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  db scripts/groupInvestigationsSort.sql
Labels: client

#423 fix(): fix use Effect in county and fix placeholer to county
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#429 fix(contact form): handles null fields
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: client, server

#418 fix(clinical details): now the other fields arent added for no reason…
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
Labels: client

#426 fix(FlightsForm): switch order of starting point and destination
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/FlightsForm/FlightsForm.tsx
Labels: client

#428 fix(ContactQuestioning phone text field):
  client/src/commons/AlphabetTextField/AlphabetTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/commons/NumericTextField/NumericTextField.tsx
  client/src/commons/TypingPreventionTextField/TypingPreventionTextField.tsx
  client/src/commons/TypingPreventionTextField/TypingPreventionTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#427 Fix(interaction event) default place name
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
Labels: client

#422 feat(interactions-logs) - Add logs to investigation and interactions
  client/src/commons/Forms/PlacesTypesAndSubTypes/usePlacesTypesAndSubTypes.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
Labels: client, server

#431 fix(signup): changed the sign up form structure and prevented swal from working
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/SignUp/SignUpForm/SignUpForm.tsx
  client/src/components/App/Content/SignUp/SignUpForm/SignUpFormStyles.ts
  client/src/components/App/Content/SignUp/SignUpForm/useSignUpForm.ts
  client/src/models/enums/SignUpFields.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/middlewares/Authentication.ts
Labels: client, server

#425 feat(contact questioning): add logs contacts questioning tab
  client/public/index.html
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
Labels: client, server

#430 Fix(contact events) - old symptoms start crash
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
Labels: client

#433 fix(Authentication): add ? to check if user
  server/src/middlewares/Authentication.ts
Labels: server

#435 fix(sort-icon) - Fix investigation table sort icon (active sort icon will be enlarged)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#434 fix(InvestigatedPersonInfo): removed no response check box
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/models/enums/InvestigationMainStatus.ts
Labels: client

#436 fix(sort-by-status) - Fix sort by status
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#437 fix(validations): now all the fields arent required because they migh…
  client/src/commons/AlphabetTextField/AlphabetTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/commons/NumericTextField/NumericTextField.tsx
  client/src/commons/TypingPreventionTextField/TypingPreventionTextFieldTypes.ts
Labels: client

#438 feat(static-info): show the birth date on the header
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/models/PersonStaticInfo.ts
  db scripts/create_new_user.sql
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#440 fix(exposure form): fixed exposure form UI
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureFormStyles.ts
Labels: client

#439 feat(EndInvestigation): add logs to end investigation flow
  client/src/components/App/AppToolbar/IsActiveToggle/IsActiveToggleStyles.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/Models/InvestigationMainStatus.ts
  server/src/middlewares/Authentication.ts
Labels: client, server

#442 fix(missing-automation-locators)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/HospitalFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
Labels: client

#443 fix(investigations route): fix request params
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: client, server

#424 fix(place type): fixed the place type default
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OtherPublicLocationGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionEventForm/PlacesAdditionalForms/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
Labels: client

#445 fix(App): load county and status after signUp
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#441 feat(ContactQuestioningClinical): added isolation end date field
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#447 feat(ClinicalDetails): clinical details changes
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/redux/Address/AddressActionCreators.ts
  client/src/redux/Address/AddressActionTypes.ts
  client/src/redux/Address/AddressReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
Labels: client

#452 fix(hopefully)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
Labels: client

#453 fix(login) fix user data fetching after sign up
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
Labels: client, server

#451 fix(images): order, remove and fixed images to pushed both environments
  client/azure-client-pipeline.yml
Labels: client

#454 Fix/login issue
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
Labels: client, server

#450 fix(images): order, remove and fixed images to pushed both environments
  client/azure-client-pipeline.yml
Labels: client

#456 fix(user) remove override of fetched user data
  client/src/components/App/App.tsx
Labels: client

#457 fix(user) remove override of fetched user data
  client/src/components/App/App.tsx
Labels: client
