Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-02, with the labels that each got.

#1268 TEST-feat(deactivate-all-county-users)
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/models/User.ts
  client/src/redux/User/userReducer.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
  server/src/DBService/Users/Query.ts
Labels: client, server

#1265 fix/interactions grid layout
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/AddressGrid/AddressGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/BusinessContactGrid/BusinessContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/DefaultPlaceEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/HospitalEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OtherPublicLocationGrid.tsx
Labels: client

#1270 fix(exposure-source-detail-dont-delete)
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
Labels: client

#1266 fix/dates to investigate calcultaion
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
Labels: client

#1269 added 'required' tooltip in excel
  client/public/assets/contactFormat.xlsx
Labels: client

#1272 fix/investigation desk change refresh grouped row
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#1267 TEST - fix/changed calcultaion of dates to investigate
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
Labels: client

#1273 removed setloading(false) on success of deleteIrrelevantContactEvents
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
Labels: client

#1278 TEST- fix/dates to investigate calculations
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
Labels: client

#1279 changed to <= in date calc
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
Labels: client

#1280 added color to user cols
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
Labels: client

#1276 changed groupedInvestigationContact table column wording
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/tableColumns.ts
Labels: client

#1275 added phonenumber to search bar
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/useAccordionContent.ts
Labels: client

#1277 Fix/sorted investigators investigation table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTable/AllocateInvestigatorDialog/AllocatedInvestigator.ts
  client/src/models/InvestigatorOption.ts
Labels: client

#1281 Feat(investigated-personal-info-new-fields)
  client/src/Utils/DateUtils/formatDate.ts
  client/src/commons/Icons/customIcons/MutationIcon.tsx
  client/src/commons/Icons/customIcons/ReturnSickIcon.tsx
  client/src/commons/Icons/customIcons/VaccinationIcon.tsx
  client/src/commons/Icons/customIcons/customIconStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/models/InvestigatedPatientStaticInfo.ts
  client/src/models/InvestigationInfo.ts
  db scripts/add_static_fields_to_investigation.sql
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#1282 sort icon added to full name field in investigation table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  db scripts/ordered_investigations.sql
Labels: client

#1284 moved loading of groupedinv order to sync
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1285 Fix disable completed inteacted contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
Labels: client

#1288 feat(new-static-fields-text-changes)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#1290 Feat(add-authority-display-name-investigators-table)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/User.ts
  client/src/redux/User/userReducer.ts
  db scripts/get_investigator_list_by_county_function.sql
  server/src/Models/User/User.ts
Labels: client, server

#1289 Fix/address value in contact questioning
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#1291 Feat/grouped investigation form tests
  client/src/Utils/Testing/GroupedInvestigationForm/MockGroupedInvestigationsProvider.tsx
  client/src/Utils/Testing/GroupedInvestigationForm/mockSelectors.ts
  client/src/Utils/Testing/GroupedInvestigationForm/state.ts
  client/src/Utils/Testing/MockFormProvider.tsx
  client/src/commons/Contexts/GroupedInvestigationFormContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/ErrorMessage/ErrorMessage.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/ContactsTable.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/TableRows.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/TableRows.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/TableSearchBar/TableSearchBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionHeadline/AccordionHeadline.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionHeadline/AccordionHeadline.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/investigationAccordion.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/GroupedInvestigaitonForm.test.tsx
Labels: client

#1299 added duplicate id check for form values
  client/src/Utils/GroupedInvestigationsContacts/getGroupedInvestigationIds.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
Labels: client

#1300 fix/static investigation info - missing fields
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
Labels: server

#1302 Fix(symptoms-start-date-value)
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
Labels: client

#1301 feat(repetitive cotact events)
  client/package-lock.json
  client/package.json
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ManualContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionDetailsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionExternalizationForm/InteractionExternalizationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionTimeForm/InteractionTimeForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionTimeForm/useInteractionTimeForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/CheckableDateTitle/CheckableDateTitle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/RepetitiveEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/RepetitiveEventFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/hooks/repetitiveFieldTools.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/hooks/useDateLoading.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/hooks/useDateSelection.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/useDateSelection.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionFormTabSwitchButton.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
  server/src/Models/ContactEvent/GetContactEvent.ts
Labels: client, server

#1304 Fix/display address after confirm
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
Labels: client

#1303 feat|fix(repetitive events)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/RepetitiveEventIcon.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/RepetitiveEventIconStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/hooks/useDateLoading.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: client, server

#1305 Feat/users management tests
  client/src/Utils/Testing/MockThemeProvider.tsx
  client/src/Utils/Testing/UsersManagement/mockSelectors.ts
  client/src/Utils/Testing/UsersManagement/state/county.ts
  client/src/Utils/Testing/UsersManagement/state/desks.ts
  client/src/Utils/Testing/UsersManagement/state/index.ts
  client/src/Utils/Testing/UsersManagement/state/user.ts
  client/src/components/App/Content/UsersManagement/UsersManagement.test.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
Labels: client

#1306 Fix/investigator expand group investigations
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
Labels: client, server

#1307 Feat/flights from mabar
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BackFromAbroad.tsx
Labels: client

#1308 fix(repetitive contact events)
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionFormTabSwitchButton.tsx
Labels: client

#1309 fix(load-address-automatically)
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#1314 Fix/connected investigation contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  db scripts/update_contact_event_function.sql
  server/src/DBService/ContactEvent/Mutation.ts
Labels: client, server

#1311 Feat/admin landing page tests
  client/src/Utils/Testing/AdminLandingPage/investigationInfoStatistics.ts
  client/src/Utils/Testing/AdminLandingPage/mockSelectors.ts
  client/src/Utils/Testing/AdminLandingPage/state/desks.ts
  client/src/Utils/Testing/AdminLandingPage/state/index.ts
  client/src/Utils/Testing/AdminLandingPage/state/user.ts
  client/src/Utils/Testing/MockMuiPickersUtilsProvider.tsx
  client/src/Utils/Testing/MockRouter.tsx
  client/src/Utils/Testing/MockThemeProvider.tsx
  client/src/commons/DatePick/DateRangePick.tsx
  client/src/commons/Select/SelectDropdown.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/PostponedCard/PostponedCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/PostponedCard/PostponedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnusualCard/UnusualCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnusualCard/UnusualCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UpdateButton/UpdateButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
Labels: client

#1315 added new Ids test to current investigation
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client

#1313 Feat(investigator-allocation-tests)
  client/src/Utils/Testing/InvestigatorAllocation/state/index.ts
  client/src/Utils/Testing/InvestigatorAllocation/state/investigators.ts
  client/src/Utils/Testing/MockSwal/confirmed.ts
  client/src/Utils/Testing/MockSwal/dismissed.ts
  client/src/Utils/Testing/MockSwal/index.ts
  client/src/Utils/Testing/flushPromises.ts
  client/src/commons/SearchBar/SearchBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
Labels: client

#1316 Fix/duplicate ids connected contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/InvestigationAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/UseDuplicateConnectedIds.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/investigationAccordion.test.tsx
Labels: client

#1317 Fix/user management tests deactivate all county users tests
  client/src/components/App/Content/UsersManagement/UsersManagement.test.tsx
Labels: client

#1318 fix(transfer-grouped-investigations-county)
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#1319 removed contactedPersonCity from query
  server/src/DBService/ContactEvent/Query.ts
Labels: server

#1320 fix(tool-tip-no-info-message-on-new-fields)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#1321 Fix(rerendering-after-transfer-investigation)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  db scripts/update_investigator_by_group_id.sql
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
Labels: client, server

#1324 added space in user search regex
  client/src/commons/Regex/Regex.ts
Labels: client

#1326 fix(add-fetch-investigations-by-group-id-on-county-transfer)
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1325 fix(static-fields-tool-tip-message)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client

#1327 Fix(date-pick-validation-error-messages)
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/useTableFilter.ts
Labels: client

#1328 changed investigation statistics to function
  db scripts/function_get_investigations_statistics.sql
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: server

#1331 changed phrasing of total rows
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/SelectedRowsMessage/SelectedRowsMessage.tsx
Labels: client

#1333 Fix/allocate investigator error msg
  client/src/Utils/Address/AddressUtils.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#1335 removed 'required' from identification type
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
Labels: client

#1336 add to search
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
Labels: client

#1337 removed checkbox for investigaitors
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
Labels: client

#1338 Feat/add authority search
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1339 re-ordered allocation structure
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#1341 Feat/Edit status filter on landing page
  client/src/commons/statusToFilterConvertor.ts
  db scripts/function_get_investigations_statistics.sql
Labels: client

#1342 Feat/new loading icon
  client/src/commons/LoadingSpinner/LoadingSpinner.tsx
  client/src/commons/LoadingSpinner/LoadingSpinnerStyles.ts
Labels: client

#1323 Feat/investigation info tests
  client/package.json
  client/src/Utils/Testing/InvestigationInfo/MockCommentContextProvider.tsx
  client/src/Utils/Testing/InvestigationInfo/mockSelectors.ts
  client/src/Utils/Testing/MockThemeProvider.tsx
  client/src/Utils/Testing/axiosMock.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/InvestagationMenu.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/InvestigationMenu.tsx
  client/src/setupTests.ts
  package-lock.json
  package.json
Labels: client

#1343 feat- add sort investigators in allocate pop up by usernane, desk and…
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTableHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTableStyles.ts
  client/src/models/User.ts
  client/src/redux/User/userReducer.ts
Labels: client

#1345 Feat/remove duplicate ids
  client/src/Utils/Contacts/useDuplicateContactId.ts
  client/src/commons/Contexts/GroupedInvestigationFormContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/useAccordionContent.ts
Labels: client

#1344 Fix/grouped contact family
  db scripts/duplicate_person_by_id.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: server

#1346 Feat(investigators-counter)
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
Labels: client

#1348 1538/fix(transfer-grouped-investigation-county)
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: client, server

#1347 Feat/new labels
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/test_prs.yml
Labels: feature

#1350 1571/feat/auto comment
  .github/workflows/test_prs.yml
Labels: feature

#1352 1546/fix/investigator-phone-number
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
Labels: client

#1351 1571/fix/other investigations details
  .github/pr-labeler.yml
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client, fix

#1354 1534/feat/sort-investigations-table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  db scripts/ordered_investigations.sql
Labels: client, feature

#1353 adding wiki link for comment bot
  .github/workflows/test_prs.yml
Labels: feature

#1355 1552/fix/externalization-private-house
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionDetailsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/RepetitiveEventForm.tsx
Labels: client, fix

#1356 1563/feat/post-intersections-bank
  db scripts/add_contacts_from_bank.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
Labels: feature, server

#1357 1563/feat/contact bank UI
  client/src/commons/Contexts/ContactBankContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/ContactsBankTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/Row.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/useRow.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/TableColumns.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/TableHeader/TableHeader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/contactsBankFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/Forms.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/useTableRows.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/models/Contact.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: client, feature, server

#1362 1552/fix/externalization-form-display
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionDetailsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client, fix

#1364 1545/fix/group-reason-tooltip
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
Labels: client, fix

#1363 contacts bank - added search bar
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankSearchBar/ContactsBankSearchBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankSearchBar/contactsBankSearchBarStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/ContactsBankTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/useContactsBankTable.ts
Labels: client, feature

#1360 contact bank integration
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
Labels: client, feature, server

#1361 1579/feat/disable existing event contacts
  client/src/commons/Contexts/ContactBankContext.ts
  client/src/commons/Contexts/GroupedInvestigationFormContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/Row.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/rowStyles.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/useRow.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/useAccordionContent.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ManualContactsForm.tsx
Labels: client, feature

#1365 fix/investigation table popper
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client, fix

#1368 1587/fix/remove-unassignedUser-from-investigators-count
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/models/SignUpUser.ts
Labels: client, fix

#1367 1576/fix/undisable-family-contacts
  client/src/commons/Contexts/FamilyMembersContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTableStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/useFamilyMembersTable.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/useFamilyMembersForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  db scripts/update_contact_person.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/middlewares/ConvertToObject.ts
Labels: client, database, fix, server

#1366 1580/feat/investigation comment readmore
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/CommentCell/CommentCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/CommentCell/commentCellStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRowStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
Labels: client, feature, help wanted

#1369 1593/feat/contact bank tests
  client/src/Utils/Testing/ContactsBankForm/MockBankFormProvider.tsx
  client/src/Utils/Testing/ContactsBankForm/state/contactBankMap.ts
  client/src/Utils/Testing/ContactsBankForm/state/existingPersonsMap.ts
  client/src/Utils/Testing/ContactsBankForm/state/index.ts
  client/src/Utils/Testing/ContactsBankForm/state/person.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankForm.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/ContactsBankTable.tsx
Labels: client, feature, tests

#1370 added default values to contacts bank
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/Row.tsx
Labels: client, fix

#1371 changed contactType and extraInfo to editable
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ManualContactsForm.tsx
Labels: client, fix

#1372 feat/contact bank tests
  client/src/Utils/Testing/ContactsBankForm/MockBankFormProvider.tsx
  client/src/Utils/Testing/ContactsBankForm/state/person.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/ContactsBankTable.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/Row.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/Row.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/useRow.ts
Labels: client, feature, tests
