Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-11, with the labels that each got.

#1824 Add Abroad indicator in investigation
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/models/InvestigatedPatientStaticInfo.ts
  client/src/models/InvestigationRedux.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server, feature

#1829 Fix db update in view mode
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, fix

#1830 add new column script
  server/src/ScriptRunner/Scripts/index/exposure_add_column_stayingPlaceId.sql
Labels: server, database, feature

#1833 15416/feat/add-street-and-sub-occupation2
  server/src/ScriptRunner/Scripts/index/add_streets.sql
Labels: server, database, feature

#1835 Fix flights bug
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
Labels: client

#1838 15346/bug/add roles for health system
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  server/src/ScriptRunner/Scripts/index/update_investigated_patient_role_table.sql
Labels: client, server, database

#1839 Piplines revert commit
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  server/src/ScriptRunner/Scripts/index/update_investigated_patient_role_table.sql
Labels: client, server, database

#1841 Phone validation bug fixing
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, feature

#1842 comment the conditions that cleared expusre data
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
Labels: client

#1846 Bug fixing
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, fix

#1848 Fix administrative staff appears twice
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#1849 15762/fix/addional phone number validation
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
Labels: client, fix

#1852 15678/feat/hide origin and destination cities flight
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
Labels: client, feature

#1844 httpClient folder
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/httpClient/clinicalDetails.ts
  client/src/httpClient/interactedContacts.ts
  client/src/httpClient/personalInfo.ts
  client/src/redux/ClinicalDetails/ClinicalDetailsActionCreators.ts
  client/src/redux/InteractedContacts/interactedContactsActionCreators.ts
  client/src/redux/PersonalInfo/personalInfoActionCreators.ts
Labels: client
