Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-06, with the labels that each got.

#1675 1863/fix/dashboard UI fixes
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTable.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTableStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
Labels: client, fix

#1676 1882/fix/refresh-after-last-msg-deleted
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
Labels: client, fix

#1674 move SQL script to sprint 19 folder
  server/src/ScriptRunner/Scripts/Archive/BLK_airline_changes.sql
  server/src/ScriptRunner/Scripts/Archive/BLK_new_identification_type.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/0_insert_new_desks.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/1_insert_new_cities.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_add_flights_info.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_investigation_times.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_new_identification_types.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_person_contact_details.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_update_static_info.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/add_contacts_from_bank.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/close_isolate_contacts.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/delete_public_contacted_person.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_contact_person.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_contact_persons.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_investigation_end_time.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_investigation_reasons_id.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_investigation_start_time.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/BLK_airline_changes.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/BLK_new_identification_type.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/admin_investigations_function.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/create_admin_messages_table.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/function_save_clinical_details.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/new_desk.sql
  server/src/ScriptRunner/Scripts/Archive/admin_investigations_function.sql
  server/src/ScriptRunner/Scripts/Archive/create_admin_messages_table.sql
  server/src/ScriptRunner/Scripts/Archive/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/function_save_clinical_details.sql
  server/src/ScriptRunner/Scripts/Archive/new_desk.sql
Labels: database, server

#1684 1883/fix/refresh after change county
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
Labels: client, fix

#1685 Revert "build(deps): bump sweetalert2 from 10.14.0 to 11.0.16 in /cli…
  client/package-lock.json
  client/package.json
Labels: client

#1686 1824/feat/add-irrelevant-to-green-pass-questions
  client/src/commons/Toggle/CustomToggle.tsx
  client/src/commons/Toggle/ToggleStyles.ts
  client/src/commons/Toggle/TripleToggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/GreenPassQuestioning.tsx
  server/src/ScriptRunner/Scripts/index/BLK_add_irrelevant_answer.sql
Labels: client, database, feature, server

#1687 1889/fix/filter-by-investigation-creation-date
  server/src/ScriptRunner/Scripts/index/BLK_admin_investigations_function.sql
Labels: database, fix, server

#1689 call rulerApi from client + server
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
  server/src/Logger/Logger.ts
Labels: client, feature, server

#1694 fix conflict
  client/package-lock.json
  client/package.json
  client/src/commons/Toggle/CustomToggle.tsx
  client/src/commons/Toggle/ToggleStyles.ts
  client/src/commons/Toggle/TripleToggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/GreenPassQuestioning.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTable.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTableStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  server/package-lock.json
  server/package.json
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
  server/src/Logger/Logger.ts
  server/src/ScriptRunner/Scripts/Archive/BLK_airline_changes.sql
  server/src/ScriptRunner/Scripts/Archive/BLK_new_identification_type.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/0_insert_new_desks.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/1_insert_new_cities.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_add_flights_info.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_investigation_times.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_new_identification_types.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_person_contact_details.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/BLK_update_static_info.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/add_contacts_from_bank.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/close_isolate_contacts.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/delete_public_contacted_person.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_contact_person.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_contact_persons.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_investigation_end_time.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_investigation_reasons_id.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_18/update_investigation_start_time.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/BLK_airline_changes.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/BLK_new_identification_type.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/admin_investigations_function.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/create_admin_messages_table.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/function_save_clinical_details.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_19/new_desk.sql
  server/src/ScriptRunner/Scripts/Archive/admin_investigations_function.sql
  server/src/ScriptRunner/Scripts/Archive/create_admin_messages_table.sql
  server/src/ScriptRunner/Scripts/Archive/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/function_save_clinical_details.sql
  server/src/ScriptRunner/Scripts/Archive/new_desk.sql
  server/src/ScriptRunner/Scripts/index/BLK_add_irrelevant_answer.sql
  server/src/ScriptRunner/Scripts/index/BLK_admin_investigations_function.sql
Labels: client, database, server

#1695 ruler http fix
  client/public/index.html
Labels: client, feature

#1702 1824/feat/change-green-pass-answers-codes
  client/src/commons/Toggle/TripleToggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/GreenPassQuestioning.tsx
  server/src/ScriptRunner/Scripts/index/BLK_add_irrelevant_answer.sql
Labels: client, database, feature, server

#1703 Investigation in View Mode
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/AutoCompletedField/AutocompletedField.tsx
  client/src/commons/CheckBox/CustomCheckbox.tsx
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationProblemFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BackFromAbroad.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/ExposureSearchTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByEpidemiologyNumber.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByPersonalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/VacationOrEvent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/InstitutionComponent/InstitutionComponent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/TrackingRecommendationForm.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationRedux.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  package-lock.json
Labels: client, feature

#1705 Undo package-lock.json
  package-lock.json
Labels: fix

#1698 Fix chips width after Moshe reopen
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client, fix

#1706 849/feat/investigation view mode
  client/src/commons/AutoCompletedField/AutoCompletedFieldTypes.ts
  client/src/commons/CheckBox/CustomCheckbox.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationProblemFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BackFromAbroad.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/ExposureSearchTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByEpidemiologyNumber.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByPersonalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/VacationOrEvent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/InstitutionComponent/InstitutionComponent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/TrackingRecommendationForm.tsx
  client/src/models/InvestigationRedux.ts
  package-lock.json
Labels: client, feature

#1707 849/feat/investigation view mode
  package-lock.json
Labels: feature

#1708 849/feat/investigation view mode
  client/src/models/InvestigationRedux.ts
Labels: client, feature

#1709 849/feat/investigation view mode
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, feature

#1704 1886/feat/ruler http fix
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
Labels: client, feature, server

#1712 Remove Unecessary import from InvestigationActionCreators
  client/src/redux/Investigation/investigationActionCreators.ts
Labels: client, fix

#1713 1891/feat/hide-no-contacts-card
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
Labels: client, feature, tests

#1714 1891/fix/2-rows-of-boxes
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/convertorsToGraph.ts
Labels: client, fix

#1715 1864/fix/contacts questioning request
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactedPeople/Query.ts
Labels: client, fix, server

#1716 1892/fix/display-selected-statuses
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
Labels: client, fix

#1718 ruler server
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
Labels: client, feature, server

#1717 1893/fix/upload-contact-excel-save-contact-type
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ScriptRunner/Scripts/index/BLK_function_update_contact_persons.sql
Labels: database, fix, server

#1720 Add start_time when status changes from new to inProcess
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/models/InvestigationStatus.ts
  client/src/redux/Investigation/investigationReducer.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, fix, server

#1722 1899/feat/add-irrelevant-answer-to-all-questions
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/GreenPassQuestioning.tsx
Labels: client, feature

#1723 1898/fix/clear-desks-when-changing-county
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/useDesksFilterCard.ts
Labels: client, fix

#1721 Disable Last Step Validation in View mode
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
Labels: client, feature

#1724 changes test from 17.6
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
Labels: client, feature, server

#1726 contact questioning ruler ui
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
Labels: client, feature

#1725 Ruler api with batches
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/models/InteractedContact.ts
Labels: client

#1730 ruler final fixes
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
Labels: client, feature, server

#1731 move-scripts-to-archive
  server/src/ScriptRunner/Scripts/Archive/Sprint_20/BLK_add_irrelevant_answer.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_20/BLK_admin_investigations_function.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_20/BLK_function_update_contact_persons.sql
Labels: database, server

#1732 1851/feat/unable-filter-table
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
Labels: client, feature

#1734 date fix
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
Labels: client, feature, server

#1733 Remove Error message on last tab when 2 same identification number
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client, fix

#1736 1906/fix/watch-identification-fields-dont-work
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
Labels: client, fix

#1738 fixed
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client, feature

#1740 Fix contacts batches to one query request
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/ScriptRunner/Scripts/Archive/Sprint_20/BLK_add_irrelevant_answer.sql
Labels: client, database, server

#1739 1900/feat/education-contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EducationContactsDialog/EducationContact/EducationContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EducationContactsDialog/EducationContactsDialog.tsx
  client/src/models/InvolvedContact.ts
  client/src/styles/formStyles.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/ScriptRunner/Scripts/index/new_person_columns.sql
Labels: client, database, feature, server

#1742 family contacts ruler ui
  client/src/Utils/FamilyContactsUtils/FamilyContactsTableHeaders.ts
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTableStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/useFamilyMembersTable.ts
Labels: client, feature
