Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-03, with the labels that each got.

#1384 1532/feat/contact questioning duplicate contact
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/models/ContactQuestioning/GroupedInteractedContact.ts
  client/src/models/InteractedContact.ts
  server/src/DBService/ContactedPeople/Query.ts
Labels: client, feature, server

#1386 added navlink to home page wrapping logo
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
Labels: client, feature

#1387 1557/fix/save-contact-on-status-change
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
Labels: client, fix

#1388 1596/fix/city-required-error-on-contact-questioning
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
Labels: client, fix

#1385 added break-word for long words in comment
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/CommentCell/commentCellStyles.ts
Labels: client, fix

#1249 Fix/users middleware
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Counties/Query.ts
  server/src/DBService/Users/Query.ts
  server/src/middlewares/HandleCountyRequest.ts
  server/src/middlewares/HandleUsersRequest.ts
Labels: client, server

#1389 Group color revision
  client/src/Utils/GroupedInvestigations/getColorByGroupId.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1391 fix error from builds
  client/src/TestHooks.tsx
Labels: client

#1395 added capital
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: fix, server

#1392 added 'hide comment' button for long comments
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/CommentCell/CommentCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/CommentCell/commentCellStyles.ts
Labels: client, fix

#1394 1578/feat/developer-user-type
  client/src/Utils/Testing/UsersManagement/state/user.ts
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/components/App/Content/UsersManagement/UsersFilter/GenericAutoComplete.tsx
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilter.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.test.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/components/App/useApp.ts
  client/src/models/User.ts
  client/src/models/enums/UserTypeCodes.ts
  client/src/redux/User/userActionCreators.ts
  client/src/redux/User/userActionTypes.ts
  client/src/redux/User/userReducer.ts
  server/src/DBService/Users/Query.ts
Labels: client, feature, server, tests

#1396 1603/fix/contact default details
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/Row.tsx
Labels: client, fix

#1397 1557/fix/save-contact-when-status-complete
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client, fix

#1399 Add authority to users table
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/UsersManagement/UsersFilter/FilterCreators.ts
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
  client/src/components/App/Content/UsersManagement/UsersManagementTableHeaders.ts
  client/src/models/Investigator.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1400 1606/fix/excel-contact-type
  client/public/assets/contactFormat.xlsx
Labels: client, fix

#1401 1610/fix/minor-bug-investigator-allocation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTableHeaders.ts
Labels: client, fix

#1398 1482/feat/complexity reasons
  client/src/Utils/ComplexityReasons/ComplexityReasonsFunctions.ts
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab/index.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/InvestigationTableRow.ts
  client/src/redux/ComplexReasons/complexReasonsActionCreators.ts
  client/src/redux/ComplexReasons/complexReasonsActionTypes.ts
  client/src/redux/ComplexReasons/complexReasonsReducer.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  db scripts/create_function_delete_investigation_id.sql
  db scripts/create_function_update_investigation_id.sql
  db scripts/create_new_columns_in_investigation_and_investigation_complexity_reasons.sql
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/utils.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, database, feature, server, tests

#1402 1569/feat/expand collapse all groupedinvestigations
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, feature

#1404 fix
  client/src/Utils/ComplexityReasons/ComplexityReasonsFunctions.ts
  db scripts/create_new_columns_in_investigation_and_investigation_complexity_reasons.sql
Labels: client, database, fix

#1403 1612/fix/investigation status
  client/src/Utils/StatusUtils/useStatusUtils.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, fix

#1405 1482/fix/update-redux-complex-reasons
  client/src/Utils/ComplexityReasons/ComplexityReasonsFunctions.ts
  client/src/redux/Investigation/investigationActionCreators.ts
Labels: client, fix

#1406 1545/fix/fix-tooltip-error
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
Labels: client, fix

#1407 done :)
  client/src/Utils/Routes/Routes.ts
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/createComplexityReasons/CreateComplexityReasons.tsx
  db scripts/create_function_delete_investigation_id.sql
  db scripts/create_function_update_investigation_id.sql
  server/src/ClientToDBAPI/ComplexityReasons/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/ComplexityReasons/Mutation.ts
  server/src/DBService/ComplexityReasons/Query.ts
Labels: client, database, feature, server

#1408 1505/fix/fix-date-utc
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/models/enums/DayOfWeek.ts
Labels: client, fix

#1390 Contact bank rollback
  client/src/Utils/Contacts/useDuplicateContactId.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/Forms.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
Labels: client

#1413 feat/ remove id column from ManagementTableHeaders
  client/src/components/App/Content/UsersManagement/UsersManagementTableHeaders.ts
Labels: client, feature

#1415 fix - change age tooltip in investigation header
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client, fix

#1411 1623/fix/excel-passport-error
  client/public/assets/contactFormat.xlsx
  client/src/Utils/Contacts/useContactFields.ts
Labels: client, fix

#1410 1625/fix/change-county-return-to-default-page
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, fix

#1412 1616/feat/appbar revamp
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
Labels: client, feature

#1409 removed 'last updator' from alloction query params
  server/src/DBService/Users/Mutation.ts
Labels: fix, server

#1416 1640/fix/fix patient display age
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTableStyles.ts
Labels: client, fix

#1418 fix - add age complexity reason in case the patient don't have age in DB
  db scripts/calc_investigation_age_complexity_reason.sql
  server/src/ClientToDBAPI/ComplexityReasons/mainRoute.ts
Labels: database, server

#1417 1607/feat/change-district-for-developer-user
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/useApp.ts
  client/src/redux/County/countyActionCreators.ts
  client/src/redux/County/countyActionTypes.ts
  client/src/redux/County/countyReducer.ts
  client/src/redux/Desk/deskActionCreators.ts
  client/src/redux/Desk/deskActionTypes.ts
  client/src/redux/Desk/deskReducer.ts
  client/src/redux/District/districtActionCreators.ts
  client/src/redux/District/districtActionTypes.ts
  client/src/redux/District/districtReducer.ts
  client/src/redux/User/userActionCreators.ts
  client/src/redux/User/userActionTypes.ts
  client/src/redux/User/userReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/DistrictsRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/Counties/Query.ts
  server/src/DBService/Districts/Query.ts
  server/src/DBService/Users/Mutation.ts
  server/src/Models/District/District.ts
  server/src/Models/District/GetAllDistrictsResponse.ts
  server/src/middlewares/Authentication.ts
  server/src/middlewares/HandleUsersRequest.ts
Labels: client, feature, server

#1419 1636/move-investigation-to-archives
  db scripts/archive_investigation.sql
  db scripts/delete_investigation.sql
Labels: database

#1420 patient with age under 1 was shown in the investigation table as -
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
Labels: client, fix

#1421 added check if dislpayedCounty is not default value
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/redux/User/userReducer.ts
Labels: client, fix

#1422 matched color generating method to hash
  client/src/Utils/GroupedInvestigations/getColorByGroupId.ts
Labels: client, fix

#1423 1616/feat/remove back button
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client, feature

#1424 Default values - tab managment
  client/src/commons/InlineErrorText/InlineErrorText.tsx
  client/src/commons/InlineErrorText/inlineErrorTextStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationProblemFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
Labels: client, feature

#1425 changed isolation id validation
  client/src/Utils/Contacts/useContactFields.ts
Labels: client, fix

#1427 added investigation to appbar
  client/src/components/App/AppToolbar/AppToolbar.tsx
Labels: client, fix

#1426 1653/feat/tracking recommendation
  client/src/Utils/TrackingRecommendation/updateTrackingRecommendation.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/TrackingRecommendationForm.tsx
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/trackingRecommendationStyles.ts
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/trackingRecommendationTypes.ts
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/useTrackingRecommendationForm.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/TrackingRecommendation/TrackingRecommendation.ts
  client/src/models/TrackingRecommendation/trackingOptions.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  db scripts/update_tracking_recommendation.sql
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, database, feature, server

#1428 added isnamedlocation refrence in the name
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client, fix

#1429 1653/fix/investigation undefined
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/TrackingRecommendationForm.tsx
Labels: client, fix

#1430 feat - personal header + personal info tab changes
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InfoItem.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/PatientInfoItem/PatientInfoItem.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/PatientInfoItem/PatientInfoItemStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadataStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/models/enums/PersonalInfoDataContextFields.ts
Labels: client, feature

#1431 Fix/tracking recommendation other
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/TrackingRecommendationForm.tsx
Labels: client, fix

#1433 fixed typo
  client/src/models/TrackingRecommendation/trackingOptions.ts
Labels: client, fix

#1432 1619/feat/edit-static-fields-for-admins
  client/src/commons/Regex/Regex.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/Schema/StaticFieldsSchema.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/Schema/ValidationStatusSchema.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/models/enums/StaticFields.ts
  db scripts/update_static_info.sql
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, database, feature, server

#1434 Fix/investigaited person info css
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client, fix

#1435 font size and style changed
  client/src/commons/FieldName/FieldName.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfoStyles.ts
  client/src/styles/theme.ts
Labels: client, fix

#1436 1639/fix/stylechanged
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
Labels: client, fix

#1438 1619/fix/required-field-error
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
Labels: client, fix

#1439 1674/feat/remove complexity reasons route
  client/src/Utils/Routes/Routes.ts
  client/src/components/App/Content/Content.tsx
  client/src/components/App/Content/createComplexityReasons/CreateComplexityReasons.tsx
  server/src/ClientToDBAPI/ComplexityReasons/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/ComplexityReasons/Mutation.ts
  server/src/DBService/ComplexityReasons/Query.ts
Labels: client, feature, server

#1440 1677/feat/delete-popups-transfer-investigation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCounty.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDesk.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDialogNote.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabs.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabsDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, feature, tests

#1442 moved usersTypesFetch to only be called once
  client/src/components/App/useApp.ts
Labels: client, fix

#1443 1669/feat/does have symptoms flow changed
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
Labels: client, feature

#1445 added exception for no update time
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
Labels: client, fix

#1450 fix/remove-middleware-update-distric
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: fix, server

#1446 added horizontal margin for investigator cell
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCellStyles.ts
Labels: client, fix

#1453 1607/Fix/changed-update-user-district-function
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/useApp.ts
  db scripts/update_user_district.sql
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Counties/Query.ts
  server/src/DBService/Users/Mutation.ts
Labels: client, database, fix, server

#1456 1607/fix/change-district-errors
  client/src/components/App/useApp.ts
Labels: client, fix

#1455 1692/fix/uniqe filter complexity reasons
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
Labels: client, fix

#1449 contact person values shhould be open in first tab when there are values
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, fix

#1452 added validation exception on isolationAddress
  client/src/Utils/Contacts/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
Labels: client

#1457 1644/feat/developer-user-change-user-type
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
  server/src/DBService/Users/Query.ts
Labels: client, feature, server

#1459 1697/feat/isDeveloper-user-change-county
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  server/src/DBService/Users/Mutation.ts
  server/src/middlewares/HandleUsersRequest.ts
Labels: client, feature, server

#1460 scripts added
  db scripts/age_complexity_reason.sql
  db scripts/calc_patient_age.sql
Labels: database, fix

#1454 1681/fix/no context address form
  client/src/commons/NoContextElements/AddressForm.tsx
  client/src/commons/NoContextElements/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/models/DBAddress.ts
Labels: client, fix

#1458 moved next page button to tabs row
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client, feature

#1447 added start and end of date time exceptions
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/useTableFilter.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/useTimeRangeFilterCard.ts
  db scripts/function_get_investigations_statistics.sql
  server/src/DBService/LandingPage/Query.ts
Labels: client, database, fix, server, tests

#1448 1680/test/users-managment-new-tests
  client/src/components/App/Content/UsersManagement/UsersManagement.test.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
Labels: client, tests

#1464 1700 - fix - make space to show last card
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client, fix

#1463 1698/feat/icon removed
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
Labels: client, feature
