Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-12, with the labels that each got.

#1843 bot investigation - add new tables
  server/src/ScriptRunner/Scripts/Archive/sprint_23/add_cities_temp.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/add_city_temp.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/add_column_contact_investigation_verified_abroad.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/add_is_exposure_person_known_coulmn_to_exposure.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/add_streets.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/create_temp_cities_table.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/exposure_add_column_stayingPlaceId.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/save_clinical_details.sql
  server/src/ScriptRunner/Scripts/Archive/sprint_23/update_exposures_function.sql
  server/src/ScriptRunner/Scripts/index/add_contact_status_value_bot.sql
  server/src/ScriptRunner/Scripts/index/add_creation_source.sql
  server/src/ScriptRunner/Scripts/index/add_updator_user_column_to_investigation.sql
  server/src/ScriptRunner/Scripts/index/bot_investigation_new_tables.sql
Labels: server, database, feature

#1845 bot investigation in investigation form
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/httpClient/investigationInfo.ts
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/KeyValuePair.ts
  client/src/models/enums/ChatStatusCodes.ts
  client/src/redux/BotInvestigationInfo/botInvestigationInfoActionCreator.ts
  client/src/redux/BotInvestigationInfo/botInvestigationInfoActionTypes.ts
  client/src/redux/BotInvestigationInfo/botInvestigationInfoReducer.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/redux/investigatorReferenceStatuses/investigatorReferenceStatusesActionCreator.ts
  client/src/redux/investigatorReferenceStatuses/investigatorReferenceStatusesActionTypes.ts
  client/src/redux/investigatorReferenceStatuses/investigatorReferenceStatusesReduces.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server, feature

#1854 Bot phase 2 - contact questioning
  client/src/Utils/Contacts/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningCheck.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonalSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/models/enums/ContactStatusCodes.ts
  client/src/models/enums/CreationSourceCodes.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventContactFields.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  server/src/ScriptRunner/Scripts/index/update_contact_event_function.sql
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
Labels: client, server, database, feature

#1853 15545/feat/bot investigation grid changes
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/httpClient/investigationInfo.ts
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  client/src/models/enums/InvestigatorReferenceStatusCode.ts
  client/src/redux/ChatStatuses/chatStatusesActionCreator.ts
  client/src/redux/ChatStatuses/chatStatusesActionTypes.ts
  client/src/redux/ChatStatuses/chatStatusesReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server, feature

#1858 fix fetch data bug in test
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, feature

#1859 add creationSource in contacts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/models/Contact.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
  server/src/ScriptRunner/Scripts/index/add_contacts_from_bank.sql
  server/src/ScriptRunner/Scripts/index/update_contact_persons.sql
Labels: client, server, database, feature

#1860 incompleted bot investigation
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
Labels: client, feature

#1861 update last updator user value
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationMetadata.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/InvestigationMetadata.ts
  server/src/ScriptRunner/Scripts/index/add_updator_user_column_to_investigation.sql
Labels: client, server, database, feature

#1862 chat statuse id changes
  client/src/models/enums/ChatStatusCodes.ts
  server/src/ScriptRunner/Scripts/index/bot_investigation_new_tables.sql
Labels: client, server, database, feature

#1863 CreationSource only in insert
  server/src/ScriptRunner/Scripts/index/update_contact_event_function.sql
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
Labels: server, database, feature

#1864 checkbox filters style
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client, feature

#1866 Incompleted bot investigations in dashboard
  client/src/Utils/Testing/AdminLandingPage/investigationInfoStatistics.ts
  client/src/commons/statusToFilterConvertor.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/convertorsToGraph.ts
  client/src/models/FilterRulesVariables.ts
  client/src/models/InvestigationStatistics.ts
  client/src/models/enums/FilterRulesDescription.ts
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: client, server, database, feature

#1865 Fix/adjust table UI
  client/src/commons/InvestigationComplexity/ComplexityIcon/ComplexityIcon.tsx
  client/src/commons/InvestigationComplexity/ComplexityIcon/ComplexityIconStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRowStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, fix

#1867 fix
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
Labels: client, fix

#1869 bug fixing
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server, fix

#1868 bug fixing
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
Labels: client, fix

#1870 Bug fixing
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: server, database, fix

#1871 Bug fixing
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
Labels: client, fix

#1875 16722/fix/incompleted bot investigation count
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: server, database, fix

#1873 occupation roles
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/investigatedPatientRole.ts
  server/src/DBService/PersonalDetails/Query.ts
Labels: client, server, fix

#1872 improve performance
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactedPeople/Query.ts
Labels: client, server, feature

#1876 update occupation and roles
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/enums/Occupations.ts
  server/src/ScriptRunner/Scripts/index/add_roles.sql
Labels: client, server, database, fix

#1878 order by bot fields
  server/src/ScriptRunner/Scripts/index/ordered_investigations.sql
Labels: server, database, fix

#1879 remove duplicate server calls
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/useTabManagement.ts
Labels: client, feature

#1880 fix date filter bug
  client/src/models/enums/timeRanges.ts
Labels: client, fix

#1881 fix order
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
Labels: server, fix

#1883 change investigation statuses to not investigated in grid
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
Labels: client, feature

#1882 occupation details from bot
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, feature
