Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-01, with the labels that each got.

#1067 fix(age): now all the server age calc is with the same function + deals with invalid age
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/useExposureForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/utils.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/Utils/patientUtils.ts
Labels: client, server

#1068 fix(BackFromAbroad): fixed toggle functionality
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BackFromAbroad.tsx
Labels: client

#1069 fix(InvestigationBarChart.tsx): fix the tooltip location
  client/package-lock.json
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/InvestigationBarChart/InvestigationBarChart.tsx
Labels: client

#1070 fix(involved contact): changed involved contact's isolation city to be isolation address
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/models/InvolvedContact.ts
  db scripts/update_contact_person.sql
  db scripts/update_contact_persons.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/Address/Address.ts
  server/src/Models/Address/InsertAndGetAddressIdInput.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
Labels: client, server

#1071 fix(date picker label): prevent date picker label from covering input
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/DatePick/DatePickStyles.ts
Labels: client

#1072 fix(comment save): reset comment to previous on error
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.tsx
Labels: client

#1074 Fix/handle investigation middleware
  server/src/GraphqlHTTPRequest.ts
  server/src/middlewares/HandleInvestigationRequest.ts
Labels: server

#1079 fix(unallocated filter): unallocated filter shows only new and in process investigations
  client/src/commons/statusToFilterConvertor.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1075 feat(FamilyMembersTable): added house member indication
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTableStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
Labels: client, server

#1076 Feat(time-range-card): filter by time ranges added
  client/src/commons/Select/SelectDropdown.tsx
  client/src/commons/Select/SelectDropdownStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/AdminLandingPageFilters.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeCard/timeRangeCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/timeRangeFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/timeRangeFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/useTimeRangeFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/useDesksFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/models/FilterRulesVariables.ts
  client/src/models/TimeRange.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  client/src/models/enums/timeRanges.ts
  server/src/ClientToDBAPI/DesksRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: client, server

#1083 fix(InvestigatorAllocationDialog): set isLoading fix bug 1312
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
Labels: client

#1077 fix(default axios): changed all axios request to use the default axios
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/Utils/StatusUtils/useStatusUtils.ts
  client/src/Utils/axios.ts
  client/src/commons/Forms/PlacesTypesAndSubTypes/usePlacesTypesAndSubTypes.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/useExposureForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useFlightsInvestigation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/SignUp/SignUpForm/useSignUpForm.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
Labels: client

#1085 fix(): statement_timeout changed to 90000
  server/src/DBService/config.ts
Labels: server

#1086 fix(contacts) prevent overflow
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ExcelUploaderStyles.ts
Labels: client

#1087 fix(contact event) form reset
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client

#1073 Feat/new excel fields
  client/public/assets/contactFormat.xlsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/models/enums/contactQuestioningExcelFields.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
Labels: client, server

#1089 centered statuses
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumnStyles.ts
Labels: client

#1088 fix(small bugs): fixed home button route and admin landing buttons hover
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfoStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useHoverStyles.ts
Labels: client

#1091 fix(airline validations): added airline validations text field
  client/src/commons/AirelineTextField/AirelineTextField.tsx
  client/src/commons/AirelineTextField/AirelineTextFieldStyles.ts
  client/src/commons/AirelineTextField/AirelineTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/FlightEventForm.tsx
Labels: client

#1092 fix(exposure search): fixed exposure serach to change by date
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/DBService/Exposure/Query.ts
Labels: server

#1090 fix(filterCreators): fixed filter requests
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSourceOption.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
Labels: client

#1093 Feat/new self-investigation icons
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/SelfInvestigationIcon/SelfInvestigationIcon.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SelfInvestigationIcon/Tooltip/SelfInvestigationTooltip.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SelfInvestigationIcon/selfInvestigationIconStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/SelfInvestigationIcon/useSelfInvestigationIcon.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/enums/selfInvestigationStatuses.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1084 Feat/admin landing page last updated
  client/src/Utils/DateUtils/timeSince.ts
  client/src/commons/Icons/RefreshIcon.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/lastUpdateMessageStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfoStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
Labels: client

#1094 fix(InvestigatorsTable): refactor investigator list fetch
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTableHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  db scripts/get_investigator_list_by_county_function.sql
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Query.ts
Labels: client, server

#1095 Feat(date-pick-time-range): Added custom time range option and styles
  client/src/commons/DatePick/DatePickStyles.ts
  client/src/commons/DatePick/DateRangePick.tsx
  client/src/commons/Select/SelectDropdown.tsx
  client/src/commons/Select/SelectDropdownStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/useTimeRangeFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCardStyles.ts
  client/src/models/enums/timeRanges.ts
Labels: client

#1097 aligned healine
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#1098 Fix(UI-filter-box): Changed styles
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client

#1099 Fix/search bar max width
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
Labels: client

#1102 changed to date-fn's format
  client/src/components/App/Content/LandingPage/InvestigationTable/SelfInvestigationIcon/Tooltip/SelfInvestigationTooltip.tsx
Labels: client

#1101 removed 'tabindex' and added eventListener insead
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#1105 Fix/desks card
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/lastUpdateMessageStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCardStyles.ts
Labels: client

#1103 fix/filter-refactor
  client/src/commons/SearchBar/SearchBar.tsx
  client/src/commons/SearchBar/SearchBarStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/components/App/Content/UsersManagement/UsersFilter/FilterCreators.ts
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilter.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
Labels: client

#1104 fix(Investigators): Change investogator fetch for Test env
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInvestigator.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigatorOption.ts
  client/src/models/User.ts
  db scripts/get_investigator_list_by_county_function.sql
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Query.ts
Labels: client, server

#1100 Fix(dates to investigate refactor)
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/Utils/DateUtils/useDateUtils.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/useSymptomsFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetailsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/InvestigatedPatient.ts
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/SymptomsExistenceInfo.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/Models/ClinicalDetails/CoronaTestDateQueryResult.ts
Labels: client, server

#1107 fix(time-format-self-investigation): changed to 24 hours
  client/src/components/App/Content/LandingPage/InvestigationTable/SelfInvestigationIcon/Tooltip/SelfInvestigationTooltip.tsx
Labels: client

#1106 fix(admin landing page): bug fixtures
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/AdminLandingPageFilters.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/useTimeRangeFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/useDesksFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
Labels: client, server

#1109 fix(display bugs): fixed style ans texts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
Labels: client

#1096 Feat/self investigation icon
  client/src/Utils/DateUtils/formatDate.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/SelfInvestigationIcon/Popover/SelfInvestigationPopover.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/SelfInvestigationIcon/SelfInvestigationIcon.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/SelfInvestigationIcon/selfInvestigationIconStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/SelfInvestigationIcon/useSelfInvestigationIcon.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/enums/selfInvestigationStatus.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1111 fix(questioning and table): fixed bugs
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1110 Fix/Active home page button
  client/src/components/App/AppToolbar/AppToolbar.tsx
Labels: client

#1114 changed desks filter size
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
Labels: client

#1113 Fixed empty value issue in contact questioning
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
Labels: client

#1116 Fix/dynamic id validation
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/Schemas/identification.ts
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/commons/IdentificationTextField/IdentificationTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
Labels: client

#1117 fix(Hebrew characters in passport field):
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
Labels: client

#1119 Fix(TableFilter): redesign according to bug 1274
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client

#1118 Feat(filter-by-time-range-investigation-table)
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/DatePick/DateRangePick.tsx
  client/src/commons/DatePick/DateRangePickStyles.ts
  client/src/commons/Select/SelectDropdownStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/useTableFilter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/useTimeRangeFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/models/enums/timeRanges.ts
Labels: client

#1112 sort place sub types, and move other to last
  client/src/commons/Forms/PlacesTypesAndSubTypes/usePlacesTypesAndSubTypes.ts
Labels: client

#1120 Feat/change user county
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Users/Mutation.ts
  server/src/DBService/Users/Query.ts
Labels: client, server

#1121 fix(investigation table + id)
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1122 fix(passport schema validation):
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1115 Fix/address form
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/PatientAddress.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  db scripts/update_contact_person.sql
Labels: client

#1124 accurate coronaTestDates
  client/src/Utils/DateUtils/formatDate.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/useExposureForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationInfo.ts
Labels: client

#1126 Fix(filter-by-time-range-card-label-naming)
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.tsx
Labels: client

#1127 Fix/add excel identification validation
  client/public/assets/contactFormat.xlsx
  client/src/Utils/Contacts/useContactFields.ts
Labels: client

#1125 fix(place type form) refactor
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/commons/Forms/PlacesTypesAndSubTypes/usePlacesTypesAndSubTypes.ts
  client/src/commons/Forms/PlacesTypesAndSubTypes/usePlacesTypesAndSubTypesInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/redux/PlaceTypes/placetypeActionCreators.ts
  client/src/redux/PlaceTypes/placetypeActionTypes.ts
  client/src/redux/PlaceTypes/placetypeReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
Labels: client

#1129 Fix(DeskFilter): redesign by bug 1274
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client

#1130 Fixed error on empty fields on /saveClinicalDetails
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/Utils/addressUtils.ts
Labels: server

#1131 fix(history): fixed init filter rules bug
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1128 Fix(self-investigation-icon-toolTip):make icon toolTip not clickable
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/SelfInvestigationIcon/SelfInvestigationIcon.tsx
Labels: client

#1135 fix(passport validations):
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/Schemas/identification.ts
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
Labels: client

#1133 fix(investigationTableStyle): fixed the header and status filter
  client/src/commons/SearchBar/SearchBarStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client

#1136 fix(admin landing): init the investigation info filter only once
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
Labels: client

#1144 fixed null contact statuses
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
Labels: client

#1134 fix(contact events): query contact events by start date
  client/src/Utils/DateUtils/formatDate.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: client, server

#1146 Fix(isolation-sources-order)
  server/src/DBService/ClinicalDetails/Query.ts
Labels: server

#1147 Fix(settings col)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1148 fix/blank isolationAddress Fields
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#1149 fix(ClinicalDetails): fixed address grid in clinical details
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client

#1150 fix(excel): changed the excel id max length to be 15
  client/public/assets/contactFormat.xlsx
Labels: client

#1151 fix(isolation-dates-validation)
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
Labels: client

#1152 added first row formula
  client/public/assets/contactFormat.xlsx
Labels: client

#1153 fix(InteractionDialog): removed unnecessary private house address sent
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
Labels: client

#1154 added debugging log on axios's else
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
Labels: client

#1155 Fix(education-class-number-validation)
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoValidationSchema.ts
Labels: client

#1156 Fix(isolation city): setting isolation address's city as optional to prevent crush
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
Labels: client

#1157 changed excel wording to floor
  client/public/assets/contactFormat.xlsx
  client/src/models/enums/contactQuestioningExcelFields.ts
Labels: client

#1159 fix/blank addresses on contact questioning
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client

#1160 fix(PersonalInfoTab.tsx): fix the css of the address, bug 1373
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
Labels: client

#1161 fix(ContactQuestioningPersonal.tsx): disable age field always
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#1162 Fix(end-flight-date-validation)
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
Labels: client

#1163 fix(flight-date-error-naming)
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
Labels: client

#1164 added 'epidemiology number' to placeholder text
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSearchTextField/ExposureSearchTextField.tsx
Labels: client

#1165 Fix(institution-field-styles)
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#1166 Fix/possible exposure search
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSourceOption.tsx
Labels: client

#1167 fix(exposure flight): enabled adding new flight when supposed to, and made required fields intuitive
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client

#1168 fix(): removed unused imports, fixed spacing and used single quotes
  client/src/commons/Select/SelectDropdown.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/DefaultPlaceEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/BusEventForm.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabs.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/SignUp/SignUp.tsx
  client/src/components/App/Content/UsersManagement/UserInfoDialog/UserInfoDialog.tsx
  client/src/components/App/Content/UsersManagement/UsersManagementStyles.ts
  client/src/models/FilterTableOption.ts
  client/src/models/InteractedContact.ts
  client/src/models/InvestigationInfo.ts
Labels: client

#1169 fix(Addresses): fix house details height and label positioning
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/commons/AlphanumericTextField/AlphanumericTextFieldTypes.ts
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/commons/Forms/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSearchTextField/ExposureSearchTextFieldStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfoStyles.ts
Labels: client

#1175 fix(comment dialog)
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.tsx
Labels: client

#1174 removed helper text - clinicalDetails date picker
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
Labels: client

#1173 Fix/user managment table visual
  client/src/commons/IsActiveToggle/IsActiveToggleStyles.ts
  client/src/styles/theme.ts
Labels: client

#1172 Fix/personal details clear errors
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client

#1171 added optional covid patients reset when search query is empty
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
Labels: client

#1176 Feat(search-investigator):add searchBar on InvestigatorAllocationDialog
  client/src/commons/SearchBar/SearchBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client

#1170 Fix/admin landing page css refactor
  client/src/commons/DatePick/DatePickStyles.ts
  client/src/commons/DatePick/DateRangePick.tsx
  client/src/commons/DatePick/DateRangePickStyles.ts
  client/src/commons/Select/SelectDropdown.tsx
  client/src/commons/Select/SelectDropdownStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPageStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButtonStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfoStyles.ts
  client/src/index.css
Labels: client

#1177 fix(AddressForm): fix position of the text fields
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/commons/Forms/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
Labels: client

#1178 Fix/order selects
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  server/src/DBService/Counties/Query.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/DBService/PersonalDetails/Query.ts
Labels: client, server

#1180 Fix/idetification type name
  client/public/assets/contactFormat.xlsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/models/enums/ContactFieldName.ts
  client/src/models/enums/contactQuestioningExcelFields.ts
Labels: client

#1181 Fix(institution-field-sizes)
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
Labels: client

#1182 ordered userManagementTable
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilter.tsx
  server/src/DBService/Users/Query.ts
Labels: client, server

#1183 fix/investigationTable crashes on invalid date
  client/src/commons/DatePick/DateRangePick.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/useTableFilter.ts
Labels: client

#1185 feat(monitoring): add monitoring for the reverse proxy
  client/Dockerfile
  client/server/logger.js
  client/server/package-lock.json
  client/server/package.json
  client/server/server.js
  client/src/setupProxy.js
Labels: client

#1184 fix(UserFilter): created seperate component for genericAutoComplete and fixed style
  client/src/components/App/Content/UsersManagement/UsersFilter/GenericAutoComplete.tsx
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilter.tsx
  client/src/components/App/Content/UsersManagement/UsersFilter/UsersFilterStyles.ts
  client/src/models/ActiveStatus.ts
Labels: client

#1187 fix(LastUpdateMessage): fixed update message refresh rate
  client/src/Utils/DateUtils/timeSince.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.tsx
  client/src/models/enums/Times.ts
Labels: client

#1188 fix(setupProxy.js): remove require
  client/src/setupProxy.js
Labels: client

#1189 fix/duplicated grouped investigation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigations.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/useGroupedInvestigations.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/mainRoute.ts
Labels: client, server

#1190 Fix(date-range-error-message)
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/useTableFilter.ts
Labels: client

#1192 feat(client/server.js): add logging to the reverse proxy
  client/server/logger.js
  client/server/package-lock.json
  client/server/package.json
  client/server/server.js
Labels: client

#1191 feat(AddressForm.tsx): add appartment field
  client/public/assets/contactFormat.xlsx
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/models/enums/contactQuestioningExcelFields.ts
  db scripts/insert_and_get_address_id.sql
Labels: client

#1195 fix(spacing-flights-form)
  client/src/commons/AirportTextField/AirportTextFieldTypes.ts
  client/src/commons/InternationalCityTextField/InternationalCityTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client

#1197 fix(validation-symptoms-start-date)
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
Labels: client

#1196 fix(error-message-identification-type)
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client

#1194 removed 'optional' from contact type options excel
  client/public/assets/contactFormat.xlsx
Labels: client

#1199 fix(template excel) sort dec. dropdown list alphabetically
  client/public/assets/contactFormat.xlsx
Labels: client

#1198 Fix/contact questioning validations errors
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/commons/DatePick/DatePick.tsx
  client/src/commons/Icons/HelpIcon/HelpIcon.tsx
  client/src/commons/Icons/HelpIcon/helpIconStyles.ts
  client/src/commons/Toggle/Toggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
Labels: client

#1200 fix(contact event) externalization approvals
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client

#1201 Fix/uneven spacing interactions
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/InteractionGridItem.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/OfficeEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/SchoolEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/BusEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/FlightEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/TransportationAdditionalGrids/TrainEventGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/PlacesAdditionalGrids/interactionGridItemStyles.ts
Labels: client

#1202 fix(error-message-class-number)
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
Labels: client

#1203 fix(spacing-flights-form)
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInputStyles.ts
Labels: client

#1205 resetted excel fields
  client/public/assets/contactFormat.xlsx
Labels: client

#1213 Fix/interactions duplicate ids
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
Labels: client

#1215 fix(addresses-creation)
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/models/DBAddress.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/Address/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/DBService/PersonalDetails/Query.ts
  server/src/Models/Exposure/CovidPatientDBOutput.ts
Labels: client, server

#1211 added end time validation to interactions tab
  client/src/commons/DatePick/TimePick.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client

#1214 fix(styles-flights-form)
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/AirportInput/AirportInputStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightFormStyles.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client

#1216 fix(removing-update-address)
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab.ts
  client/src/models/DBAddress.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/Address/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/DBService/PersonalDetails/Query.ts
  server/src/Models/Exposure/CovidPatientDBOutput.ts
Labels: client, server

#1212 feat(change-interaction-chevron): Change chevron right to left
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client

#1218 fix(filterCreators.ts): change -1 to null in desk id
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
Labels: client

#1217 fix(filterCreators.ts): change -1 to null in desk id
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
Labels: client

#1219 fix(): remove max validation on symptoms start date, check if symptom…
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
Labels: client

#1220 Fix/dev validations symptoms
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
Labels: client

#1210 Fix/contact questioning visual
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/commons/Forms/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client

#1221 fix(excel): sort excel lists by alphabet
  client/public/assets/contactFormat.xlsx
Labels: client

#1225 fix(user-active-indication): now the indication works as expected
  server/src/DBService/GroupedInvestigations/Query.ts
Labels: server

#1222 fix(coronaTestDate): remove the column from investigation table
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.test.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigatedPatientStaticInfo.ts
  client/src/models/InvestigationInfo.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/PersonStaticInfo.ts
  db scripts/ordered_investigations.sql
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/ClientToDBAPI/GroupedInvestigationsRoute/utils.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/GroupedInvestigations/Query.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1224 feat(change county for super admin): added the feature and more fixtures
  client/src/Utils/Desk/useDesksUtils.ts
  client/src/components/App/App.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCounty.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabs.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabsDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/useDesksFilterCard.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/components/App/Content/SignUp/SignUpForm/SignUpForm.tsx
  client/src/components/App/Content/SignUp/SignUpForm/useSignUpForm.ts
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/components/App/useApp.ts
  client/src/models/County.ts
  client/src/models/CountyReducer.ts
  client/src/models/Desk.ts
  client/src/models/District.ts
  client/src/models/User.ts
  client/src/redux/County/countyActionCreators.ts
  client/src/redux/County/countyActionTypes.ts
  client/src/redux/County/countyReducer.ts
  client/src/redux/Desk/deskActionCreators.ts
  client/src/redux/Desk/deskActionTypes.ts
  client/src/redux/Desk/deskReducer.ts
  client/src/redux/User/userActionCreators.ts
  client/src/redux/User/userActionTypes.ts
  client/src/redux/User/userReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/DesksRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Counties/Query.ts
  server/src/DBService/Desk/Query.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/DBService/Users/Query.ts
  server/src/middlewares/HandleInvestigationRequest.ts
Labels: client, server

#1226 Fix/dates to investigate
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/InvestigationInfo.ts
Labels: client

#1230 fix(serach bar): changed the validations and added utils
  client/src/Utils/UsersUtils/useUsersUtils.ts
  client/src/Utils/UsersUtils/userUtils.ts
  client/src/commons/SearchBar/SearchBar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorsTable/InvestigatorsTable.tsx
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
Labels: client

#1229 Fix(excel bugs)
  client/src/Utils/Contacts/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/models/enums/ContactStatus.ts
  client/src/models/enums/ContactStatusCodes.ts
Labels: client

#1231 Feat/unusual investigations home
  client/src/commons/statusToFilterConvertor.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnusualCard/UnusualCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnusualCard/UnusualCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/models/FilterRulesVariables.ts
  client/src/models/InvestigationStatistics.ts
  client/src/models/enums/FilterRulesDescription.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1232 fix(PersonalInfoTab.tsx): refactor to only react hook form
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/InstitutionComponent/InstitutionComponent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab/index.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab/usePersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/models/DBAddress.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
Labels: client, server

#1242 Fix(flight-date-validation)
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
Labels: client

#1233 Feat/interactions grouped investigation contacts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/Forms.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/ErrorMessage/ErrorMessage.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/ContactsTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableHeader/TableHeader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/TableRows.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/tableRowsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/useTableRows.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/tableColumns.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/SelectedRowsMessage/SelectedRowsMessage.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/useAccordionContent.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionHeadline/AccordionHeadline.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionHeadline/accordionHeadlineStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/InvestigationAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/accordionStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/GroupedInvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/useGroupedInvestigationForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/groupedInvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/useGroupedInvestigationsTab.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
  client/src/models/GroupedInvestigationContacts/ConnectedInvestigation.ts
  client/src/models/GroupedInvestigationContacts/ConnectedInvestigationContact.ts
  client/src/models/GroupedInvestigationContacts/ContactEvent.ts
  client/src/models/GroupedInvestigationContacts/ContactedPerson.ts
  client/src/models/GroupedInvestigationContacts/CovidPatient.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server

#1244 fix/grouped investigation form-accordion row count
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/useAccordionContent.ts
Labels: client

#1245 Feat(regex-refactor)
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/Schemas/identification.ts
  client/src/Utils/UsersUtils/userUtils.ts
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/commons/AlphabetTextField/AlphabetTextField.tsx
  client/src/commons/AlphabetTextField/ExposureSearchTextField.tsx
  client/src/commons/AlphabetWithDashTextField/AlphabetWithDashTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/commons/FlightNumberTextField/FlightNumberTextField.tsx
  client/src/commons/HebrewTextField/HebrewTextField.tsx
  client/src/commons/NumericTextField/NumericTextField.tsx
  client/src/commons/Regex/Regex.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSearchTextField/ExposureSearchTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSourceOption.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/TransportationForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/GroupedInvestigations/GroupedInvestigationsForm/GroupedInvestigationsSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCountySchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDeskSchema.ts
  client/src/components/App/Content/SignUp/SignUpForm/SignUpSchema.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/commons/Regex/Regex.ts
Labels: client, server

#1248 fixed days to investigate in test
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/models/InvestigationInfo.ts
Labels: client

#1246 Fix/grouped investigation form disabled rows
  client/src/commons/Contexts/GroupedInvestigationFormContext.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/Forms.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/ContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/ContactsTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/TableRows.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/tableRowsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/useTableRows.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/useAccordionContent.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/InvestigationAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/GroupedInvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationsTab.tsx
  client/src/models/GroupedInvestigationContacts/ContactEvent.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: client, server

#1236 feat(interactions) added repetitive events ui
  client/src/Utils/ContactEvent/placeTypesCodesHierarchy.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/DetailsFieldsTitle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionDetailsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionExternalizationForm/InteractionExternalizationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionExternalizationForm/InteractionExternalizationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionTimeForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/HospitalEventForm/HospitalEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/SchoolEventForm/SchoolEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/TransportationForms/BusEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/TransportationForms/FlightEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/TransportationForms/TrainEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/TransportationForms/TransportationFormsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/PlaceNameForm/PlaceNameForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/CheckableDateTitle/CheckableDateTitle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/RepetitiveEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/RepetitiveEventFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/useDateLoading.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/useDateSelection.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionFormTabSwitchButton.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
Labels: client

#1250 fix- city is required
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client

#1252 Close valid contacts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  db scripts/close_isolate_contacts.sql
Labels: client

#1253 changed connected contact status to new
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
Labels: server

#1254 Feat/add authority to user
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/Content/SignUp/SignUpForm/SignUpForm.tsx
  client/src/components/App/Content/SignUp/SignUpForm/useSignUpForm.ts
  client/src/models/Authority.ts
  client/src/models/SignUpUser.ts
  client/src/models/User.ts
  client/src/models/enums/SignUpFields.ts
  client/src/redux/Authority/authorityActionCreators.ts
  client/src/redux/Authority/authorityActionTypes.ts
  client/src/redux/Authority/authorityReducer.ts
  client/src/redux/User/userReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/store.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/AuthorityRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/Authority/Query.ts
  server/src/DBService/Users/Query.ts
  server/src/Models/User/User.ts
  server/src/Models/User/UserPatch.ts
Labels: client, server
