Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-05, with the labels that each got.

#1541 1785/fix/complexity-icon-appearance
  server/src/ScriptRunner/Scripts/index/update_investigation_reasons_id.sql
Labels: database, fix, server

#1558 revert
  client/package-lock.json
  client/package.json
Labels: client

#1553 1777/feat/duplicate ids validation
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/TableRows.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/Schema/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/Schema/contactBankValidation.ts
Labels: client, feature, tests

#1559 fixed useCache of airlines
  server/src/ClientToDBAPI/AirlinesRoute/Airlines/index.ts
Labels: server

#1561 added current investigation exception to current event ids
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client, fix

#1560 1749/feat/clinical details
  client/src/commons/DatePick/DatePickStyles.ts
  client/src/commons/InlineErrorText/inlineErrorTextStyles.ts
  client/src/commons/Schema/messages.ts
  client/src/commons/Toggle/ToggleStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationProblemFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  client/src/styles/theme.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/ClinicalDetails/GetInvestigatedPatientClinicalDetailsFields.ts
Labels: client, feature, server

#1563 1744/feat/stright personal details
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InfoItem.tsx
Labels: client, feature

#1562 formatted family members pre submit
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/models/Contact.ts
Labels: client, fix

#1564 1768/feat/open-close-dates-of-investigation
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/ScriptRunner/Scripts/index/BLK_investigation_times.sql
  server/src/ScriptRunner/Scripts/index/close_isolate_contacts.sql
  server/src/ScriptRunner/Scripts/index/update_investigation_end_time.sql
  server/src/ScriptRunner/Scripts/index/update_investigation_start_time.sql
Labels: database, feature, server

#1565 1789/feat/was-in-vacation-or-event-mandatoty-msg
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/VacationOrEvent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
Labels: client, feature

#1567 1788/fix/validate-identification-number
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/ContactQuestioningSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonalSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposureValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/Schema/InteractionEventSchema.ts
Labels: client, fix

#1569 1785/fix/update-complexity-reasons-id
  client/src/Utils/ComplexityReasons/ComplexityReasonsFunctions.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, fix, server

#1568 1794/fix/identification-number-field-length
  client/src/commons/IdentificationTextField/IdentificationTextField.tsx
  client/src/commons/NoContextElements/IdentificationTextField.tsx
  client/src/commons/Schema/messages.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
Labels: client, fix

#1573 1801/feact/text-changes-second-tab
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationProblemFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
Labels: client

#1566 1670/feat/search validated contact
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/ExposureSearchTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByEpidemiologyNumber.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByPersonalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/queryByTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/searchStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/useExposureForm.ts
  client/src/models/ExposureForm/PersonalDetailsQueryParams.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/DBService/Exposure/Query.ts
Labels: client, feature, server

#1572 insert desks and cities
  server/src/ScriptRunner/Scripts/index/0_insert_new_desks.sql
  server/src/ScriptRunner/Scripts/index/1_insert_new_cities.sql
Labels: database, server

#1571 added house num label
  client/src/commons/NoContextElements/AddressForm.tsx
Labels: client

#1574 added existing family member check
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/useFamilyMembersTable.ts
Labels: client, fix

#1575 1785/fix/update-investigation-reasons-id
  server/src/ScriptRunner/Scripts/index/update_contact_persons.sql
  server/src/ScriptRunner/Scripts/index/update_investigation_reasons_id.sql
Labels: database, fix, server

#1570 1728/remove default values
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningCheck.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/InteractedContact.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
  server/src/Models/ClinicalDetails/GetInvestigatedPatientClinicalDetailsFields.ts
  server/src/Models/ClinicalDetails/Investigation.ts
Labels: client, server

#1576 1804/fix/save-contacts
  server/src/ScriptRunner/Scripts/index/close_isolate_contacts.sql
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
  server/src/ScriptRunner/Scripts/index/update_investigation_end_time.sql
  server/src/ScriptRunner/Scripts/index/update_investigation_start_time.sql
Labels: database, fix, server

#1577 changed private house to apartment
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
Labels: client, fix

#1578 1762/fix/save-exposures-info
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningClinical.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, fix, server

#1580 added label to house number
  client/src/commons/Forms/AddressForm/AddressForm.tsx
Labels: client, fix

#1579 added default value to controller
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
Labels: client, fix

#1583 removed developer request on scripts route
  server/src/ClientToDBAPI/ScriptsRoute/mainRoute.ts
Labels: fix, server

#1581 1806/feat/private-details-remove-spaces
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/BackgroundDiseasesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationProblemFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
Labels: client, feature

#1582 added conflict resolution to family contacts
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
Labels: database, fix, server

#1584 1810/fix/possible exposure
  client/src/commons/NumericTextField/NumericTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/ExposureSearchTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByEpidemiologyNumber.tsx
Labels: client, fix

#1585 1807/fix/identification-number-validations
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/Contacts/useContactFields.ts
  client/src/Utils/Schemas/identification.ts
  client/src/Utils/auxiliaryFunctions/AuxiliaryFunctions.test.tsx
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/commons/IdentificationTextField/IdentificationTextField.tsx
  client/src/commons/NoContextElements/IdentificationTextField.tsx
  client/src/commons/Schema/messages.ts
Labels: client, fix, tests

#1586 re-aligned fields on personal info tabs
  client/src/commons/FormRowWithInput/FormRowWithInput.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
Labels: client, fix

#1587 added existing contact bank case
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
Labels: client, fix

#1588 1815/fix/passport-error-text
  client/src/Utils/Schemas/identification.ts
  client/src/commons/IdentificationTextField/IdentificationTextField.tsx
  client/src/commons/NoContextElements/IdentificationTextField.tsx
  client/src/commons/Schema/messages.ts
Labels: client, fix

#1589 aligned exposures fields
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByPersonalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/searchStyles.ts
Labels: client, fix

#1590 1813/fix/show-false-values
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: client, fix

#1591 1819/feat/text-change-in-contact-questioning
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client, feature

#1593 enable selecting false value when there is no need to create isolatio…
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client, fix

#1592 added keydown handles to contacted person search
  client/src/commons/NumericTextField/NumericTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByEpidemiologyNumber.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByPersonalDetails.tsx
Labels: client, fix

#1594 1792/fix/add-exposure-toggle
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useExposuresAndFlights.ts
Labels: client, fix

#1596 1821/fix/fix-does-Need-Isolation
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client, fix

#1597 1815/fix/passport-error-text-message
  client/src/commons/Schema/messages.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
Labels: client, fix

#1598 Feat/contact bank validations excel
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
Labels: client, feature

#1600 removed district on investigtaion
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationMetadata/InvestigationMetadata.tsx
Labels: client, fix

#1601 added border outline to filter select
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
Labels: client, fix

#1602 1742/fix/scroll-tabs-on-script-close
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
Labels: client, fix

#1603 added handling for airline as a string
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
Labels: fix, server

#1606 added pre-map filter for duplicate contact validation
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client, fix

#1607 moved scripts to sprint_18
  server/src/ScriptRunner/Scripts/Sprint_18/0_insert_new_desks.sql
  server/src/ScriptRunner/Scripts/Sprint_18/1_insert_new_cities.sql
  server/src/ScriptRunner/Scripts/Sprint_18/BLK_add_flights_info.sql
  server/src/ScriptRunner/Scripts/Sprint_18/BLK_investigation_times.sql
  server/src/ScriptRunner/Scripts/Sprint_18/BLK_new_identification_types.sql
  server/src/ScriptRunner/Scripts/Sprint_18/BLK_person_contact_details.sql
  server/src/ScriptRunner/Scripts/Sprint_18/BLK_update_static_info.sql
  server/src/ScriptRunner/Scripts/Sprint_18/add_contacts_from_bank.sql
  server/src/ScriptRunner/Scripts/Sprint_18/close_isolate_contacts.sql
  server/src/ScriptRunner/Scripts/Sprint_18/delete_public_contacted_person.sql
  server/src/ScriptRunner/Scripts/Sprint_18/update_contact_person.sql
  server/src/ScriptRunner/Scripts/Sprint_18/update_contact_persons.sql
  server/src/ScriptRunner/Scripts/Sprint_18/update_investigation_end_time.sql
  server/src/ScriptRunner/Scripts/Sprint_18/update_investigation_reasons_id.sql
  server/src/ScriptRunner/Scripts/Sprint_18/update_investigation_start_time.sql
Labels: database, server

#1608 added ip to script runner
  server/package-lock.json
  server/package.json
  server/src/ScriptRunner/src/LogUtils/ipAddress.ts
  server/src/ScriptRunner/src/Logger/index.ts
  server/src/ScriptRunner/src/Logger/writeStream/csv-headers.ts
  server/src/ScriptRunner/src/Logger/writeStream/generateLogMessage.ts
Labels: feature, server

#1610 1833/fix/duplicate ids contact questioning
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
Labels: fix

#1609 1800/feat/dropdown-occupation
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
Labels: client, feature

#1611 update ts-node
  server/package.json
Labels: server

#1612 added global install of ts-node
  server/Dockerfile
Labels: fix, server

#1613 add new desk
  server/src/ScriptRunner/Scripts/index/new_desk.sql
Labels: database, server

#1615 1838/fix/search-phone-text-field
  client/src/commons/NoContextElements/NumericTextField.tsx
  client/src/commons/NoContextElements/NumericTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/SearchCovidPatients/SearchByPersonalDetails.tsx
Labels: client, fix

#1614 1825/feat/contact-questioning-styles
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningFieldsNames.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
Labels: client, feature

#1616 1843/fix/fix-does-need-isolation-btn
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client, fix

#1618 1846/fix/remove-word-from-alert
  client/src/models/enums/contactQuestioningExcelFields.ts
Labels: client, fix

#1617 1840/fix/save-flights-form
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
Labels: fix, server

#1620 1837/fix/overlap-possible-exposure
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
Labels: client, fix

#1622 1839/fix/flight-end-date-validation
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
Labels: client

#1621 1844/fix/contact-questioning-disable-fields
  client/src/commons/NoContextElements/TypingPreventionTextField.tsx
  client/src/commons/TypingPreventionTextField/TypingPreventionTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
Labels: client, fix

#1619 1832/feat/dashboard redo
  client/package.json
  client/src/Utils/Testing/AdminLandingPage/investigationInfoStatistics.ts
  client/src/commons/statusToFilterConvertor.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/PostponedCard/PostponedCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/PostponedCard/PostponedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/PostponedCard/PostponedCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnallocatedCard/UnallocatedCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/UnusualCard/UnusualCard.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnusualCard/UnusualCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UnusualCard/UnusualCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/InvestigationBarChart/InvestigationBarChart.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/convertorsToGraph.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButtonStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfoStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/useInvestigationsInfo.ts
  client/src/models/InvestigationChart.ts
  client/src/models/InvestigationStatistics.ts
  client/src/models/enums/FilterRulesDescription.ts
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: client, database, feature, server, tests

#1632 1858/fix/id-type-fix-to-dev
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonalSchema.ts
Labels: client, fix

#1629 1836/fix/apartment-field-value
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/DBAddress.ts
  client/src/redux/Address/AddressActionCreators.ts
  client/src/redux/Address/AddressActionTypes.ts
  client/src/redux/Address/AddressReducer.ts
  client/src/redux/storeStateType.ts
Labels: client, fix

#1634 1847/fix/contact-questioning-styles
  client/src/commons/NoContextElements/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningFieldsNames.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client, fix

#1635 1845/feat/enable-extra-info-always
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
Labels: client, feature

#1636 1857/feat/unselect-identification-type
  client/public/assets/contactFormat.xlsx
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonalSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/Schema/InteractionEventSchema.ts
  client/src/models/enums/IdentificationTypesCodes.ts
  server/src/ScriptRunner/Scripts/index/BLK_new_identification_type.sql
Labels: client, database, feature, server

#1637 1863/feat/admin-actions-container
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminActionStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminActions.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminDataBaseAction/adminDataBaseAction.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessageAction/adminMessageAction.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/useAdminAction.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/models/AdminAction.ts
  client/src/models/enums/adminActions.ts
Labels: client, feature

#1638 1859/fix/display-matching-sub-statuses
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationMainStatus.ts
  client/src/models/InvestigationStatus.ts
  client/src/models/InvestigationSubStatus.ts
  client/src/models/SubStatus.ts
  client/src/redux/Status/statusesActionCreators.ts
  client/src/redux/Status/statusesReducer.ts
  client/src/redux/SubStatuses/subStatusesActionCreators.ts
  client/src/redux/SubStatuses/subStatusesActionTypes.ts
  client/src/redux/SubStatuses/subStatusesReducer.ts
  client/src/redux/storeStateType.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, fix, server

#1639 removed icon from error alerts
  client/src/commons/CustomSwal/useCustomSwal.ts
Labels: client, fix

#1640 1866/feat/admin-actions-add-flight
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/TimeRangeFilterCard/TimeRangeFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/UpdateButton/UpdateButton.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminActionStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminActions.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminDBAction/adminDBAction.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminDBAction/useAdminDBAction.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminDataBaseAction/adminDataBaseAction.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/UsersManagement/useUsersManagement.ts
  client/src/components/App/useApp.ts
  server/src/ClientToDBAPI/AirlinesRoute/Airlines/addAirline.ts
  server/src/ClientToDBAPI/AirlinesRoute/Airlines/index.ts
  server/src/ClientToDBAPI/AirlinesRoute/Flights/addFlight.ts
  server/src/ClientToDBAPI/AirlinesRoute/Flights/index.ts
  server/src/DBService/Airlines/Mutation.ts/ADD_AIRLINE.ts
  server/src/DBService/Airlines/Mutation.ts/ADD_FLIGHT.ts
  server/src/DBService/Airlines/Mutation.ts/index.ts
  server/src/DBService/Airlines/Query/index.ts
  server/src/ScriptRunner/Scripts/index/BLK_airline_changes.sql
Labels: client, database, feature, server

#1642 1841/feat/admin dashboard table
  client/package.json
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTable.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTableHeaders.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTableStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPageStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/models/adminInvestigation.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/ScriptRunner/Scripts/index/admin_investigations_function.sql
Labels: client, database, feature, server

#1641 1859/fix/no-sub-statuses-result
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
Labels: client, fix

#1644 1841/feat/admin dashboard table
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.test.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/LastUpdateMessage/LastUpdateMessage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTable.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTableHeaders.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPageStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/models/adminInvestigation.ts
Labels: client, feature, tests

#1645 1852/feat/display-current-status-filter
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
Labels: client, feature

#1646 1873/fix/admin dashboard table
  client/src/commons/statusToFilterConvertor.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTable.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTableHeaders.ts
  client/src/models/adminInvestigation.ts
  server/src/ScriptRunner/Scripts/index/admin_investigations_function.sql
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: client, database, fix, server

#1647 1872/fix/no-display-filter-statuses
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
Labels: client, fix

#1648 1870/fix/display-status-reason
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
Labels: client, fix

#1649 fix date bug
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTable.tsx
Labels: client, fix

#1650 rename table header
  client/src/components/App/Content/LandingPage/adminLandingPage/adminInvestigationsTable/adminInvestigationsTableHeaders.ts
Labels: client, fix

#1653 1877/feat/delete-desks-headline
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
Labels: client, feature

#1654 1875/fix/chip-size-on-filter-table
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client, fix

#1652 1863/feat/admin message
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessegesStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminActions.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessageAction/adminMessageAction.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessegesStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/useAdminMessagesDBAction.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/message/message.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/message/messegeStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/models/AdminMessage.ts
  server/src/ClientToDBAPI/AirlinesRoute/Airlines/index.ts
  server/src/ClientToDBAPI/AirlinesRoute/Flights/index.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Mutation.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/ScriptRunner/Scripts/index/create_admin_messages_table.sql
Labels: client, database, feature, server

#1655 1822/fix/rounde-date-SYMPTOMS_START_DATE
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/SymptomsFields/SymptomsFields.tsx
Labels: client, fix

#1656 1878/feat empty desks
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/message/message.tsx
Labels: client, feature

#1657 1868/fix/change-status-validation
  client/src/Utils/Contacts/useContactFields.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
Labels: client, fix

#1658 1868/fix/improvers
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
Labels: client, fix

#1659 1834/fix/refactor-save-clinical-details
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
  server/src/ScriptRunner/Scripts/index/function_save_clinical_details.sql
Labels: database, fix, server

#1660 1863/fix/clear-msg-after-sending
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/message/message.tsx
Labels: client, fix

#1661 1863 render msgs
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
  server/src/DBService/LandingPage/Query.ts
Labels: client, fix, server

#1662 dev->test
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/message/message.tsx
  server/src/DBService/LandingPage/Query.ts
Labels: client, server
