Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-08, with the labels that each got.

#1778 55782/feat/show-deactivate-all-users-button-to-super-admin-and-admin'…
  client/src/components/App/Content/UsersManagement/UsersManagement.tsx
Labels: client, feature

#1777 54640/fix/duplicate id validation
  client/package.json
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/redux/InteractedContacts/interactedContactsActionCreators.ts
  client/src/redux/InteractedContacts/interactedContactsActionTypes.ts
  client/src/redux/InteractedContacts/interactedContactsReducer.ts
  client/src/services/contactQuestioning.service.ts
Labels: client, fix

#1780 55831/feat/allow-open-lock-investigations
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
Labels: client, feature

#1779 bug 55771
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/redux/InteractedContacts/interactedContactsActionCreators.ts
  client/src/redux/InteractedContacts/interactedContactsActionTypes.ts
  client/src/redux/InteractedContacts/interactedContactsReducer.ts
Labels: client, fix

#1781 55866/feat/alert-for-contacted-group-investigation
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferDialogsStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCounty.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDesk.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDialogNote.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabs.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabsDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationDialog.tsx
Labels: client, feature

#1782 Task 55793
  client/src/Utils/Testing/AdminLandingPage/investigationInfoStatistics.ts
  client/src/commons/statusToFilterConvertor.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/convertorsToGraph.ts
  client/src/models/InvestigationStatistics.ts
  client/src/models/enums/FilterRulesDescription.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: client, server, database, feature

#1783 55899/fix/contact questioning validation icon
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/redux/InteractedContacts/interactedContactsActionCreators.ts
  client/src/redux/InteractedContacts/interactedContactsActionTypes.ts
  client/src/redux/InteractedContacts/interactedContactsReducer.ts
Labels: client, fix

#1784 55786/feat​/add new investigation status
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/models/enums/InvestigationMainStatusCodes.ts
  server/src/ScriptRunner/Scripts/index/add_not_investigated_to__investigation_statuses.sql
Labels: client, server, database, feature

#1785 55841/feat/add-new-streets
  server/src/ScriptRunner/Scripts/index/add_new_streets.sql
Labels: server, database, feature

#1786 55833/feat/order-investigations-by-date-of-birth
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
Labels: server, feature

#1788 55833/fix/order-by-desc
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
Labels: server, fix

#1791 55808/feat/allow adding possible exposure without contact deatails1
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BackFromAbroad.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposureValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
Labels: client, feature

#1792 Update node version
  client/azure-client-pipeline.yml
Labels: client

#1793 56032/fix/add icon for substatus
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
Labels: client, fix

#1794 align-possible-exposure-place-and-sub-place
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
Labels: client, fix

#1795 Add Icon to Abroad Investigations
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server, feature

#1797 remove boolean type
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, feature
