Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-07, with the labels that each got.

#1749 RULER_URL added as env param
  server/src/ClientToDBAPI/RulerRoute/mainRoutes.ts
Labels: feature, server

#1750 1894/feat/comment-length
  client/src/commons/Schema/messages.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
Labels: client, feature

#1752 1907/feat/ruler contact questioning new design
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
Labels: client, feature

#1753 1901/feat/family-contact-new-design
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTable.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/FamilyMembersTableStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/FamilyMembers/FamilyMembersTable/useFamilyMembersTable.ts
Labels: client, feature

#1754 54447/fix/change-certificateEligibilityTypeDesc-to-caseStatusDesc
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/models/InteractedContact.ts
Labels: client, fix

#1755 add_public_garden_to_sub_types
  server/src/ScriptRunner/Scripts/index/add_public_garden_to_sub_types.sql
Labels: database, feature, server

#1756 Contact form redux
  client/src/commons/InlineErrorText/InlineErrorText.tsx
  client/src/commons/NoContextElements/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningCheck.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/ContactQuestioningArraySchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/ContactQuestioningSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/httpClient/InteractedContacts/interactedContacts.ts
  client/src/redux/InteractedContacts/interactedContactsActionCreators.ts
  client/src/redux/InteractedContacts/interactedContactsActionTypes.ts
  client/src/redux/InteractedContacts/interactedContactsReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
Labels: client

#1757 54439/fix/duplicate-contact-in-excel
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
Labels: client, fix

#1758 54541/fix/allow-save-contacts-from-excel-with-int-id
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
Labels: client, fix

#1760 54602/fix/contact form redux bug fixing
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
Labels: client, fix

#1761 Fix contact events error
  client/src/httpClient/InteractedContacts/interactedContacts.ts
Labels: client

#1762 5451/fix/number-id-numbers
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
Labels: client, fix

#1763 Fix icon doesn't deappear on Questionning Tab
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/redux/InteractedContacts/interactedContactsActionCreators.ts
  client/src/redux/InteractedContacts/interactedContactsActionTypes.ts
  client/src/redux/InteractedContacts/interactedContactsReducer.ts
Labels: client, fix

#1764 Update place sub types
  server/src/ScriptRunner/Scripts/index/add_place_sub_types.sql
Labels: database, server

#1765 Bug 54642
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ReachContact.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/useReachContact.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
Labels: client, fix

#1766 Bug 54622
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
Labels: client, fix

#1767 Fix script
  server/src/ScriptRunner/Scripts/index/add_place_sub_types.sql
Labels: database, server

#1768 54660/fix/fix-office-place-sub-type
  server/src/ScriptRunner/Scripts/index/add_place_sub_types.sql
Labels: database, fix, server

#1769 54667/fix/empty-id
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
Labels: client, fix

#1770 54706/fix/change-comment-column-type
  server/src/ScriptRunner/Scripts/index/change_comment_type_column.sql
Labels: database, fix, server

#1771 Fix isolation error
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
Labels: client
