Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-04, with the labels that each got.

#1461 1695/feat/converstaion script
  client/src/commons/Toggle/ToggleStyles.ts
  client/src/components/App/Content/InvestigationForm/ConversationScript/ConvesrationScript.tsx
  client/src/components/App/Content/InvestigationForm/ConversationScript/Scripts/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/ConversationScript/Scripts/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/ConversationScript/Scripts/PersonalDeatils.tsx
  client/src/components/App/Content/InvestigationForm/ConversationScript/Scripts/PlacesAndContacts.tsx
  client/src/components/App/Content/InvestigationForm/ConversationScript/Scripts/PossibleExposure.tsx
  client/src/components/App/Content/InvestigationForm/ConversationScript/Scripts/index.ts
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/styles/formStyles.ts
Labels: client, feature

#1474 1623/fix/excel-fields-names
  client/public/assets/contactFormat.xlsx
  client/src/models/enums/contactQuestioningExcelFields.ts
Labels: client, fix

#1473 Admin landing page css
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCard.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/desksFilterCard/desksFilterCardStyles.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationInfoButton/investigationInfoButtonStyles.ts
Labels: client, fix

#1475 investigations filter table
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/useAdminLandingPage.ts
  client/src/models/enums/timeRanges.ts
Labels: client, feature

#1462 1654/feat/required-fields-error-messages
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/UsersUtils/userUtils.ts
  client/src/commons/AlphabetTextField/AlphabetTextField.tsx
  client/src/commons/AlphabetTextField/ExposureSearchTextField.tsx
  client/src/commons/AlphabetWithDashTextField/AlphabetWithDashTextField.tsx
  client/src/commons/AlphanumericTextField/AlphanumericTextField.tsx
  client/src/commons/FlightNumberTextField/FlightNumberTextField.tsx
  client/src/commons/HebrewTextField/HebrewTextField.tsx
  client/src/commons/IdentificationTextField/IdentificationTextField.tsx
  client/src/commons/NoContextElements/AlphanumericTextField.tsx
  client/src/commons/NoContextElements/HebrewTextField.tsx
  client/src/commons/NoContextElements/IdentificationTextField.tsx
  client/src/commons/NoContextElements/NumericTextField.tsx
  client/src/commons/NoContextElements/TypingPreventionTextField.tsx
  client/src/commons/NumericTextField/NumericTextField.tsx
  client/src/commons/Schema/messages.ts
  client/src/commons/SearchBar/SearchBar.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/Schema/StaticFieldsSchema.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/Schema/ValidationStatusSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureSearchTextField/ExposureSearchTextField.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankSearchBar/ContactsBankSearchBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
  client/src/components/App/Content/SignUp/SignUpForm/SignUpSchema.ts
Labels: client, feature

#1477 revert typescript and yup version
  client/package-lock.json
  client/package.json
Labels: client

#1476 1703-add-sort-by-default-order-to investigation-table-header 1702-mak…
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client, feature

#1478 1704/feat/narrow occupations under 16
  client/src/Utils/DateUtils/dateToAge.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/models/InvestigatedPatient.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client, feature

#1480 changed logger setup to be more descriptive
  client/src/components/App/AppToolbar/useAppToolbar.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/components/App/useApp.ts
Labels: client

#1479 added relative error message and redirect to main page on 401
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
Labels: client, feature

#1482 make the whole sentence clickable in dashboard
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/investigationsInfo.tsx
Labels: client, feature

#1483 changed logger text to more verbal
  client/src/components/App/Content/InvestigationForm/useGroupedInvestigationContacts.ts
Labels: client, fix

#1484 1709/feat/show-contact-place-while-clicking-on-the-line
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
Labels: client, feature

#1481 added exception to not send status if is default
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client, fix

#1485 moved setGroupedInvestigations to seperate file
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
Labels: client, fix

#1488 changed timer redirect speed
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
Labels: client, fix

#1487 edited manifest json
  client/public/manifest.json
Labels: client

#1489 1691/save apatrment number
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab/index.ts
  client/src/models/Contexts/PersonalInfoContextData.ts
  client/src/models/DBAddress.ts
  client/src/redux/Address/AddressReducer.ts
  server/src/DBService/PersonalDetails/Query.ts
  server/src/Models/Address/Address.ts
  server/src/Models/Address/InsertAndGetAddressIdInput.ts
  server/src/Utils/addressUtils.ts
Labels: client, server

#1490 1706/feat/places-new-questions
  client/src/commons/FormInput/FormInput.tsx
  client/src/commons/Map/Map.tsx
  client/src/commons/Toggle/ToggleStyles.ts
  client/src/commons/Toggle/TripleToggle.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/GreenPassInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/GreenPassQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/GreenPassStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/GreenPass/useGreenPassQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/AddressForm/AddressFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionFormTabSwitchButton.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/GreenPassAnswer.ts
  client/src/models/GreenPassInfo.ts
  client/src/models/GreenPassQuestion.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  client/src/redux/GreenPass/greenPassActionCreators.ts
  client/src/redux/GreenPass/greenPassActionTypes.ts
  client/src/redux/GreenPass/greenPassReducer.ts
  client/src/redux/PlaceTypes/placetypeActionTypes.ts
  client/src/redux/PlaceTypes/placetypeReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  client/src/styles/formStyles.ts
  db scripts/update_contact_event_function.sql
  db scripts/update_green_pass_information.sql
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetPlacesSubTypesByTypes.ts
  server/src/Models/ContactEvent/GreenPass.ts
Labels: client, database, feature, server

#1491 1716/feat/change-add-exposure-btn
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
Labels: client, feature

#1492 1717/feat/epidemiolocgic status education contacts
  client/src/Utils/DateUtils/formatDate.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EducationContactsDialog/EducationContact/EducationContact.tsx
  client/src/models/EpidemiologicStatus.ts
  client/src/models/Person.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
Labels: client, feature, server

#1495 moved the onClick to the headline wrapper instead of card
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
Labels: client, fix

#1496 1705/feat/was-in-vacation-or-event
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/VacationOrEvent.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useExposuresAndFlights.ts
  client/src/models/ResortData.ts
  db scripts/add_was_in_vacation_or_event_columns.sql
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, database, feature, server

#1498 1650/feat/description fields
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/IsolationDatesFields.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionExternalizationForm/InteractionExternalizationForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/RepetitiveEventForm/hooks/useDateSelection.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  db scripts/update_contact_event_function.sql
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Mutation.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
  server/src/Models/ClinicalDetails/Investigation.ts
Labels: client, database, feature, server

#1497 1701/feat/add places and sub places
  db scripts/add_place_sub_types.sql
  db scripts/add_place_types.sql
Labels: database, feature

#1494 aligned conversation script
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
Labels: client, fix

#1493 added epidemiologic status to family contacts
  client/src/Utils/DateUtils/formatDate.ts
  client/src/Utils/FamilyContactsUtils/FamilyContactsTableHeaders.ts
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
Labels: client, feature

#1499 1650/feat/investigated patient extra info
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useExposuresAndFlights.ts
  client/src/models/ResortData.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, feature, server

#1500 1720/fix/space-in-exposure-tab
  client/src/commons/FormTitle/FormTitleStyles.ts
  client/src/commons/Map/Map.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
Labels: client, fix

#1503 added error case when createContactEvent fails
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/useInteractionsForm.ts
Labels: client, fix

#1501 1725/fix/tabs-height
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationFormStyles.ts
Labels: client, fix

#1504 1726/fix/change-place-type-to-other
  db scripts/add_place_sub_types.sql
  db scripts/add_place_types.sql
  db scripts/chage_place_type_to_other.sql
Labels: database, fix

#1505 1727/fix/answer-on-all-green-pass-questions
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client, fix

#1506 added exception for unreachable contacts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  db scripts/close_isolate_contacts.sql
Labels: client, database, fix

#1507 1729/fix/add-values-forinteraction-card
  client/src/Utils/ContactEvent/placeTypesCodesHierarchy.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
Labels: client, fix

#1508 remoed grid layout - replaced with margin
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/PossibleExposure.tsx
Labels: client, fix

#1509 1730/fix/flight-label-is-too-long
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightFormStyles.tsx
Labels: client, fix

#1510 wrapped externaliztion w grid
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionDetailsFields/InteractionExternalizationForm/InteractionExternalizationForm.tsx
Labels: client, fix

#1511 1737/fix/add_main_classification_to_place_sub_types
  db scripts/add_place_sub_types.sql
Labels: database, fix

#1513 1736/fix/phonenumber_is_not_nullable
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
Labels: client, fix

#1512 1740/fix/contact_person_fiels_is_always_open
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, fix

#1514 1741/fix/update_all_main_calssification_to_1
  db scripts/add_place_sub_types.sql
Labels: fix

#1515 1733/fix/overflow tabs
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client, fix

#1516 1735/fix/enable-create-place-contact
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client, fix

#1517 1733/fix/header-tabs-scroll
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagementStyles.ts
Labels: client, fix

#1518 1633/fix/faster-age-complexity-reason-script
  db scripts/age_complexity_reason.sql
Labels: database, fix

#1519 1529/feat/app tool bar tests
  client/src/Utils/Testing/AppToolbar/mockSelectors.ts
  client/src/Utils/Testing/AppToolbar/mockUseAppToolbar.ts
  client/src/Utils/Testing/AppToolbar/state/county.ts
  client/src/Utils/Testing/AppToolbar/state/index.ts
  client/src/Utils/Testing/AppToolbar/state/user.ts
  client/src/Utils/Testing/MockRouter.tsx
  client/src/components/App/AppToolbar/AppToolbar.test.tsx
  client/src/components/App/AppToolbar/AppToolbar.tsx
Labels: client, feature, tests

#1521 1689/feat/text-message-date-change
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposureValidation.ts
Labels: client, feature

#1522 1750/fix/phone fiels error msg and private details tab spacing
  client/src/commons/AlphanumericTextField/AlphanumericTextFieldTypes.ts
  client/src/commons/InvestigationComplexity/ComplexityUtils/ComplexitySwal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
  client/src/styles/theme.ts
Labels: client, fix

#1523 date placeholder
  client/src/commons/DatePick/DatePick.tsx
Labels: client, fix

#1524 favicon added
  client/public/assets/img/coronavirus.png
  client/public/index.html
Labels: client, feature

#1520 1531/feat/contact bank
  client/src/Utils/Contacts/useDuplicateContactId.ts
  client/src/Utils/Testing/GroupedInvestigationForm/MockGroupedInvestigationsProvider.tsx
  client/src/Utils/Testing/GroupedInvestigationForm/state.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsTabs.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/Forms.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/AccordionContent.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/ContactsTable.test.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/TableRows.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/models/GroupedInvestigationContacts/ContactNode.ts
  client/src/models/GroupedInvestigationContacts/ContactedPerson.ts
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Mutation.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/ScriptRunner/Scripts/index/BLK_person_contact_details.sql
  server/src/ScriptRunner/Scripts/index/add_contacts_from_bank.sql
  server/src/ScriptRunner/Scripts/index/udpate_contact_persons.sql
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
Labels: client, feature, server, tests

#1526 updated labeler scripts route
  .github/labeler.yml
Labels: fix

#1525 added 'if exists' to column drop
  server/src/ScriptRunner/Scripts/index/BLK_person_contact_details.sql
Labels: fix, server

#1529 changed delete contact to only delete contacted_person instead of person
  server/src/ScriptRunner/Scripts/index/delete_public_contacted_person.sql
Labels: database, fix, server

#1530 fixed wrong contact_person field refrence
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
Labels: database, fix, server

#1532 loading bar redo
  server/src/ScriptRunner/src/LoadingBar/generateLoadingBar.ts
Labels: feature, server

#1528 change count refrence
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/useAccordionContent.ts
Labels: client, fix

#1527 1746/feat/new-identification-types
  client/public/assets/contactFormat.xlsx
  client/src/Utils/Contacts/ContactIdValidationSchema.ts
  client/src/Utils/Contacts/useContactFields.ts
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
  client/src/Utils/GroupedInvestigationsContacts/getGroupedInvestigationIds.ts
  client/src/Utils/Schemas/identification.ts
  client/src/Utils/auxiliaryFunctions/auxiliaryFunctions.ts
  client/src/commons/IdentificationTextField/IdentificationTextField.tsx
  client/src/commons/NoContextElements/IdentificationTextField.tsx
  client/src/commons/Regex/Regex.ts
  client/src/commons/Schema/messages.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningPersonal.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonal.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ContactGrid/ContactGrid.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/ExcelUploader/ContactUploader.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ContactsBank/ContactsBankTable/Row/Row.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/AccordionContent/ContactsTable/TableRows/TableRows.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/GroupedInvestigations/GroupedInvestigationForm/ContactsForm/InvestigationAccordion/UseDuplicateConnectedIds.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ContactForm/ContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/ContactsSection/ManualContactsForm/ManualContactsForm.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Contact.ts
  client/src/models/GroupedInvestigationContacts/ContactedPerson.ts
  client/src/models/IdentificationType.ts
  client/src/models/InvestigatedPatientStaticInfo.ts
  client/src/models/Person.ts
  client/src/models/enums/ContactStatusCodes.ts
  client/src/models/enums/IdentificationTypes.ts
  client/src/models/enums/IdentificationTypesCodes.ts
  client/src/models/enums/contactQuestioningExcelFields.ts
  client/src/redux/IdentificationTypes/identificationTypesActionCreators.ts
  client/src/redux/IdentificationTypes/identificationTypesActionTypes.ts
  client/src/redux/IdentificationTypes/identificationTypesReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
  server/src/Models/IdentificationTypes/IdentificationType.ts
  server/src/Models/Person/Person.ts
  server/src/ScriptRunner/Scripts/index/BLK_new_identification_types.sql
  server/src/ScriptRunner/Scripts/index/BLK_update_static_info.sql
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
  server/src/ScriptRunner/Scripts/index/update_contact_persons.sql
Labels: client, database, feature, server

#1531 1761/fix/change complexity indication
  client/src/commons/NumericTextField/NumericTextFieldTypes.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabStyles.ts
Labels: client, fix

#1533 Feat/server side cache
  server/package.json
  server/src/Cache/authentication/getAuthCache.ts
  server/src/Cache/authentication/getCacheNameByUserID.ts
  server/src/Cache/authentication/hasAuthCache.ts
  server/src/Cache/authentication/index.ts
  server/src/Cache/authentication/removeAuthCache.ts
  server/src/Cache/authentication/setAuthCache.ts
  server/src/Cache/flushCache.ts
  server/src/Cache/index.ts
  server/src/Cache/setToCache.ts
  server/src/ClientToDBAPI/Address/mainRoute.ts
  server/src/ClientToDBAPI/AuthorityRoute/mainRoute.ts
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/DesksRoute/mainRoute.ts
  server/src/ClientToDBAPI/DistrictsRoute/mainRoute.ts
  server/src/ClientToDBAPI/EducationRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/ScriptsRoute/CacheRoute/flush/getFlush.ts
  server/src/ClientToDBAPI/ScriptsRoute/CacheRoute/flush/index.ts
  server/src/ClientToDBAPI/ScriptsRoute/CacheRoute/mainRoute.ts
  server/src/ClientToDBAPI/ScriptsRoute/CacheRoute/routes.ts
  server/src/ClientToDBAPI/ScriptsRoute/LogsRoute/mainRoute.ts
  server/src/ClientToDBAPI/ScriptsRoute/mainRoute.ts
  server/src/ClientToDBAPI/ScriptsRoute/routes.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/Districts/Query.ts
  server/src/middlewares/Authentication.ts
  server/src/middlewares/UseCache.ts
Labels: feature, server

#1534 1752/fix/flights-dates-errors
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
Labels: client, fix

#1535 1784/feat/set-table-scrollbar-to-top
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client, feature

#1536 changed capitalization on UseCache
  server/src/ClientToDBAPI/AuthorityRoute/mainRoute.ts
  server/src/ClientToDBAPI/CountiesRoute/mainRoute.ts
  server/src/ClientToDBAPI/DesksRoute/mainRoute.ts
  server/src/ClientToDBAPI/DistrictsRoute/mainRoute.ts
  server/src/ClientToDBAPI/EducationRoute/mainRoute.ts
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: fix, server

#1537 1746/fix/change-script
  server/src/ScriptRunner/Scripts/index/BLK_update_static_info.sql
  server/src/ScriptRunner/Scripts/index/add_contacts_from_bank.sql
  server/src/ScriptRunner/Scripts/index/delete_public_contacted_person.sql
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
  server/src/ScriptRunner/Scripts/index/update_contact_persons.sql
Labels: database, fix, server

#1538 useCache :(
  server/src/ClientToDBAPI/Address/mainRoute.ts
Labels: fix, server

#1540 1787/fix/overflow-of-fields
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfoStyles.ts
Labels: client, fix

#1539 1769/feat/flight num validation
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightFormStyles.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/useFlightForm.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/Airline.ts
  client/src/redux/Airlines/airlineActionCreators.ts
  client/src/redux/Airlines/airlineActionTypes.ts
  client/src/redux/Airlines/airlineReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/AirlinesRoute/Airlines/getAirlines.ts
  server/src/ClientToDBAPI/AirlinesRoute/Airlines/index.ts
  server/src/ClientToDBAPI/AirlinesRoute/Flights/getFlightsByAirlineId.ts
  server/src/ClientToDBAPI/AirlinesRoute/Flights/index.ts
  server/src/ClientToDBAPI/AirlinesRoute/mainRoute.ts
  server/src/ClientToDBAPI/AirlinesRoute/routes.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/ClientToDBAPI/mainRoute.ts
  server/src/DBService/Airlines/Query/ALL_AIRLINES.ts
  server/src/DBService/Airlines/Query/FLIGHTS_BY_AIRLINE_ID.ts
  server/src/DBService/Airlines/Query/index.ts
  server/src/Models/Exposure/Exposure.ts
  server/src/ScriptRunner/Scripts/index/BLK_add_flights_info.sql
Labels: client, database, feature, server
