Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2021-09, with the labels that each got.

#1801 Revert 56034
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server

#1803 56054/feat/subplace and place are mansetoty in exposure
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/commons/LocationInputField/LocationInput.tsx
  client/src/commons/Map/Map.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/ContactQuestioningArraySchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposureValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
Labels: client, feature

#1804 Fix node ver
  client/azure-client-pipeline.yml
Labels: client

#1807 fix date is mandatory
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
Labels: client, feature

#1806 Display done status
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
Labels: client, fix
