Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2022-04, with the labels that each got.

#1987 fix conn
  server/src/DBService/config.ts
Labels: server

#1989 fix
  server/src/ScriptRunner/Scripts/index/update_exposures_function.sql
Labels: server, database

#1992 fix
  client/src/redux/Airlines/airlineReducer.ts
Labels: client

#1997 remove
  server/package-lock.json
  server/package.json
  server/src/ScriptRunner/src/LogUtils/ipAddress.ts
  server/src/ScriptRunner/src/Logger/index.ts
  server/src/ScriptRunner/src/Logger/writeStream/generateLogMessage.ts
Labels: server

#1993 improve preformance and remove unused code
  client/src/Utils/Testing/AdminLandingPage/investigationInfoStatistics.ts
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/investigationsInfo/convertorsToGraph.ts
  client/src/models/InvestigationStatistics.ts
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: client, server, database, fix

#1999 1948/fix/admin messages server calls
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
Labels: client, fix

#1972 db script
  server/src/ScriptRunner/Scripts/index/history_investigation_tables.sql
Labels: server, database, feature

#2000 1948/fix/investigation grid improve preformance
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server, fix

#2003 bug fixing
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: server, database, fix

#2004 move scripts to archive
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/add_airline_other_value.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/add_instructed_isolation_column.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/add_new_event_columns.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/border_checkpoint_tables.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/calc_investigation_complexity.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/save_clinical_details.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/sub_status_add_value.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/update_contact_event_function.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/update_exposures_function.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_29/update_personal_details.sql
Labels: server, database

#2001 19795/feat/add-new-conty-transitions-archive
  server/src/ScriptRunner/Scripts/index/add_new_conty_transition_archive.sql
Labels: server, database

#2005 bug fixing
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
Labels: client, fix

#2006 fix
  client/src/Utils/ComplexityReasons/ComplexityReasonsFunctions.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
Labels: client, fix

#2007 19837/fix/limit-fields-length-and-errot-msgs
  client/src/commons/FlightNumberTextField/FlightNumberTextField.tsx
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/commons/Schema/messages.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
Labels: client, fix

#2008 bug fixing
  server/src/ScriptRunner/Scripts/index/history_investigation_tables.sql
Labels: server, database, fix

#2009 fix
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
Labels: client, fix
