Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2022-01, with the labels that each got.

#1889 bug fixing
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: server, fix

#1884 script
  server/src/ScriptRunner/Scripts/index/add_chat_status_human_investigation_val.sql
Labels: server, database, feature

#1890 script
  server/src/ScriptRunner/Scripts/index/investigator_reference_reason_change.sql
Labels: server, database, fix

#1891 16904/feat/set varient from xrm
  client/src/commons/InvestigationComplexity/ComplexityIcon/ComplexityIcon.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/httpClient/investigationInfo.ts
  client/src/models/InvestigatedPatientStaticInfo.ts
  client/src/models/InvestigationInfo.ts
  client/src/redux/MutationInfo/mutationInfoActionCreator.ts
  client/src/redux/MutationInfo/mutationInfoActionTypes.ts
  client/src/redux/MutationInfo/mutationInfoReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/ScriptRunner/Scripts/Archive/sprint_23/create_temp_cities_table.sql
  server/src/ScriptRunner/Scripts/index/add_was_mutation_updated.sql
Labels: client, server, database, feature

#1892 remove
  server/src/ClientToDBAPI/ContactedPeople/mainRoute.ts
  server/src/Utils/InterfacesIntegration.ts
Labels: server

#1893 script
  server/src/ScriptRunner/Scripts/index/update_id_type_6.sql
Labels: server, database

#1894 grid changes
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRowStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/enums/BotProperties.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/ScriptRunner/Scripts/index/add_chat_status_completed_without_contacts.sql
Labels: client, server, database, feature

#1895 disable investigations according to status
  .github/workflows/test_prs.yml
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
Labels: client, feature

#1898 reopen from grid
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
Labels: client, fix

#1900 bug fixing
  server/src/ScriptRunner/Scripts/index/update_investigator_by_group_id.sql
Labels: server, database, fix

#1901 Revert disaled by status
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
Labels: client

#1902 add scripts + clean index folder
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/add_chat_status_completed_without_contacts.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/add_chat_status_human_investigation_val.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/add_roles.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/add_was_mutation_updated.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/investigator_reference_reason_change.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/ordered_investigations.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/update_id_type_6.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/update_investigator_by_group_id.sql
  server/src/ScriptRunner/Scripts/index/add_was_updated_after_inv_start.sql
Labels: server, database, feature

#1903 wasUpdatedAfterInvestigationStart note
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoStyles.ts
  client/src/models/InvestigationInfo.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server, feature

#1905 complexity filter
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/ComplexityReason.ts
  client/src/models/enums/InvestigationComplexityCodes.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  client/src/redux/ComplexityReasons/ComplexityReasonsActionCreators.ts
  client/src/redux/ComplexityReasons/ComplexityReasonsActionTypes.ts
  client/src/redux/ComplexityReasons/ComplexityReasonsReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
Labels: client, feature

#1906 select all
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
Labels: client, feature

#1907 db script
  server/src/ScriptRunner/Scripts/index/add_chat_statuses_human_investigation_request.sql
Labels: server, database, feature

#1908 add chat statuses when phone is invalid
  server/src/ScriptRunner/Scripts/index/add_chat_statuses_no_phone.sql
Labels: server, database, feature

#1909 17378/incomplete bot investigations filter update
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/models/enums/ChatStatusCodes.ts
  server/src/ScriptRunner/Scripts/index/function_get_investigation_statistics.sql
Labels: client, server, database

#1911 reset select all when change county
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRowStyles.ts
Labels: client, fix

#1910 loader + disable investigator allocation action
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
Labels: client, fix

#1912 script
  server/src/ScriptRunner/Scripts/index/add_chat_statuses_human_investigation_request.sql
Labels: server, database, feature

#1913 remove fields from contact questioning
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/ContactQuestioningSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/InteractedContactAccordion.tsx
Labels: client, feature

#1904 14945/synchronization streets and cities
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminSynchronizationCitiesStreets/useSynchronizationAction.ts
  server/src/ClientToDBAPI/SynchronizationDataRoute/mainRoute.ts
  server/src/DBService/DataSynchronization/Query.ts
  server/src/DBService/DataSynchronization/mutation.ts
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/add_city_temp.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_25/create_table_data_synchronization.sql
  server/src/ScriptRunner/Scripts/Archive/create_temp_cities_table.sql
  server/src/ScriptRunner/Scripts/Archive/create_temp_streets.sql
  server/src/ScriptRunner/Scripts/index/add_cities_temp.sql
  server/src/ScriptRunner/Scripts/index/add_streets_temp.sql
  server/src/ScriptRunner/Scripts/index/add_sttreet_index.sql
  server/src/ScriptRunner/Scripts/index/get_last_street_id.sql
Labels: client, server, database

#1914 18145/feat/not sent to bot filter
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
Labels: client, feature

#1916 script
  server/src/ScriptRunner/Scripts/index/add_chat_statuses_human_investigation_request.sql
Labels: server, database

#1917 add 30 sec
  server/src/DBService/config.ts
Labels: server

#1918 Change timeout
  server/src/DBService/config.ts
Labels: server

#1920 clean index folder
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/add_chat_statuses_human_investigation_request.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/add_chat_statuses_no_phone.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/add_cities_temp.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/add_streets_temp.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/add_sttreet_index.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/add_was_updated_after_inv_start.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_26/get_last_street_id.sql
Labels: server, database

#1919 order investigations by count or userId
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/ScriptRunner/Scripts/index/ordered_investigations.sql
  server/src/ScriptRunner/Scripts/index/ordered_user_investigations.sql
Labels: server, database, feature
