Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2022-06, with the labels that each got.

#2031 fix rules
  server/src/ScriptRunner/Scripts/index/add_rules_config.sql
Labels: server, database, feature, fix

#2035 :)
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/models/ComplexityReason.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server, feature

#2036 20011/feat/change sub status from investigation table
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server, feature

#2038 20516/feat/db-changes-for-is-contact-from-aboard
  server/src/ScriptRunner/Scripts/index/db_changes_for_is_contact_from_aboard.sql
Labels: server, database, feature

#2039 Clean index folder
  server/src/ScriptRunner/Scripts/Archive/Sprint_32/add_is_active_to_sub_status.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_32/add_rules_config.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_32/add_status_validity_to_complexity_reasons.sql
Labels: server, database

#2040 db script update
  server/src/ScriptRunner/Scripts/index/db_changes_for_is_contact_from_aboard.sql
Labels: server, database, feature

#2041 20518/task/addIsStayAnotherCountryInFamilyBoard
  client/src/Utils/FamilyContactsUtils/FamilyContactsTableHeaders.ts
  client/src/Utils/FamilyContactsUtils/useFamilyContactsUtils.ts
  client/src/models/InvolvedContact.ts
  server/src/ClientToDBAPI/IntersectionsRoute/mainRoute.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetInvolvedContacts.ts
Labels: client, server

#2042 20517/feat/contact questioning contact from aboard fields
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningClinical.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningFieldsNames.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningInfo/ContactDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioningStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactSection/Schemas/contactQuestioningPersonalSchema.ts
  client/src/httpClient/interactedContacts.ts
  client/src/models/InteractedContact.ts
  client/src/models/enums/InteractedContact.ts
  client/src/models/enums/contactQuestioningExcelFields.ts
  server/src/DBService/ContactedPeople/Query.ts
  server/src/Models/ContactedPerson/ContactedPerson.ts
  server/src/ScriptRunner/Scripts/index/update_contact_person.sql
  server/src/ScriptRunner/Scripts/index/update_contact_persons.sql
Labels: client, server, database, feature

#2043 20519/feat/add abroad contact to inv
  client/src/commons/InvestigationComplexity/ComplexityIcon/ComplexityIcon.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/models/InvestigationInfo.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server, feature

#2047 set complexity color to purple
  client/src/commons/InvestigationComplexity/ComplexityIcon/ComplexityIcon.tsx
Labels: client

#2049 unknown 99 added to contact_from_aboard_type
  server/src/ScriptRunner/Scripts/index/db_changes_for_is_contact_from_aboard.sql
Labels: server, database, feature

#2053 Fix admin msgs error test env
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/useApp.ts
Labels: client

#2050 try to find the reason for Slowness
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/models/ComplexityReason.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server, feature

#2054 Fix admin msgs error test env
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
Labels: client

#2055 Fix admin msgs error test env
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/useApp.ts
Labels: client

#2058 Fix admin msgs error test env
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
Labels: client

#2059 Fix admin msgs error test env
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminMessages/adminMessages.tsx
Labels: client

#2060 20011/feat/update sub status
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/models/RulesConfig.ts
  client/src/models/enums/RulesConfigKeys.ts
  client/src/redux/RulesConfig/RulesConfigActionCreator.ts
  client/src/redux/RulesConfig/RulesConfigActionTypes.ts
  client/src/redux/RulesConfig/RulesConfigReducer.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Query.ts
Labels: client, server, feature
