Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2022-03, with the labels that each got.

#1943 UX pagination
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/Pagination/Pagination.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/Pagination/PaginationStyles.ts
Labels: client, feature

#1954 add is abroad color
  client/src/commons/InvestigationComplexity/ComplexityIcon/ComplexityIcon.tsx
Labels: client, feature

#1955 border checkpoint in exposure
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/commons/Contexts/ExposuresAndFlights.ts
  client/src/commons/Schema/messages.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlightsInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BackFromAbroad.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BorderCheckpointForm/BorderCheckpointForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BorderCheckpointForm/BorderCheckpointFormStyles.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/borderCheckpointValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/useExposuresAndFlights.ts
  client/src/httpClient/exposure.ts
  client/src/models/BorderCheckpoint.ts
  client/src/models/BorderCheckpointData.ts
  client/src/models/ExposureAndFlightData.ts
  client/src/models/FlightData.ts
  client/src/models/enums/BorderCheckpointCodes.ts
  client/src/models/enums/FlightNumberCodes.ts
  client/src/redux/BorderCheckpointTypes/BorderCheckpointActionCreator.ts
  client/src/redux/BorderCheckpointTypes/BorderCheckpointTypesActionTypes.ts
  client/src/redux/BorderCheckpointTypes/BorderCheckpointTypesReducer.ts
  client/src/redux/BorderCheckpoints/BorderCheckpointsActionCreator.ts
  client/src/redux/BorderCheckpoints/BorderCheckpointsActionTypes.ts
  client/src/redux/BorderCheckpoints/BorderCheckpointsReducer.ts
  client/src/redux/ExposuresAndFlights/ExposuresAndFlightsActionCreator.ts
  client/src/redux/ExposuresAndFlights/ExposuresAndFlightsActionTypes.ts
  client/src/redux/ExposuresAndFlights/ExposuresAndFlightsReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/ExposureRoute/mainRoute.ts
  server/src/DBService/Exposure/Query.ts
  server/src/Models/Exposure/Exposure.ts
  server/src/Models/Exposure/ExposureByInvestigationId.ts
  server/src/ScriptRunner/Scripts/index/update_exposures_function.sql
Labels: client, server, database, feature

#1956 19089/feat/set complex color
  client/src/commons/InvestigationComplexity/ComplexityIcon/ComplexityIcon.tsx
Labels: client, feature

#1957 canel admin flight actions
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminActions.tsx
  client/src/models/enums/adminActions.ts
Labels: client, feature

#1946 DB scripts
  server/src/ScriptRunner/Scripts/index/add_airline_other_value.sql
  server/src/ScriptRunner/Scripts/index/border_checkpoint_tables.sql
  server/src/ScriptRunner/Scripts/index/exposure_add_border_checkpoint_columns.sql
Labels: server, database, feature

#1958 merge border checkpoint db scripts
  server/src/ScriptRunner/Scripts/index/border_checkpoint_tables.sql
  server/src/ScriptRunner/Scripts/index/exposure_add_border_checkpoint_columns.sql
Labels: server, database, fix

#1959 Bug fixing
  client/src/components/App/Content/LandingPage/InvestigationTable/Pagination/Pagination.tsx
Labels: client, fix

#1960 fix airlines id to string
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/useFlightForm.ts
  client/src/models/Airline.ts
  client/src/redux/Airlines/airlineActionCreators.ts
  client/src/redux/Airlines/airlineActionTypes.ts
  client/src/redux/Airlines/airlineReducer.ts
  server/src/ClientToDBAPI/AirlinesRoute/Flights/getFlightsByAirlineId.ts
  server/src/DBService/Airlines/Query/FLIGHTS_BY_AIRLINE_ID.ts
Labels: client, server

#1962 fix airlines bug
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client

#1964 19227/fix/pagination arrow button
  client/src/components/App/Content/LandingPage/InvestigationTable/Pagination/Pagination.tsx
Labels: client, fix

#1968 add wasInstructedToBeInIsolation field
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/useClinicalDetails.ts
  client/src/httpClient/clinicalDetails.ts
  client/src/models/Contexts/ClinicalDetailsContextData.ts
  client/src/models/enums/ClinicalDetailsFields.ts
  server/src/ClientToDBAPI/ClinicalDetailsRoute/mainRoute.ts
  server/src/DBService/ClinicalDetails/Query.ts
  server/src/Models/ClinicalDetails/ClinicalDetails.ts
  server/src/ScriptRunner/Scripts/index/add_instructed_isolation_column.sql
  server/src/ScriptRunner/Scripts/index/save_clinical_details.sql
Labels: client, server, database, feature

#1967 bug fixing
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client, fix

#1965 bug fixing
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client, fix

#1966 Bug fixing
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client, fix

#1973 19134/feat/add meeting with another patient
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/EditInteractionEventDialog/EditInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/NewInteractionEventDialog/NewInteractionEventDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/useInteractionsTab.ts
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  client/src/styles/formStyles.ts
  server/src/DBService/ContactEvent/Query.ts
  server/src/Models/ContactEvent/GetContactEvent.ts
  server/src/ScriptRunner/Scripts/index/add_new_event_columns.sql
  server/src/ScriptRunner/Scripts/index/update_contact_event_function.sql
Labels: client, server, database, feature

#1969 19003/feat/resize desk filter
  client/src/commons/SearchBar/SearchBarStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/DeskFilter/DeskFilterStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/Pagination/PaginationStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilterStyles.ts
Labels: client, feature

#1974 Bug fixing
  client/src/Utils/ControllerHooks/useExposuresSaving.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BorderCheckpointForm/BorderCheckpointForm.tsx
Labels: client, fix

#1976 ui changes
  client/src/commons/DatePick/TimePick.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BorderCheckpointForm/BorderCheckpointForm.tsx
Labels: client, feature

#1975 add-flight-number-admin-action
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminActions.tsx
  client/src/components/App/Content/LandingPage/adminLandingPage/adminActions/adminDBAction/adminDBAction.tsx
  client/src/models/enums/adminActions.ts
  server/src/DBService/Airlines/Mutation.ts/ADD_FLIGHT.ts
Labels: client, server, fix

#1977 fix date bug and scripts
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/models/enums/FlightNumberCodes.ts
  server/src/ScriptRunner/Scripts/index/add_airline_other_value.sql
  server/src/ScriptRunner/Scripts/index/border_checkpoint_tables.sql
Labels: client, server, database, fix

#1978 fix card duplicate bug
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
Labels: client

#1979 Fix all interaction bugs bar
  client/src/Utils/ClinicalDetails/symptomsUtils.ts
  client/src/commons/BigAlphanumericTextField/BigAlphanumericTextField.tsx
  client/src/commons/BigAlphanumericTextField/BigAlphanumericTextFieldTypes.ts
  client/src/commons/Icons/errorIcon/ErrorIcon.tsx
  client/src/commons/Icons/errorIcon/ErrorIconStyles.ts
  client/src/commons/Schema/messages.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/ContactDateCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/InteractionCard/InteractionCard.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionLocationFields/BusinessContactForm/BusinessContactForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/models/Contexts/InteractionEventDialogData.ts
  client/src/models/enums/InteractionsEventDialogContext/InteractionEventDialogFields.ts
  client/src/styles/formStyles.ts
Labels: client

#1980 18524/fix/sub status in progress
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationStatusColumn/InvestigationStatusColumn.tsx
  client/src/httpClient/investigationInfo.ts
  server/src/ScriptRunner/Scripts/index/sub_status_add_value.sql
Labels: client, server, database, fix

#1981 hide flight seat num field
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
  server/src/ScriptRunner/Scripts/index/update_exposures_function.sql
Labels: client, server, database, feature
