Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2022-05, with the labels that each got.

#2013 19795/fix/add new desk
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
  server/src/ScriptRunner/Scripts/index/add_new_conty_transition_archive.sql
  server/src/ScriptRunner/Scripts/index/add_new_desk_transition_archive.sql
Labels: client, server, database, fix

#2014 19860/fix/last updator user
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
  server/src/DBService/Users/Mutation.ts
  server/src/ScriptRunner/Scripts/index/history_investigation_tables.sql
Labels: server, database, fix

#2015 19837/fix/fix limitation fields
  client/src/commons/AlphanumericTextSpecialChars/AlphanumericTextSpecialCharsField.tsx
  client/src/commons/AlphanumericTextSpecialChars/AlphanumericTextSpecialCharsFieldTypes.ts
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/commons/Regex/Regex.ts
  client/src/commons/Schema/messages.ts
Labels: client, fix

#2016 bug fixing
  server/src/ScriptRunner/Scripts/index/history_investigation_tables.sql
Labels: server, database, fix

#2017 Bug fixing
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
Labels: server, fix

#2018 clean archive folder + sprint 30 scripts
  server/src/ScriptRunner/Scripts/Archive/Sprint_30/add_new_desk_transition_archive.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_30/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_30/history_investigation_tables.sql
  server/src/ScriptRunner/Scripts/Archive/old/BLK_airline_changes.sql
  server/src/ScriptRunner/Scripts/Archive/old/BLK_new_identification_type.sql
  server/src/ScriptRunner/Scripts/Archive/old/CoronaDbDDL.sql
  server/src/ScriptRunner/Scripts/Archive/old/add_contacts_from_bank.sql
  server/src/ScriptRunner/Scripts/Archive/old/add_is_displayed_column.sql
  server/src/ScriptRunner/Scripts/Archive/old/add_place_sub_types.sql
  server/src/ScriptRunner/Scripts/Archive/old/add_place_types.sql
  server/src/ScriptRunner/Scripts/Archive/old/add_static_fields_to_investigation.sql
  server/src/ScriptRunner/Scripts/Archive/old/add_was_in_vacation_or_event_columns.sql
  server/src/ScriptRunner/Scripts/Archive/old/admin_investigations_function.sql
  server/src/ScriptRunner/Scripts/Archive/old/age_complexity_reason.sql
  server/src/ScriptRunner/Scripts/Archive/old/archive_investigation.sql
  server/src/ScriptRunner/Scripts/Archive/old/calc_investigation_age_complexity_reason.sql
  server/src/ScriptRunner/Scripts/Archive/old/calc_investigation_complexity.sql
  server/src/ScriptRunner/Scripts/Archive/old/calc_patient_age.sql
  server/src/ScriptRunner/Scripts/Archive/old/chage_place_type_to_other.sql
  server/src/ScriptRunner/Scripts/Archive/old/close_isolate_contacts.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_admin_messages_table.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_function_delete_investigation_id.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_function_update_investigation_id.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_grouped_investigations.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_new_columns_in_investigation_and_investigation_complexity_reasons.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_new_user.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_temp_cities_table.sql
  server/src/ScriptRunner/Scripts/Archive/old/create_temp_streets.sql
  server/src/ScriptRunner/Scripts/Archive/old/deactivate_all_county_users.sql
  server/src/ScriptRunner/Scripts/Archive/old/delete_contact_event_function.sql
  server/src/ScriptRunner/Scripts/Archive/old/delete_contact_events_before_date.sql
  server/src/ScriptRunner/Scripts/Archive/old/delete_contacted_person_function.sql
  server/src/ScriptRunner/Scripts/Archive/old/delete_investigation.sql
  server/src/ScriptRunner/Scripts/Archive/old/disband_group_ids.sql
  server/src/ScriptRunner/Scripts/Archive/old/duplicate_person_by_id.sql
  server/src/ScriptRunner/Scripts/Archive/old/exclude_investigation_from_group.sql
  server/src/ScriptRunner/Scripts/Archive/old/function_get_investigation_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/old/function_get_investigations_statistics.sql
  server/src/ScriptRunner/Scripts/Archive/old/function_save_clinical_details.sql
  server/src/ScriptRunner/Scripts/Archive/old/get_investigator_list_by_county_function.sql
  server/src/ScriptRunner/Scripts/Archive/old/insert_and_get_address_id.sql
  server/src/ScriptRunner/Scripts/Archive/old/new_desk.sql
  server/src/ScriptRunner/Scripts/Archive/old/ordered_investigations.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_contact_event_function.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_contact_person.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_exposures_function.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_green_pass_information.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_grouped_investigations.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_investigation_county_by_epidemiology_numbers.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_investigation_desk_by_epidemiology_numbers.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_investigator_by_group_id.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_static_info.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_tracking_recommendation.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_user_by_form.sql
  server/src/ScriptRunner/Scripts/Archive/old/update_user_district.sql
Labels: server, database

#2019 bug fixing
  server/src/DBService/LandingPage/Query.ts
Labels: server, fix

#2020 vaccine dose filter
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/httpClient/investigationInfo.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  client/src/redux/VaccineDoses/VaccineDosesActionCreator.ts
  client/src/redux/VaccineDoses/VaccineDosesActionTypes.ts
  client/src/redux/VaccineDoses/VaccineDosesReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/ScriptRunner/Scripts/index/vaccine_doses_tables.sql
Labels: client, server, database, feature

#2022 fix
  client/src/Utils/ComplexityReasons/ComplexityReasonsFunctions.ts
Labels: client, fix

#2023 fix flight number field
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/FlightsForm/FlightsForm.tsx
Labels: client, fix

#2024 add @ to regex
  client/src/commons/Regex/Regex.ts
Labels: client, fix

#2025 fix
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/InteractionEventForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/PlaceNameForm/PlaceNameForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionEventForm/InteractionSection/Schema/InteractionEventSchema.ts
Labels: client

#2028 Bug Fixing
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/ContactQuestioning.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/redux/InteractedContacts/interactedContactsActionCreators.ts
  client/src/redux/InteractedContacts/interactedContactsActionTypes.ts
  client/src/redux/InteractedContacts/interactedContactsReducer.ts
  server/src/ScriptRunner/Scripts/index/add_rules_config.sql
Labels: client, server, database, fix

#2030 fix contact event place name bug
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionDialog/InteractionDialog.tsx
Labels: client, fix

#2029 20011/feat/update sub status for uninvestigations
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/ScriptRunner/Scripts/Archive/get_fallin_investigation.sql
  server/src/ScriptRunner/Scripts/index/add_is_active_to_sub_status.sql
  server/src/ScriptRunner/Scripts/index/add_rules_config.sql
  server/src/ScriptRunner/Scripts/index/add_status_validity_to_complexity_reasons.sql
Labels: server, database, feature
