Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2022-02, with the labels that each got.

#1924 18248/feat/general investigation info save
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/InvestigationForm/TrackingRecommendation/TrackingRecommendationForm.tsx
  client/src/httpClient/investigationInfo.ts
  client/src/models/InvestigatedPatient.ts
  client/src/models/InvestigationRedux.ts
  client/src/models/enums/InvestigationChatStatusCodes.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, server, feature

#1925 18217/feat/new status component
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfoInterfaces.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
Labels: client, feature

#1926 18247/feat/disable investigation because of status
  client/src/components/App/Content/InvestigationForm/InvestigationForm.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigationInfoBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/SettingsActions.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/SettingsActions/useSettingsActions.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, server, feature

#1927 18248/feat/investigation info save in tab management
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationStatusInfo/InvestigationStatusInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
  client/src/components/App/Content/InvestigationForm/useInvestigationForm.ts
  client/src/models/InvestigationRedux.ts
  client/src/redux/Investigation/investigationActionCreators.ts
  client/src/redux/Investigation/investigationActionTypes.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client, server, feature

#1928 18248/feat/investigation comment
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialog.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentDialogStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/CommentDialog/CommentInput.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/InvestagationMenu.test.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/InvestigationMenu.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigationMenu/InvestigationMenuStyles.ts
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
  client/src/httpClient/investigationInfo.ts
  client/src/models/InvestigationRedux.ts
  client/src/redux/Investigation/investigationReducer.ts
Labels: client, tests, feature

#1931 db script
  server/src/ScriptRunner/Scripts/index/update_investigation_start_time.sql
Labels: server, database, fix

#1932 loader in tab management
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ContactQuestioning/useContactQuestioning.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/ExposuresAndFlights.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/InteractionsTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/TabManagement.tsx
Labels: client, fix

#1935 tooltip wording
  client/src/components/App/Content/InvestigationForm/TabManagement/InteractionsTab/ContactDateCard/RepetitiveEventIcon.tsx
Labels: client, fix

#1937 Bug fixing
  client/src/commons/SearchBar/FilterTableSearchBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
Labels: client, fix

#1936 reset complexity reason filter when complexity filter is inactive
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, fix

#1938 Bug fixing
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, fix

#1939 UX grid changes
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/CommentCell/CommentCell.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/CommentCell/commentCellStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRowStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
Labels: client, feature

#1940 Admin Messages - UX
  client/src/components/App/AppToolbar/AppToolbar.tsx
  client/src/components/App/AppToolbar/AppToolbarStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigatorAllocation/InvestigatorAllocationCellStyles.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessages.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/adminMessages/adminMessegesStyles.ts
Labels: client, feature

#1933 update contacts scripts
  server/src/ScriptRunner/Scripts/index/add_column_db_taker_properties.sql
  server/src/ScriptRunner/Scripts/index/add_new_contact_columns.sql
  server/src/ScriptRunner/Scripts/index/new_trigger.sql
  server/src/ScriptRunner/Scripts/index/update_contact_persons.sql
Labels: server, database

#1941 Cancel sending admin msgs only to filtered desks
  client/src/components/App/Content/LandingPage/adminLandingPage/adminLandingPage.tsx
Labels: client, feature

#1942 Bug Fixing + delete unused imports
  client/src/commons/SearchBar/FilterTableSearchBar.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
Labels: client, fix

#1944 move func
  server/src/ScriptRunner/Scripts/Archive/Sprint_28/add_column_db_taker_properties.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_28/add_new_contact_columns.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_28/new_trigger.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_28/update_contact_event_function.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_28/update_contact_persons.sql
  server/src/ScriptRunner/Scripts/Archive/Sprint_28/update_investigation_start_time.sql
  server/src/ScriptRunner/Scripts/Archive/update_contact_persons.sql
Labels: server, database

#1947 Check if personal info tab changed before saving
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabInterfaces.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/usePersonalInfoTab/index.ts
  client/src/httpClient/personalInfo.ts
  client/src/redux/PersonalInfo/personalInfoActionCreators.ts
  client/src/redux/PersonalInfo/personalInfoActionTypes.ts
  client/src/redux/PersonalInfo/personalInfoReducer.ts
Labels: client, feature

#1948 update personal details- db function
  server/src/ClientToDBAPI/PersonalDetailsRoute/mainRoute.ts
  server/src/DBService/PersonalDetails/Mutation.ts
  server/src/ScriptRunner/Scripts/index/update_personal_details.sql
Labels: server, database, feature

#1949 fix bug saveInvestigationInfo called twice
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/InvestigatedPersonInfo.tsx
  client/src/components/App/Content/InvestigationForm/InvestigationInfo/InvestigatedPersonInfo/useInvestigatedPersonInfo.ts
Labels: client, fix

#1950 db script
  server/src/ScriptRunner/Scripts/index/calc_investigation_complexity.sql
Labels: server, database, feature
