Repository CoronaTeamMOD/CoronaInvestigation, pull requests merged in 2022-07, with the labels that each got.

#2064 20011/feat/update sub status
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
Labels: server, feature

#2067 20011/feat/update sub status
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Query.ts
  server/src/DBService/LandingPage/Query.ts
Labels: client, server, feature

#2068 20011/feat/update sub status
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  server/src/ClientToDBAPI/InvestigationInfo/mainRoute.ts
  server/src/DBService/InvestigationInfo/Mutation.ts
Labels: client, server, feature

#2069 20957/feat/remove required field
  client/src/commons/Forms/PlacesTypesAndSubTypes/PlacesTypesAndSubTypes.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetailsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/ExposureForm/ExposureForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposureValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/exposuresAndFlightsSchema.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/flightsValidation.ts
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTabValidationSchema.ts
Labels: client, feature

#2026 log level
  client/src/logger/logger.ts
  client/src/models/Logger.ts
  server/src/DBService/config.ts
  server/src/Logger/Logger.ts
Labels: client, server, feature

#2072 Revert "log level (#2026)"
  client/src/logger/logger.ts
  client/src/models/Logger.ts
  server/src/DBService/config.ts
  server/src/Logger/Logger.ts
Labels: client, server

#2071 21108/feat/insert-new-group-reason
  server/src/ScriptRunner/Scripts/index/insert_group_reason.sql
Labels: server, database, feature

#2075 add
  client/src/commons/Forms/AddressForm/AddressForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ClinicalDetails/ClinicalDetails.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BorderCheckpointForm/BorderCheckpointForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/PersonalInfoTab/PersonalInfoTab.tsx
Labels: client, fix

#2076 21099/feat/transfer reason filter
  client/src/components/App/Content/LandingPage/InvestigationTable/FilterCreators.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationIndicatorsColumn/InvestigationIndicatorsColumn.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTable.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/InvestigationTableFooterInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCounty.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationCountySchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDesk.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationDeskSchema.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationInputsNames.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabs.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/TransferInvestigationsDialogs/TransferInvestigationTabsDialog.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableFooter/useInvestigationTableFooter.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableInterfaces.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTableRow/InvestigationTableRow.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/InvestigationTablesHeaders.ts
  client/src/components/App/Content/LandingPage/InvestigationTable/TableFilter/TableFilter.tsx
  client/src/components/App/Content/LandingPage/InvestigationTable/useInvestigationTable.ts
  client/src/httpClient/InvestigationTable.ts
  client/src/models/InvestigationTableRow.ts
  client/src/models/enums/InvestigationsFilterByFields.ts
  client/src/models/enums/TransferReasonCodes.ts
  client/src/redux/TransferReason/TransferReasonActionCreator.ts
  client/src/redux/TransferReason/TransferReasonActionTypes.ts
  client/src/redux/TransferReason/TransferReasonReducer.ts
  client/src/redux/rootReducers.ts
  client/src/redux/storeStateType.ts
  server/src/ClientToDBAPI/LandingPageRoute/mainRoute.ts
  server/src/ClientToDBAPI/LandingPageRoute/utils.ts
  server/src/ClientToDBAPI/UsersRoute/mainRoute.ts
  server/src/DBService/LandingPage/Mutation.ts
  server/src/DBService/LandingPage/Query.ts
  server/src/DBService/Users/Mutation.ts
  server/src/ScriptRunner/Scripts/index/transfer_reason_table.sql
  server/src/ScriptRunner/Scripts/index/update_desk_by_group_id.sql
  server/src/ScriptRunner/Scripts/index/update_investigation_county_by_epidemiology_numbers.sql
  server/src/ScriptRunner/Scripts/index/update_investigation_desk_by_epidemiology_numbers.sql
  server/src/ScriptRunner/Scripts/index/update_investigator_by_group_id.sql
Labels: client, server, database, feature

#2077 change to required
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Forms/BorderCheckpointForm/BorderCheckpointForm.tsx
  client/src/components/App/Content/InvestigationForm/TabManagement/ExposuresAndFlights/Schema/borderCheckpointValidation.ts
Labels: client, fix
